@charset  "windows-1252";

@import  "font-awesome.css";

.somediv {
}

.evenrow1 {
    margin: 0;
    padding: 10px 5px 10px 10px;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: #fff;
}

.evenrow1:hover {
    margin: 0;
    padding: 10px 5px 10px 10px;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: #fff8f8;
}

.oddrow_public {
    margin: 0;
    padding: 10px 5px 10px 10px;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: #e0ffff;
}

.oddrow_public:hover {
    margin: 0;
    padding: 10px 5px 10px 10px;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: #f8f8ff;
}

.oddrow_private {
    margin: 0;
    padding: 10px 5px 10px 10px;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: #e0f1f1;
}

.oddrow_private:hover {
    margin: 0;
    padding: 10px 5px 10px 10px;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: #f8f8ff;
}

.oddrow_saved {
    margin: 0;
    padding: 10px 5px 10px 10px;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: #e0f5f5;
}

.oddrow_saved:hover {
    margin: 0;
    padding: 10px 5px 10px 10px;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: #f8f8ff;
}

#showmaildivcontent {
    align-content: initial;
    align-items: initial;
    align-self: initial;
    alignment-baseline: initial;
    animation: initial;
    backface-visibility: initial;
    background: initial;
}

.round-button-on {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 25px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
    color: #000;
    text-align: center;
    text-decoration: none;
    box-shadow: gray 0 0 3px;
    font-size: 13px;
    background: #90ee90;
}

.round-button-on:hover {
    background: green;
}

.round-button-off {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 25px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
    color: #f6f6f6;
    text-align: center;
    text-decoration: none;
    box-shadow: gray 0 0 3px;
    font-size: 13px;
    background: #8b0000;
}

.round-button-off:hover {
    background: red;
}

#showmaildivcontent::before,#showmaildivcontent::after,#showmaildivcontent *,#showmaildivcontent ::before,#showmaildivcontent ::after {
    align-content: initial;
    align-items: initial;
    align-self: initial;
}

.red {
    background-color: red;
}

input[type="checkbox"] {
    display: none;
    color: red;
}

input[type="checkbox"] + label::before {
    font-family: FontAwesome;
    display: inline-block;
}

input[type="checkbox"] + label::before {
    content: "&#61590;";
}

input[type="checkbox"] + label::before {
    letter-spacing: 10px;
}

input[type="checkbox"]:checked + label::before {
    content: "&#61510;";
}

input[type="checkbox"]:checked + label::before {
    letter-spacing: 5px;
}

.outermail {
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.innermail {
    overflow: hidden;
    padding: 8px 0 0;
    margin: 0;
}

.someviewport {
    overflow: auto;
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    max-height: 100%;
    margin: 0 -100px 0 0;
    padding: 0 100px 0 0;
    height: 850px;
}
