@charset "utf-8";

.-tkb-main-wrapper, .-tkb-main-wrapper *, .-tkb-main-wrapper ::before, .-tkb-main-wrapper ::after { box-sizing: border-box; }

.-tkb-main-wrapper a:hover, .-tkb-main-wrapper a:active, .-tkb-main-wrapper a:focus { outline: 0px; }

.-tkb-main-wrapper img { border: 0px none; }

.-tkb-main-wrapper { color: rgb(132, 132, 132); font-family: Helvetica, "Helvetica Neue", Arial; font-size: 13px; font-weight: bold; margin: 0px; padding: 0px; text-align: left; transition-property: opacity; transition-duration: 0.45s; transition-timing-function: linear; }

.-tkb-main-wrapper .-tkb-service-link { color: rgb(132, 132, 132); outline: none 0px; text-decoration: none; }

.-tkb-main-wrapper.-tkb-style-01 { box-sizing: border-box; height: 43px; opacity: 1; position: relative; border-radius: 4px; background: url("../img/button-01.png") 0px 0px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-01 .-tkb-main { height: 100%; margin: 0px 11px; position: relative; border-radius: 4px; }

.-tkb-main-wrapper.-tkb-style-01 .-tkb-state-normal { cursor: pointer; height: 33px; position: relative; top: 6px; width: 100%; background: url("../img/button-01.png") 0px -70px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-01 .-tkb-state-normal::before { content: ""; height: 33px; left: -6px; position: absolute; top: 0px; width: 6px; background: url("../img/button-01.png") 0px -220px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-01 .-tkb-state-normal::after { content: ""; height: 33px; position: absolute; right: -6px; top: 0px; width: 6px; background: url("../img/button-01.png") -50px -220px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-01 .-tkb-state-normal .-tkb-button-main { height: 100%; line-height: 30px; position: relative; text-align: center; width: 50%; }

.-tkb-main-wrapper.-tkb-style-01 .-tkb-state-normal .-tkb-button-offer { color: rgb(255, 255, 255); height: 36px; line-height: 36px; position: absolute; right: 12%; text-align: center; top: -3px; width: 30%; background: url("../img/button-01.png") 0px -120px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-01 .-tkb-state-normal .-tkb-button-offer::before { content: ""; height: 36px; left: -21px; position: absolute; top: 0px; width: 21px; background: url("../img/button-01.png") -100px -220px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-01 .-tkb-state-normal .-tkb-button-offer::after { content: ""; height: 36px; position: absolute; right: -21px; top: 0px; width: 21px; background: url("../img/button-01.png") -150px -220px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-01 .-tkb-state-hovered { cursor: pointer; height: 33px; left: 0px; opacity: 0; position: absolute; top: 6px; width: 100%; z-index: 1; transition-property: opacity; transition-duration: 0.35s; transition-timing-function: linear; }

.-tkb-main-wrapper.-tkb-style-01 .-tkb-state-normal:hover + .-tkb-state-hovered, .-tkb-main-wrapper.-tkb-style-01 .-tkb-state-hovered:hover { opacity: 1 !important; }

.-tkb-main-wrapper.-tkb-style-01 .-tkb-state-hovered .-tkb-button-main { color: rgb(233, 152, 59); height: 100%; line-height: 30px; text-align: center; width: 50%; }

.-tkb-main-wrapper.-tkb-style-01 .-tkb-state-hovered .-tkb-button-offer { color: rgb(255, 255, 255); height: 36px; line-height: 36px; position: absolute; right: 12%; text-align: center; top: -3px; width: 30%; background: url("../img/button-01.png") 0px -170px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-01 .-tkb-state-hovered .-tkb-button-offer::before { content: ""; height: 36px; left: -21px; position: absolute; top: 0px; width: 21px; background: url("../img/button-01.png") -200px -220px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-01 .-tkb-state-hovered .-tkb-button-offer::after { content: ""; height: 36px; position: absolute; right: -21px; top: 0px; width: 21px; z-index: 1; background: url("../img/button-01.png") -250px -220px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-02 { box-sizing: border-box; height: 33px; opacity: 1; position: relative; border-radius: 4px; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-main { height: 100%; margin: 0px 5px; position: relative; border-radius: 4px; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-state-normal { cursor: pointer; height: 33px; position: relative; top: 0px; width: 100%; background: url("../img/button-02.png") 0px 0px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-state-normal::before { content: ""; height: 33px; left: -6px; position: absolute; top: 0px; width: 6px; background: url("../img/button-02.png") 0px -150px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-state-normal::after { content: ""; height: 33px; position: absolute; right: -6px; top: 0px; width: 6px; background: url("../img/button-02.png") -50px -150px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-state-normal .-tkb-button-main { height: 100%; line-height: 30px; padding-left: 4%; position: relative; text-align: left; width: 65%; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-state-normal .-tkb-button-main .-tkb-icon-order { height: 18px; position: absolute; right: 4%; top: 6px; width: 17px; background: url("../img/button-02.png") 0px -200px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-state-normal .-tkb-button-offer { color: rgb(255, 255, 255); height: 30px; line-height: 30px; position: absolute; right: 0px; text-align: center; top: 0px; width: 30%; background: url("../img/button-02.png") 0px -50px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-state-normal .-tkb-button-offer::before { content: ""; height: 30px; left: -10px; position: absolute; top: 0px; width: 10px; background: url("../img/button-02.png") -100px -150px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-state-normal .-tkb-button-offer::after { content: ""; height: 30px; position: absolute; right: -5px; top: 0px; width: 5px; z-index: 1; background: url("../img/button-02.png") -150px -150px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-state-hovered { cursor: pointer; height: 33px; left: 0px; opacity: 0; position: absolute; top: 0px; width: 100%; z-index: 1; transition-property: opacity; transition-duration: 0.35s; transition-timing-function: linear; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-state-normal:hover + .-tkb-state-hovered, .-tkb-main-wrapper.-tkb-style-02 .-tkb-state-hovered:hover { opacity: 1 !important; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-state-hovered .-tkb-button-main { color: rgb(233, 152, 59); height: 100%; line-height: 30px; padding-left: 4%; position: relative; text-align: left; width: 65%; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-state-hovered .-tkb-button-main .-tkb-icon-order { height: 18px; position: absolute; right: 4%; top: 6px; width: 17px; background: url("../img/button-02.png") 0px -200px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-state-hovered .-tkb-button-offer { color: rgb(255, 255, 255); height: 30px; line-height: 30px; position: absolute; right: 0px; text-align: center; top: 0px; width: 30%; background: url("../img/button-02.png") 0px -100px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-state-hovered .-tkb-button-offer::before { content: ""; height: 30px; left: -10px; position: absolute; top: 0px; width: 10px; background: url("../img/button-02.png") -200px -150px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-state-hovered .-tkb-button-offer::after { content: ""; height: 30px; position: absolute; right: -5px; top: 0px; width: 5px; z-index: 1; background: url("../img/button-02.png") -250px -150px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-02 .-tkb-copyright { bottom: 0px; height: 8px; position: absolute; right: -4px; width: 69px; background: url("../img/button-02.png") 0px -280px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-03 { border-radius: 4px; box-sizing: border-box; height: 33px; position: relative; }

.-tkb-main-wrapper.-tkb-style-03 .-tkb-main { border-radius: 4px; height: 100%; margin: 0px 5px; position: relative; }

.-tkb-main-wrapper.-tkb-style-03 .-tkb-state-normal { cursor: pointer; height: 33px; position: relative; top: 0px; width: 100%; background: url("../img/button-03.png") 0px -120px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-03 .-tkb-state-normal::before { content: ""; height: 33px; left: -6px; position: absolute; top: 0px; width: 6px; background: url("../img/button-03.png") 0px -340px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-03 .-tkb-state-normal::after { content: ""; height: 33px; position: absolute; right: -6px; top: 0px; width: 6px; background: url("../img/button-03.png") -50px -340px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-03 .-tkb-state-normal .-tkb-button-main { color: rgb(255, 255, 255); height: 100%; line-height: 30px; position: relative; text-align: center; width: 55%; }

.-tkb-main-wrapper.-tkb-style-03 .-tkb-state-normal .-tkb-button-offer { color: rgb(255, 255, 255); height: 30px; line-height: 30px; position: absolute; right: 0px; text-align: center; top: 0px; width: 38%; background: url("../img/button-03.png") 0px -230px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-03 .-tkb-state-normal .-tkb-button-offer::before { content: ""; height: 30px; left: -10px; position: absolute; top: 0px; width: 10px; z-index: 1; background: url("../img/button-03.png") -200px -280px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-03 .-tkb-state-normal .-tkb-button-offer::after { content: ""; height: 30px; position: absolute; right: -5px; top: 0px; width: 5px; z-index: 1; background: url("../img/button-03.png") -250px -280px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-03 .-tkb-state-hovered { cursor: pointer; height: 33px; left: 0px; opacity: 0; position: absolute; top: 0px; width: 100%; transition-property: opacity; transition-duration: 0.35s; transition-timing-function: linear; background: url("../img/button-03.png") 0px -70px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-03 .-tkb-state-hovered::before { content: ""; height: 33px; left: -6px; position: absolute; top: 0px; width: 6px; z-index: 1; background: url("../img/button-03.png") 0px -280px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-03 .-tkb-state-hovered::after { content: ""; height: 33px; position: absolute; right: -6px; top: 0px; width: 6px; z-index: 1; background: url("../img/button-03.png") -50px -280px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-03 .-tkb-state-hovered .-tkb-button-main { color: rgb(132, 132, 132); height: 100%; line-height: 30px; position: relative; text-align: center; width: 55%; }

.-tkb-main-wrapper.-tkb-style-03 .-tkb-state-hovered .-tkb-button-offer { color: rgb(255, 255, 255); height: 30px; line-height: 30px; position: absolute; right: 0px; text-align: center; top: 0px; width: 38%; background: url("../img/button-03.png") 0px -180px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-03 .-tkb-state-hovered .-tkb-button-offer::before { content: ""; height: 30px; left: -10px; position: absolute; top: 0px; width: 10px; background: url("../img/button-03.png") -100px -280px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-03 .-tkb-state-hovered .-tkb-button-offer::after { content: ""; height: 30px; position: absolute; right: -5px; top: 0px; width: 5px; z-index: 2; background: url("../img/button-03.png") -150px -280px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-style-03 .-tkb-state-normal:hover + .-tkb-state-hovered, .-tkb-main-wrapper.-tkb-style-03 .-tkb-state-hovered:hover { opacity: 1 !important; }

.-tkb-main-wrapper.-tkb-no-offer.-tkb-style-01 .-tkb-state-normal .-tkb-button-main, .-tkb-main-wrapper.-tkb-no-offer.-tkb-style-01 .-tkb-state-hovered .-tkb-button-main, .-tkb-main-wrapper.-tkb-no-offer.-tkb-style-02 .-tkb-state-normal .-tkb-button-main, .-tkb-main-wrapper.-tkb-no-offer.-tkb-style-02 .-tkb-state-hovered .-tkb-button-main, .-tkb-main-wrapper.-tkb-no-offer.-tkb-style-03 .-tkb-state-normal .-tkb-button-main, .-tkb-main-wrapper.-tkb-no-offer.-tkb-style-03 .-tkb-state-hovered .-tkb-button-main { width: 100%; }

.-tkb-main-wrapper.-tkb-no-offer.-tkb-style-02 .-tkb-state-normal .-tkb-button-main .-tkb-icon-order { right: 8%; }

.-tkb-main-wrapper.-tkb-no-offer.-tkb-style-02 .-tkb-state-hovered .-tkb-button-main { padding-left: 8%; width: 100%; }

.-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-01 .-tkb-state-hovered .-tkb-button-main, .-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-02 .-tkb-state-hovered .-tkb-button-main { color: rgb(132, 132, 132) !important; }

.-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-01 .-tkb-state-hovered:hover .-tkb-button-main, .-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-02 .-tkb-state-hovered:hover .-tkb-button-main { color: rgb(233, 152, 59) !important; }

.-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-03 .-tkb-state-normal, .-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-03 .-tkb-state-normal .-tkb-button-offer { background: none !important; }

.-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-03 .-tkb-state-normal::before, .-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-03 .-tkb-state-normal .-tkb-button-offer::before { background: none; }

.-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-03 .-tkb-state-normal::after, .-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-03 .-tkb-state-normal .-tkb-button-offer::after { background: none; }

.-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-03 .-tkb-state-hovered { background: url("../img/button-03.png") 0px -120px repeat scroll transparent !important; }

.-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-03 .-tkb-state-hovered::before { background: url("../img/button-03.png") 0px -340px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-03 .-tkb-state-hovered::after { background: url("../img/button-03.png") -50px -340px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-03 .-tkb-state-hovered .-tkb-button-offer { background: url("../img/button-03.png") 0px -230px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-03 .-tkb-state-hovered .-tkb-button-offer::before { background: url("../img/button-03.png") -200px -280px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-03 .-tkb-state-hovered .-tkb-button-offer::after { background: url("../img/button-03.png") -250px -280px repeat scroll transparent; }

.-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-03 .-tkb-state-hovered .-tkb-button-main { color: rgb(240, 240, 240) !important; }

.-tkb-main-wrapper.-tkb-is-ie8.-tkb-style-03 .-tkb-state-hovered:hover .-tkb-button-main { color: rgb(255, 255, 255) !important; }

@media only screen and (min-width: 480px) { 
}

@media only screen and (min-width: 768px) { 
}

@media only screen and (min-width: 960px) { 
}

.-tkb-main-wrapper .-tkb-clearfix::before, .-tkb-main-wrapper .-tkb-clearfix::after { content: " "; display: table; }

.-tkb-main-wrapper .-tkb-clearfix::after { clear: both; }

.-tkb-main-wrapper .-tkb-clearfix { }
