@charset "utf-8";

canvas { position: absolute; }

#whiteboard { position: relative; cursor: default; }

#labeltextbox { position: absolute; display: none; z-index: 3000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; }

#measurestring { position: absolute; visibility: hidden; }

#console { position: absolute; z-index: 3000; height: 100px; }

#controlcontainer { text-align: center; }

.WhiteboardContextMenu { position: absolute; width: 150px; display: none; border: 1px solid rgb(229, 229, 229); border-radius: 5px; box-shadow: rgb(102, 102, 102) 0px 0px 8px; z-index: 3000; background: rgb(242, 242, 242); }

.WhiteboardWrapper { margin: 30px; display: none; }

.WhiteboardContainer { position: relative; border: 1px solid rgb(204, 204, 204); border-radius: 5px; line-height: 160%; }

.WhiteboardControlContainer { position: absolute; top: 10px; right: 20px; white-space: nowrap; z-index: 3000; }

.WhiteboardControlButton { display: inline-table; height: 32px; width: 32px; margin-left: 5px; border: 1px solid rgb(229, 229, 229); cursor: pointer; border-radius: 50%; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset; background-color: rgb(242, 242, 242); }

.WhiteboardControlButtonHover { display: inline-table; height: 32px; width: 32px; margin-left: 5px; border: 1px solid rgb(193, 207, 231); cursor: pointer; border-radius: 50%; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset; background-color: rgb(219, 227, 241); }

.WhiteboardControlButtonClick { display: inline-table; height: 32px; width: 32px; margin-left: 5px; border: 1px solid rgb(153, 179, 217); white-space: nowrap; cursor: pointer; border-radius: 50%; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset; background-color: rgb(212, 221, 238); }

.WhiteboardControlButton *, .WhiteboardControlButtonHover *, .WhiteboardControlButtonClick * { display: table-cell; vertical-align: middle; margin-left: auto; margin-right: auto; border: 0px; }

.WhiteboardLabel { position: absolute; height: 100%; width: 100%; cursor: text !important; }

.WhiteboardLabel * { cursor: text !important; }

.WhiteboardDraw { position: absolute; height: 100%; width: 100%; cursor: crosshair !important; }

.WhiteboardDraw * { cursor: crosshair !important; }

.ShapeLayer { position: absolute; border: 1px dashed transparent; margin: -1px; font-weight: bold; background-color: transparent; }

.ShapeLayerActive { position: absolute; cursor: move; border: 1px dashed green; margin: -1px; font-weight: bold; }

.PointLayer { position: absolute; }

.PointLayerActive { position: absolute; cursor: move; }

.Point { position: absolute; color: black; background-color: rgb(74, 106, 173); }

.PointActive { position: absolute; color: green; cursor: pointer; background-color: green; }

.Intersection { position: absolute; color: black; background-color: rgb(187, 69, 69); }

.Label { font-family: Arial, Helvetica, sans-serif; font-size: 12pt !important; font-weight: bold !important; padding-left: 2px !important; }

.GridHeader { font-size: 11pt; font-weight: bold; margin-bottom: 10px; padding: 5px; }

.GridGiven { border: 1px solid rgb(204, 204, 204); border-radius: 5px; line-height: 160%; min-height: 90px; margin: 20px 10px 0px 0px; padding: 15px; background-color: rgb(242, 242, 242); }

.GridProve { border: 1px solid rgb(204, 204, 204); border-radius: 5px; line-height: 160%; min-height: 90px; margin: 20px 0px 0px 10px; padding: 15px; background-color: rgb(242, 242, 242); }

.GivenProve { position: relative; }

.GivenProve .RemoveCell { vertical-align: top; padding-top: 1px; cursor: pointer; }

.GivenProve .DropDownCell { height: 16px; width: 188px; padding: 5px; vertical-align: top; border: 1px solid rgb(204, 204, 204); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 9pt; line-height: normal; font-family: "Segoe UI", "Lucida Grande", Tahoma, Arial; color: rgb(68, 68, 68); cursor: pointer; background-image: url("..Images/arrow_down_gray_small.png"); background-color: white; background-position: 98% 11px; background-repeat: no-repeat; }

.GivenProve .DropDownCell.Hover { border-color: rgb(115, 141, 195); background-image: url("..Images/arrow_down_blue_small.png"); }

.GivenProve .TextBoxCell { height: 16px; width: 188px; padding: 5px; vertical-align: top; border: 1px solid rgb(204, 204, 204); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 9pt; line-height: normal; font-family: "Segoe UI", "Lucida Grande", Tahoma, Arial; color: rgb(68, 68, 68); cursor: pointer; background-color: white; }

.GivenProve .TextBoxCell.Hover { border-color: rgb(115, 141, 195); }

.ui-resizable-handle { position: absolute; font-size: 0.1px; z-index: 3000; display: block; }

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }

.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }

.ui-resizable { position: absolute !important; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { background-image: none; }

.ui-icon-gripsmall-diagonal-se { background: url("../Images/resize_handle.png") 0px 0px no-repeat transparent !important; }
