@charset "utf-8";

.RadInput, .RadInputMgr { vertical-align: middle; }

* + html .riSingle input.riTextBox, * + html .RadForm.rfdTextbox .riSingle input.rfdDecorated[type="text"], .RadInput .riTextBox, .RadInputMgr { height: 17px; }

.riSingle .riTextBox, .RadForm.rfdTextbox .riSingle input.rfdDecorated[type="text"] { height: 22px; }

.RadInput textarea.riTextBox { height: auto; }

.RadInput table { border: 0px; vertical-align: bottom; }

.RadInput table.riTable td { border: 0px; padding: 0px; vertical-align: middle; overflow: visible; }

.RadInput table td.riCell { padding-right: 4px; }

.RadInput textarea { vertical-align: bottom; overflow: auto; resize: none; }

.RadInput.riResizable .riTextBox { min-width: 65px; min-height: 40px; }

.RadInput.riResizable .riTextBox { padding-right: 2px; }

.RadInput.riContButton .riResizeIcon { margin-left: -27px; }

.RadInput .riResizeIcon, .RadInput.riButtonSwap .riResizeIcon { width: 7px; height: 7px; display: inline-block; vertical-align: bottom; margin-left: -7px; }

html body .RadInput .riTextBox, html body .RadInputMgr { border-width: 1px; border-style: solid; padding: 2px 2px 1px; vertical-align: middle; }

.riSingle input.rfdDecorated { }

input.RadInputMgr.rfdDecorated { }

textarea.RadInputMgr { overflow: auto; }

html body .RadInput input.riEmpty, html body .RadInput textarea.riEmpty, html body input.RadInput_Empty { font-style: italic; }

.RadInput a { display: block; overflow: hidden; position: relative; outline: 0px; z-index: 2; text-indent: -2222px; text-align: center; text-decoration: none; }

* html .RadInput a, * + html .RadInput a { position: static; }

* + html .RadInput a { text-indent: 0px; text-align: right; }

* + html .RadInput a span { text-indent: -2222px; display: inline-block; }

.RadInput .riSpin a { margin: 0px 1px; }

.RadInput a.riDown { margin-top: 3px; }

* html .RadInput a.riDown { margin-top: 0px; }

.RadInput .riLabel { margin: 0px 4px 0px 0px; white-space: nowrap; width: 40%; background: transparent; }

@media screen and (-webkit-min-device-pixel-ratio: 0) { 
  .rdfd_ { position: absolute; }
}

* html .RadInput { display: inline-block; height: 25px; }

.RadInputRTL table td.riCell { padding: 0px 0px 0px 4px; }

.RadInputRTL .riLabel { margin: 0px 0px 0px 4px; }

.riStrengthBar { display: inline-block; width: 100px; height: 20px; margin-left: 5px; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: 18px; font-family: "segoe ui", arial, sans-serif; color: rgb(0, 0, 0); text-align: center; vertical-align: middle; overflow: hidden; background: url("Common/PasswordStrength.png") repeat-y; }

.riStrengthBarL0 { background: 0px center; }

.riStrengthBarL1 { color: rgb(98, 0, 0); background-color: rgb(255, 57, 51); background-position: 0px 0px; }

.riStrengthBarL2 { color: rgb(146, 43, 0); background-color: rgb(255, 120, 51); background-position: -300px 0px; }

.riStrengthBarL3 { color: rgb(158, 89, 0); background-color: rgb(255, 190, 51); background-position: -600px 0px; }

.riStrengthBarL4 { color: rgb(105, 100, 0); background-color: rgb(221, 204, 51); background-position: -900px 0px; }

.riStrengthBarL5 { color: rgb(35, 104, 0); background-color: rgb(107, 204, 51); background-position: 100% 0px; }

.riSingle { display: inline-block; white-space: nowrap; text-align: left; box-sizing: border-box; }

.riLabel { box-sizing: border-box; }

.riSingle .riTextBox, .riSingle .riContentWrapper { box-sizing: border-box; }

.riSingle a.riButton { display: inline-block; vertical-align: middle; height: 18px; line-height: 18px; width: 20px; background-position: 3px 5px; }

.riSingle a.riButton:hover { background-position: 3px -45px; }

.riSingle .riLabel { vertical-align: middle; display: inline-block; margin: 0px; padding-right: 5px; }

.riSingle a.riUp { display: inline-block; height: 8px; width: 15px; vertical-align: top; }

.riSingle a.riDown { display: inline-block; height: 8px; width: 15px; margin-left: -15px; vertical-align: bottom; }

.riSingle .riContentWrapper { display: inline-block; vertical-align: middle; overflow: visible; width: 60%; }

* + html .riSingle .riContentWrapper { overflow: visible; }

.riContButton { padding-right: 22px; }

.riContSpinButtons { padding-right: 17px; }

.riContButton.riContSpinButtons { padding-right: 35px; }

.riContButton .riContentWrapper { padding-right: 21px; }

* + html .riContButton .riContentWrapper { text-align: right; }

.riContSpinButtons .riContentWrapper { padding-right: 17px; }

.riContButton.riContSpinButtons .riContentWrapper { padding-right: 35px; }

html body .riSingle .riTextBox { padding-right: 5px; padding-left: 5px; margin: 0px; width: 100%; }

html body .riSingle .riTextBox[type="text"] { padding-right: 5px; padding-left: 5px; margin: 0px; width: 100%; }

.RadForm.rfdTextbox .riSingle input.rfdDecorated { padding-right: 5px; padding-left: 5px; }

.RadForm.rfdTextbox .riSingle input.rfdDecorated[type="text"] { padding-right: 5px; padding-left: 5px; }

.RadForm.rfdTextbox input.rfdDecorated.RadInputMgr { width: auto; }

.riSingle .riButton { display: inline-block; margin-top: 2px; }

.riSingle .riStrengthBar { margin-left: 0px; }

.rcSingle .riSingle { white-space: normal; }

div.RadPicker table.rcSingle .rcInputCell { padding-right: 0px; }

.RadInputRTL { text-align: right; padding-left: 22px; padding-right: 0px; }

.RadInputRTL.riResizable .riTextBox { padding-right: 5px; padding-left: 2px; }

.RadInputRTL.riContButton .riResizeIcon { margin-left: 0px; margin-right: -27px; }

.RadInputRTL .riResizeIcon, .RadInputRTL.riButtonSwap .riResizeIcon { margin-left: 0px; margin-right: -7px; }

.riSingle.RadInputRTL a.riDown { margin-left: 0px; margin-right: -15px; }

._Telerik_Opera11 .riSingle.RadInputRTL a.riUp { margin-right: -15px; }

._Telerik_Opera11 .riSingle.RadInputRTL a.riDown { margin-right: 0px; }

.riContSpinButtons .RadInputRTL { padding-right: 0px; padding-left: 17px; }

.riContButton.riContSpinButtons.RadInputRTL { padding-right: 0px; padding-left: 35px; }

.riContButton.RadInputRTL .riContentWrapper { padding-right: 0px; margin-right: 0px; padding-left: 21px; margin-left: -21px; }

.riContSpinButtons.RadInputRTL .riContentWrapper { padding-right: 0px; padding-left: 17px; }

.riContButton.riContSpinButtons.RadInputRTL .riContentWrapper { padding-right: 0px; padding-left: 35px; }

* html body .riSingle .riTextBox { margin-top: 0px; }
