@charset "utf-8";

.Keyboard { position: absolute; z-index: 9000; display: none; padding: 10px; border: 1px solid rgb(229, 229, 229); border-radius: 5px; box-shadow: rgb(102, 102, 102) 2px 2px 8px; white-space: nowrap; font-size: 12pt !important; font-weight: normal !important; background-color: rgb(242, 242, 242); }

.Keyboard .Header { position: absolute; height: 30px; width: 100%; top: 0px; left: 0px; text-align: right; border-top-left-radius: 5px; border-top-right-radius: 5px; cursor: move; background-color: rgb(229, 229, 229); }

.Keyboard .Header .Close { margin: 5px; padding: 5px; cursor: pointer; }

.Keyboard #upper { margin-top: 30px; display: none; float: left; }

.Keyboard #lower { margin-top: 30px; float: left; }

.Keyboard #numeric { margin-top: 30px; float: left; }

.Keyboard table { border-collapse: separate; border-spacing: 4px 2px; }

.Keyboard td { width: 16px; height: 16px; padding: 10px; margin: 0px 10px 10px 0px; border: 1px solid rgb(178, 193, 222); text-align: center; cursor: pointer; border-radius: 5px; background-color: white; }

.Keyboard td.Large { width: 80px; }

.Keyboard td.Space { width: 300px; }

.Keyboard td.Hover { font-weight: bold; border: 1px solid rgb(178, 193, 222); background-color: rgb(219, 227, 241); }

.Keyboard td.Click { font-weight: bold; color: white; border: 1px solid rgb(115, 141, 195); background-color: rgb(115, 141, 195); }
