@charset "utf-8";

.MatrixMenu { width: 260px; height: 360px; position: absolute; display: none; border: 1px solid rgb(229, 229, 229); z-index: 99999; border-radius: 5px; box-shadow: rgb(102, 102, 102) 0px 0px 8px; padding: 10px; background: rgb(242, 242, 242); }

.MatrixMenuItem { padding: 5px 10px 10px; border: 1px solid rgb(242, 242, 242); }

.MatrixMenuItemHover { padding: 5px 10px 10px; cursor: pointer; border: 1px solid rgb(193, 207, 231); border-radius: 5px; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset; background-color: rgb(219, 227, 241); }

.MatrixMenuItemClick { padding: 5px 10px 10px; cursor: pointer; border: 1px solid rgb(153, 179, 217); border-radius: 5px; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset; background-color: rgb(212, 221, 238); }

.MatrixMenuIconTopLeft { width: 2px; height: 2px; border-left-width: 2px; border-left-style: solid; border-left-color: black; border-top-width: 2px; border-top-style: solid; border-top-color: black; }

.MatrixMenuIconTopRight { width: 2px; height: 2px; border-right-width: 2px; border-right-style: solid; border-right-color: black; border-top-width: 2px; border-top-style: solid; border-top-color: black; }

.MatrixMenuIconLeft { width: 2px; border-left-width: 2px; border-left-style: solid; border-left-color: black; }

.MatrixMenuIconRight { width: 2px; border-right-width: 2px; border-right-style: solid; border-right-color: black; }

.MatrixMenuIconBottomLeft { width: 2px; height: 2px; border-left-width: 2px; border-left-style: solid; border-left-color: black; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: black; }

.MatrixMenuIconBottomRight { width: 2px; height: 2px; border-right-width: 2px; border-right-style: solid; border-right-color: black; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: black; }

.MatrixMenuIcon td { width: 10px; height: 10px; border: 1px solid rgb(115, 141, 195); background-color: rgb(115, 141, 195); }

.MatrixMenuIconCustom td { width: 20px; height: 20px; border: 1px solid rgb(178, 193, 222); background-color: white; }

.MatrixMenuIconCustom td.Active { width: 20px; height: 20px; border: 1px solid rgb(115, 141, 195); background-color: rgb(115, 141, 195); }
