@charset "utf-8";

.RadWindow_MWMetro .rwTopLeft, .RadWindow_MWMetro .rwTopRight, .RadWindow_MWMetro .rwTitlebar, .RadWindow_MWMetro .rwFooterLeft, .RadWindow_MWMetro .rwFooterRight, .RadWindow_MWMetro .rwFooterCenter, .RadWindow_MWMetro .rwTopResize, .RadWindow_MWMetro .rwStatusbar div, .RadWindow_MWMetro .rwStatusbar, .RadWindow_MWMetro.rwMinimizedWindow .rwCorner { background-image: url("Window/WindowHorizontalSprites.gif"); }

.RadWindow_MWMetro .rwBodyLeft, .RadWindow_MWMetro .rwBodyRight, .RadWindow_MWMetro .rwStatusbarRow .rwCorner { background-image: url("Window/WindowVerticalSprites.gif"); }

.RadWindow_MWMetro .rwShadow .rwTopLeft, .RadWindow_MWMetro .rwShadow .rwTopRight, .RadWindow_MWMetro .rwShadow .rwTitlebar, .RadWindow_MWMetro .rwShadow .rwFooterLeft, .RadWindow_MWMetro .rwShadow .rwFooterRight, .RadWindow_MWMetro .rwShadow .rwFooterCenter, .RadWindow_MWMetro .rwShadow .rwTopResize, .RadWindow_MWMetro .rwShadow .rwStatusbar div, .RadWindow_MWMetro .rwShadow .rwStatusbar, .RadWindow_MWMetro .rwShadow .rwBodyLeft, .RadWindow_MWMetro .rwShadow .rwBodyRight, .RadWindow_MWMetro .rwShadow .rwStatusbarRow .rwBodyLeft, .RadWindow_MWMetro .rwShadow .rwStatusbarRow .rwBodyRight { background-image: url("Window/WindowHorizontalSprites.png"); }

.RadWindow_MWMetro .rwShadow .rwBodyLeft, .RadWindow_MWMetro .rwShadow .rwBodyRight, .RadWindow_MWMetro .rwShadow .rwStatusbarRow .rwBodyLeft, .RadWindow_MWMetro .rwShadow .rwStatusbarRow .rwBodyRight { background-image: url("Window/WindowVerticalSprites.png"); }

.RadWindow_MWMetro .rwStatusbar input { background-color: rgb(247, 243, 233); }

.RadWindow_MWMetro .rwControlButtons a { background-image: url("Window/CommandButtonSprites.gif"); }

.RadWindow_MWMetro a.rwIcon { background-image: url("Window/WindowHorizontalSprites.gif"); }

div.RadWindow_MWMetro .rwTitlebarControls em { color: black; }

div.RadWindow_MWMetro .rwDialogInput { border-width: 1px; border-style: solid; border-color: rgb(171, 173, 179) rgb(219, 223, 230) rgb(227, 233, 239) rgb(226, 227, 234); }

div.RadWindow_MWMetro .rwDialogInput:hover { border-width: 1px; border-style: solid; border-color: rgb(87, 148, 191) rgb(183, 213, 234) rgb(199, 226, 241) rgb(197, 218, 237); color: rgb(86, 86, 86); }

.RadWindow_MWMetro td.rwWindowContent { background-color: rgb(255, 255, 255); }

div.RadWindow_MWMetro tr td.rwLoading { background-color: rgb(255, 255, 255); }

.RadWindow_MWMetro td.rwWindowContent.rwLoading { background-image: url("Common/loading.gif"); }

.RadWindow_MWMetro input.rwLoading { background-image: url("Common/loading_small.gif"); }

.RadWindow_MWMetro .rwControlButtons li a, .RadWindow_MWMetro .rwControlButtons li a span { cursor: pointer; }

.RadWindow_MWMetro a.rwCancel, .RadWindow_MWMetro a.rwCancel span { cursor: pointer; background: none; }

.RadWindow_MWMetro a.rwCancel span span { color: rgb(16, 92, 182); }

.RadWindow_MWMetro a.rwCancel:hover span span { color: rgb(0, 43, 184); }

.RadWindow_MWMetro .rwTitlebar em { color: rgb(0, 0, 0); margin-top: -3px; font-family: "Segoe UI", "Lucida Grande", Tahoma, Arial !important; font-size: 12pt !important; font-weight: bold !important; }

.RadWindow_MWMetro em { padding: 3px 0px 0px 1px; }

.RadWindow_MWMetro .rwShadow em { padding: 6px 0px 0px 1px; }

.RadWindow_MWMetro .rwShadow .rwControlButtons { margin: 5px -2px 0px 0px; }

.RadWindow_MWMetro .rwShadow .rwControlButtons { }

.RadWindow_MWMetro.rwMinimizedWindowShadow .rwShadow .rwControlButtons { margin: 9px -8px 0px 0px; }

.RadWindow_MWMetro .rwShadow .rwControlButtons li { float: left; padding: 0px; }

.RadWindow_MWMetro .rwShadow .rwControlButtons a { width: 26px; }

.RadWindow.rwMinimizedWindow .rwShadow .rwFooterLeft { background-position: 0px -431px !important; }

.RadWindow.rwMinimizedWindow .rwShadow .rwFooterCenter { background-position: 0px -461px !important; }

.RadWindow.rwMinimizedWindow .rwShadow .rwFooterRight { background-position: 0px -446px !important; }

.rwInactiveWindow .rwShadow .rwTopLeft, .rwInactiveWindow .rwShadow .rwTopRight, .rwInactiveWindow .rwShadow .rwTitlebar, .rwInactiveWindow .rwShadow .rwFooterLeft, .rwInactiveWindow .rwShadow .rwFooterRight, .rwInactiveWindow .rwShadow .rwFooterCenter, .rwInactiveWindow .rwShadow .rwTopResize, .rwInactiveWindow .rwShadow .rwStatusbar div, .rwInactiveWindow .rwShadow .rwStatusbar, .rwInactiveWindow .rwShadow .rwPopupButton, .rwInactiveWindow .rwShadow .rwPopupButton span, .rwInactiveWindow .rwShadow.rwMinimizedWindow .rwCorner, .RadWindow_MWMetro.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTopLeft, .RadWindow_MWMetro.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTitlebar, .RadWindow_MWMetro.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTopRight, .RadWindow_MWMetro.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterLeft, .RadWindow_MWMetro.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterCenter, .RadWindow_MWMetro.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterRight { background-image: url("Window/WindowHorizontalSprites.gif") !important; }

.rwInactiveWindow .rwShadow .rwBodyLeft, .rwInactiveWindow .rwShadow .rwBodyRight, .rwInactiveWindow .rwShadow .rwStatusbarRow .rwCorner, .RadWindow_MWMetro.rwNoTitleBar.rwInactiveWindow .rwShadow .rwBodyLeft, .RadWindow_MWMetro.rwNoTitleBar.rwInactiveWindow .rwShadow .rwBodyRight { background-image: url("Window/WindowVerticalSprites.gif") !important; }

.RadWindow .rwPopupButton, .RadWindow .rwPopupButton span { color: rgb(255, 255, 255) !important; cursor: pointer !important; }

.RadWindow .rwDialogPopup { padding: 0px !important; font-size: 11pt !important; }

.RadWindow_MWMetro a.rwPopupButton { display: inline-block; cursor: pointer; text-align: center; white-space: nowrap; margin-top: 20px !important; font-size: 11pt !important; border-radius: 5px !important; border: 1px solid rgb(74, 106, 173) !important; text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px !important; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px !important; background-image: linear-gradient(rgb(133, 156, 203), rgb(115, 141, 195)) !important; background-color: rgb(115, 141, 195) !important; background-repeat: repeat-x !important; }

.RadWindow_MWMetro a.rwPopupButton:hover { display: inline-block; cursor: pointer; text-align: center; white-space: nowrap; margin-top: 20px !important; font-size: 11pt !important; border-radius: 5px !important; border: 1px solid rgb(62, 89, 144) !important; text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px !important; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px !important; background-image: linear-gradient(rgb(133, 156, 203), rgb(79, 112, 179)) !important; background-color: rgb(93, 124, 187) !important; background-repeat: repeat-x !important; }

.RadWindow .rwWindowContent .radconfirm, .RadWindow .rwWindowContent .radalert { background-image: none !important; }
