@charset "utf-8";

.twitter-typeahead { display: block; }

.twitter-typeahead .tt-menu { box-sizing: border-box; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; border-top-style: none; overflow: hidden; width: 100%; padding: 1px; background: rgb(255, 255, 255); }

.twitter-typeahead .tt-suggestion { display: block; cursor: default; padding: 0px 0.6em; font-size: 14px; line-height: 44px; height: 44px; overflow: hidden; text-overflow: ellipsis; border: 1px solid rgb(230, 230, 230); text-align: left; }

.twitter-typeahead .tt-suggestion:hover, .twitter-typeahead .tt-cursor { color: rgb(255, 255, 255); background: rgb(255, 90, 95); }

.twitter-typeahead .tt-highlight { font-weight: bold; color: rgb(72, 72, 72); }

.contact-modal .panel-footer { position: relative; }

.contact-modal .modal-content { max-width: 600px; }

.panel-body-fixed { overflow-x: hidden; height: 500px; width: 100%; padding: 0px; }

.panel-body-list { margin-bottom: -12px; }

.modal-status-section { width: 50px; height: 50px; position: absolute; top: 5px; left: 2px; }

.modal-sent h5 { line-height: 50px; text-align: center; margin: 0px; }

.recommended { width: 156px; }

.contact-detail { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.contact-checkbox-wrapper { width: 28px; float: left; }

.contact-checkbox-floater { height: 50%; }

.contact-checkbox { clear: both; height: 240px; position: relative; }

label.checkbox-label { padding: 0px; }

.contact-search { padding: 10px 10px 10px 37px; border-radius: 0px; }

.contact-search-wrapper { position: relative; }

.contact-search-icon { position: absolute; top: 21px; left: 31px; font-size: 21px; color: rgb(170, 170, 170); }

#info_message { display: inline; }

#success_message { display: none; }

.error-section { width: 100%; margin: 0px; padding: 0px; }

section { margin: 0px 0px 45px; }

.input-addon input { border-bottom-right-radius: 0px; border-top-right-radius: 0px; }

#share-container .btn-facebook { border-color: rgb(59, 89, 152) rgb(59, 89, 152) rgb(38, 58, 99); color: rgb(255, 255, 255); background-color: rgb(59, 89, 152); }

#share-container .btn-weibo { border-color: rgb(213, 43, 42) rgb(213, 43, 42) rgb(138, 28, 27); color: rgb(255, 255, 255); background-color: rgb(213, 43, 42); }

#share-container .btn-wechat { border-color: rgb(30, 185, 33) rgb(30, 185, 33) rgb(16, 97, 17); color: rgb(255, 255, 255); background-color: rgb(30, 185, 33); }

.share-box { float: right; margin-top: 6px; }

.share-item { float: right; margin-left: 10px; }

.instructions-text { display: inline-block; margin-top: 6px; margin-left: 2px; }

.twitter-share-button { display: inline-block; }

.copy-heading { font-weight: normal; }

#sent-referrals .sent-referral { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(196, 196, 196); padding: 10px 0px; }

#sent-referrals .sent-referral:first-child { border-top-width: 0px; }

#sent-referrals .sent-referral .referred-profile { height: 50px; width: 50px; }

#sent-referrals .sent-referral .referred-row { height: 50px; }

.loading-pane { height: 50px; margin-bottom: 50px; }

.loading-pane.disabled { display: none; }

.contact-importers .email_link_text { position: absolute; top: 64px; width: 128px; text-decoration: inherit; }

.contact-importers .email_link_container { height: 128px; width: 128px; font-size: 110%; font-weight: bold; display: inline-block; position: relative; }

.contact-importers .email_link_container .email_link { cursor: pointer; color: white; }

.contact-importers .email_link_container .email_link:hover { text-decoration: underline; }

.contact-importers .email_icon { position: absolute; left: 32px; height: 64px; width: 64px; background-size: cover; }

.contact-importers .yahoo_email_icon { background: url("https://a2.muscache.com/airbnb/static/referrals/contact_import/yahoo@2x-73853f105b8b886b1a1dce8ffaf5deea.png") no-repeat; }

.contact-importers .gmail_email_icon { background: url("https://a2.muscache.com/airbnb/static/referrals/contact_import/gmail@2x-f32cb7ece2de7ac7b07fc9d1efd09241.png") no-repeat; }

.contact-importers .windowslive_email_icon { background: url("https://a2.muscache.com/airbnb/static/referrals/contact_import/windowslive@2x-3cc81b4213da27da1f33b3e2a00a2001.png") no-repeat; }

.referrals-heading { color: white; text-shadow: rgb(102, 102, 102) 0px 0px 3px; line-height: 1.4; }

.hero-inner { display: table-cell; vertical-align: middle; }

.button-container { text-align: center; }

.import-btn { min-width: 300px; }

.contact-importer-wrapper { position: relative; }

.contact-importer-panel { position: absolute; width: 100%; z-index: 100; border: 0px; background-color: rgb(245, 245, 245); }

.contact-importer-panel .email-app-image { vertical-align: bottom; width: 20px; height: 20px; margin-right: 5px; display: inline-block; }

.contact-importer-panel .email-app-image.gmail-icon { background: url("https://a1.muscache.com/airbnb/static/referrals/contact_import/gmail-8ed24f7f449e52c3c2eb6832ffeadb1d.png") 0% 0% / cover; }

.contact-importer-panel .email-app-image.windowslive-icon { background: url("https://a2.muscache.com/airbnb/static/referrals/contact_import/windowslive-a989d1625fafb81204e8e48818c88659.png") 0% 0% / cover; }

.contact-importer-panel .email-app-image.yahoo-icon { background: url("https://a2.muscache.com/airbnb/static/referrals/contact_import/yahoo-ed0a1a177f7e36eb0f8233bacf2af897.png") 0% 0% / cover; }

.typeahead-panel-body { cursor: pointer; padding: 0px; }

.typeahead-panel-body .loading-indicator { padding-top: 10px; }

.typeahead-panel-body .loading-indicator .loading { background-color: rgb(245, 245, 245); }

.typeahead-panel-body .loading-indicator .loading::after { background-color: rgb(245, 245, 245); }

.typeahead-panel-body:hover { background: rgb(245, 245, 245); }

.email-input-typeahead-container { position: relative; }

.email-input-typeahead-container .email-label { display: inline-block; }

.email-input-typeahead-container .twitter-typeahead { width: 100%; }

.email-input-typeahead-container .tt-menu { overflow-y: auto; padding: 0px; border: 1px solid rgb(196, 196, 196); }

.email-input-typeahead-container .tt-suggestion { cursor: pointer; border-width: 0px 0px 1px; border-bottom-style: solid; border-bottom-color: rgb(196, 196, 196); }

.email-input-typeahead-container .tt-suggestion:last-child { border-bottom-width: 0px; }

.email-input-typeahead-container .decorative-input-check, .email-input-typeahead-container .decorative-input-check[type="email"] { background-image: url("https://a0.muscache.com/airbnb/static/signinup/text-field-check-icon-1f272626eeac1822c597ab84ae022ddd.png"); background-size: contain; background-position: right 11px; }

.email-input-typeahead-container .decorative-input:focus { background-image: url("https://a0.muscache.com/airbnb/static/signinup/text-field-icons-blue-935e1d25c32fd4623f872a81ffecc273.png"); }

.pill { border-radius: 2px; margin-right: 6px; line-height: 28px; margin-bottom: 6px; font-size: 14px; padding: 0px 6px; background-color: rgb(245, 245, 245); }

.pill.invalid { background-color: rgb(255, 255, 255); }

.pill.invalid span { border-bottom-width: 2px; border-bottom-style: dotted; border-bottom-color: rgb(255, 180, 0); }

.pill.selected { color: rgb(255, 255, 255); background-color: rgb(117, 117, 117); }

.pill.selected .close-pill { color: rgb(255, 255, 255); }

.input-tag-list { padding: 6px 6px 0px; border-radius: 2px 2px 0px 0px; border: 1px solid rgb(196, 196, 196); position: relative; margin: 0px; background-color: rgb(255, 255, 255); }

.input-tag-list .input-list-item { height: 34px; width: 100%; }

.input-tag-list .input-list-item.has-tags { width: auto; padding: 0px; }

.input-tag-list li { padding: 0px 6px; }

.input-tag-list input { border: 0px; padding-bottom: 0px; padding-top: 0px; padding-left: 0px; line-height: 28px; margin-bottom: 6px; font-size: 14px; outline-width: 0px; }

.ie11 .input-tag-list input, .ie10 .input-tag-list input, .ie9 .input-tag-list input, .ie8 .input-tag-list input { height: 28px; }

.close-pill { padding-left: 6px; color: rgb(117, 117, 117); text-decoration: none; font-family: Verdana, Geneva, sans-serif; font-size: 13px; }

.close-pill:hover, .close-pill:active { color: rgb(72, 72, 72); text-decoration: none; }

.typeahead-permission-explanation { font-size: 12px; }

.invalid-email { top: -20px; position: absolute; }

.invalid-email-input { border-color: rgb(255, 180, 0); background-color: rgb(255, 248, 230); }

.modal-content.wechat-share-modal { max-width: 275px; }

.modal-content.wechat-share-modal.with-instruction { max-width: 880px; }

.wechat-qrcode-box { height: 150px; }

.wechat-small-qrcode { height: 100px; }

.wechat-share-content img { margin: auto; }

.share-title { margin-right: 8px; }

.share-triggers { margin-right: -8px; }

.share-triggers .qzone-logo { display: inline-block; vertical-align: bottom; -webkit-filter: grayscale(100%); height: 20px; width: 20px; background: url("https://a1.muscache.com/airbnb/static/page3/p3_sprite-d846d6783e0bd1f512ef83921e00a93e.png") 0px -208px no-repeat; }

.share-triggers .social-icon-size { font-size: 16px; }

.share-triggers .icon-facebook { margin-right: -3px; margin-left: -3px; }

.share-triggers .icon-facebook-messenger { margin-left: 0px; padding-right: 2px; font-size: 14px; }

.share-btn { min-width: 16px; margin-right: 8px; }

.share-btn:hover, .share-btn:active, .share-btn:focus { text-decoration: none; outline: none; }

.more-btn { font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif; cursor: pointer; }

.tooltip.more-social-options { z-index: 5001; }

.p3-box-share-widget { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(220, 224, 224); }

.boxed-icons { margin-bottom: -1px; }

.boxed-icons.before-js { text-align: center; margin-bottom: 10px; }

.boxed-icons.before-js .p3-box-share-widget { border: 0px; }

.boxed-icons.before-js a { padding: 0px 5px; }

.boxed-icons .share-triggers { width: 100%; margin-top: -1px; }

.boxed-icons .btn .icon.icon-facebook { margin-right: 0px; }

.boxed-icons .icon-envelope { padding-right: 3px; }

.boxed-icons a, .boxed-icons .more-btn { border-color: rgb(220, 224, 224); padding-left: 0px; padding-right: 0px; margin: 0px; white-space: normal; line-height: 24px; }

.boxed-icons .btn-group .btn + .btn { margin-left: -1px; }

.boxed-icons .btn { font-weight: normal; }

.boxed-icons .btn:first-child { border-top-left-radius: 0px; border-bottom-left-radius: 0px; margin-left: -1px; }

.boxed-icons .btn:first-child:hover, .boxed-icons .btn:first-child:active, .boxed-icons .btn:first-child:focus { border-right-color: rgb(170, 170, 170); border-left-color: rgb(170, 170, 170); }

.boxed-icons .btn:last-child { border-right-width: 0px; border-left-width: 0px; float: right; }

.boxed-icons .btn-width-treatment { width: 25%; }

.boxed-icons .btn-width-control { width: 33.3333%; }

@media (min-width: 1100px) { 
  .FB_UI_Dialog { min-width: 650px !important; }
}

#fb_dialog_ipad_overlay { display: none; }

.more-btn-dots-prefix { padding-left: 2px; }

.control-button-height { height: 40px; }

.experiment-button-height { height: 60px; font-size: 12px; }

.contact-importer-wrapper { position: relative; }

.contact-importer-panel { position: absolute; width: 100%; z-index: 100; border: 0px; background-color: rgb(245, 245, 245); }

.contact-importer-panel .email-app-image { vertical-align: bottom; width: 20px; height: 20px; margin-right: 5px; display: inline-block; }

.contact-importer-panel .email-app-image.gmail-icon { background: url("https://a1.muscache.com/airbnb/static/referrals/contact_import/gmail-8ed24f7f449e52c3c2eb6832ffeadb1d.png") 0% 0% / cover; }

.contact-importer-panel .email-app-image.windowslive-icon { background: url("https://a2.muscache.com/airbnb/static/referrals/contact_import/windowslive-a989d1625fafb81204e8e48818c88659.png") 0% 0% / cover; }

.contact-importer-panel .email-app-image.yahoo-icon { background: url("https://a2.muscache.com/airbnb/static/referrals/contact_import/yahoo-ed0a1a177f7e36eb0f8233bacf2af897.png") 0% 0% / cover; }

.typeahead-panel-body { cursor: pointer; padding: 0px; }

.typeahead-panel-body .loading-indicator { padding-top: 10px; }

.typeahead-panel-body .loading-indicator .loading { background-color: rgb(245, 245, 245); }

.typeahead-panel-body .loading-indicator .loading::after { background-color: rgb(245, 245, 245); }

.typeahead-panel-body:hover { background: rgb(245, 245, 245); }

.email-input-typeahead-container { position: relative; }

.email-input-typeahead-container .email-label { display: inline-block; }

.email-input-typeahead-container .twitter-typeahead { width: 100%; }

.email-input-typeahead-container .tt-menu { overflow-y: auto; padding: 0px; border: 1px solid rgb(196, 196, 196); }

.email-input-typeahead-container .tt-suggestion { cursor: pointer; border-width: 0px 0px 1px; border-bottom-style: solid; border-bottom-color: rgb(196, 196, 196); }

.email-input-typeahead-container .tt-suggestion:last-child { border-bottom-width: 0px; }

.email-input-typeahead-container .decorative-input-check, .email-input-typeahead-container .decorative-input-check[type="email"] { background-image: url("https://a0.muscache.com/airbnb/static/signinup/text-field-check-icon-1f272626eeac1822c597ab84ae022ddd.png"); background-size: contain; background-position: right 11px; }

.email-input-typeahead-container .decorative-input:focus { background-image: url("https://a0.muscache.com/airbnb/static/signinup/text-field-icons-blue-935e1d25c32fd4623f872a81ffecc273.png"); }

.pill { border-radius: 2px; margin-right: 6px; line-height: 28px; margin-bottom: 6px; font-size: 14px; padding: 0px 6px; background-color: rgb(245, 245, 245); }

.pill.invalid { background-color: rgb(255, 255, 255); }

.pill.invalid span { border-bottom-width: 2px; border-bottom-style: dotted; border-bottom-color: rgb(255, 180, 0); }

.pill.selected { color: rgb(255, 255, 255); background-color: rgb(117, 117, 117); }

.pill.selected .close-pill { color: rgb(255, 255, 255); }

.input-tag-list { padding: 6px 6px 0px; border-radius: 2px 2px 0px 0px; border: 1px solid rgb(196, 196, 196); position: relative; margin: 0px; background-color: rgb(255, 255, 255); }

.input-tag-list .input-list-item { height: 34px; width: 100%; }

.input-tag-list .input-list-item.has-tags { width: auto; padding: 0px; }

.input-tag-list li { padding: 0px 6px; }

.input-tag-list input { border: 0px; padding-bottom: 0px; padding-top: 0px; padding-left: 0px; line-height: 28px; margin-bottom: 6px; font-size: 14px; outline-width: 0px; }

.ie11 .input-tag-list input, .ie10 .input-tag-list input, .ie9 .input-tag-list input, .ie8 .input-tag-list input { height: 28px; }

.close-pill { padding-left: 6px; color: rgb(117, 117, 117); text-decoration: none; font-family: Verdana, Geneva, sans-serif; font-size: 13px; }

.close-pill:hover, .close-pill:active { color: rgb(72, 72, 72); text-decoration: none; }

.typeahead-permission-explanation { font-size: 12px; }

.invalid-email { top: -20px; position: absolute; }

.invalid-email-input { border-color: rgb(255, 180, 0); background-color: rgb(255, 248, 230); }

.referrals-invitation-hero { min-height: 400px; padding: 20px 0px; }

.referrals-hero { height: 300px; }

@media (max-width: 767px) { 
  .referrals-hero { height: 150px; }
}

.referrals-bg-img { background: url("hero-bg-b3b2aff11e6870a285314a634dcdfee8.jpg") 50% 50% / cover no-repeat transparent; }

.profile-circle-responsive { width: 30%; max-width: 180px; }

.profile-img-responsive { max-width: 180px; max-height: 180px; }

.email-input-typeahead-container { width: auto; padding: 0px; display: table-cell; }

.email-input-typeahead-container .input-tag-list { margin: 0px; }

.typeahead-button { vertical-align: middle; }

.instructions-text { width: 100%; height: 80px; }

.mobile-feature { position: relative; width: 357px; height: 600px; }

.mobile-feature:nth-child(1n) { -webkit-filter: none; filter: none; background: url("https://a0.muscache.com/airbnb/static/landing_pages/mobile/devices/iphone5s-white-0f3d8af9c8b9a21ec891e93d5c1485a9.png") left center / 100% no-repeat transparent; }

.mobile-feature .screenshot { position: absolute; left: 69px; top: 85px; }

.mobile-android { }

.mobile-android:nth-child(1n) { -webkit-filter: none; filter: none; background: url("https://a1.muscache.com/airbnb/static/landing_pages/mobile/devices/nexus5-db997d4ac81a7e92513950183a6b8c30.png") left center / 100% no-repeat transparent; }

.mobile-android .screenshot { left: 53px; top: 52px; }

.mobile-feature-medium { width: 283px; height: 547px; background-size: 100%; }

.mobile-feature-medium .screenshot { left: 54px; top: 103px; }

.mobile-feature-medium.mobile-android .screenshot { left: 40px; top: 85px; }

.feature-hero { position: relative; margin-bottom: 70px; overflow: hidden; }

.feature-hero h1 { font-size: 42px; line-height: 1.2; margin-bottom: 18px; }

.feature-hero h2 { font-size: 37px; line-height: 1.2; margin-bottom: 15px; }

.feature-hero h3 { font-size: 22px; line-height: 1.2; margin-bottom: 10px; font-weight: bold; }

.feature-hero p { font-size: 17px; line-height: 1.45; margin-bottom: 18px; color: rgb(103, 105, 106); }

.feature-hero p.lede { font-size: 21px; color: rgb(57, 60, 61); }

.feature-hero .panel-padding { padding-bottom: 30px; }

.feature-hero img.feature { outline: rgba(0, 0, 0, 0.2) solid 1px; }

.feature-hero-full-bleed { width: 100%; height: 700px; background-size: cover; background-position: center 0px; }

.feature-hero .overlaid { position: relative; }

.feature-hero .overlaid .content { position: absolute; top: 0px; width: 500px; }

.feature-hero.invert .overlaid .content h1, .feature-hero.invert .overlaid .content h2, .feature-hero.invert .overlaid .content h3, .feature-hero.invert .overlaid .content h4, .feature-hero.invert .overlaid .content h5, .feature-hero.invert .overlaid .content h6, .feature-hero.invert .overlaid .content p { color: rgb(255, 255, 255); }

.feature-hero.invert .overlaid .content h2 { font-size: 40px; }
