@charset "utf-8";

.ui-multiselect { padding: 2px 0px 2px 4px; text-align: left; font-size: 12px; }

.ui-multiselect span.ui-icon { float: right; }

.ui-multiselect-single .ui-multiselect-checkboxes input { left: -9999px; position: absolute !important; top: auto !important; }

.ui-multiselect-single .ui-multiselect-checkboxes label { padding: 5px !important; }

.ui-multiselect-header { margin-bottom: 3px; padding: 3px 0px 3px 4px; }

.ui-multiselect-header ul { font-size: 0.9em; }

.ui-multiselect-header ul li { float: left; padding: 0px 10px 0px 0px; }

.ui-multiselect-header a { text-decoration: none; }

.ui-multiselect-header a:hover { text-decoration: underline; }

.ui-multiselect-header span.ui-icon { float: left; }

.ui-multiselect-header li.ui-multiselect-close { float: right; text-align: right; padding-right: 0px; }

.ui-multiselect-menu { display: none; padding: 3px; position: absolute; z-index: 10000; text-align: left; }

.ui-multiselect-checkboxes { position: relative; overflow-y: auto; background: linear-gradient(to right, rgb(255, 255, 255), rgb(238, 238, 238), rgb(255, 255, 255)); }

.ui-multiselect-checkboxes label { cursor: default; display: block; border: 1px solid transparent; padding: 3px 1px; font-size: 12px; }

.ui-multiselect-checkboxes label input { position: relative; top: 1px; }

.ui-multiselect-checkboxes li { clear: both; font-size: 0.9em; padding-right: 3px; }

.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align: center; font-weight: bold; border-bottom-width: 1px; border-bottom-style: solid; background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAB0AgMAAAAqQ/CcAAAACVBMVEUKE1pZX4eqvM8V1IrrAAAAFUlEQVQY02NYtaqBITTUAQOPgiEJAFhEBmfGKPhOAAAAAElFTkSuQmCC") rgb(48, 58, 137); }

.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display: block; padding: 3px; margin: 1px 0px; text-decoration: none; color: rgb(255, 255, 255); }

* html .ui-multiselect-checkboxes label { border: none; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { color: rgb(255, 255, 255); font-weight: bold; background: url("data:text/plain;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAB0AgMAAAAqQ/CcAAAACVBMVEUKE1pZX4eqvM8V1IrrAAAAFUlEQVQY02NYtaqBITTUAQOPgiEJAFhEBmfGKPhOAAAAAElFTkSuQmCC") rgb(48, 58, 137); }

.ui-multiselect-hasfilter ul { position: relative; top: 2px; }

.ui-multiselect-filter { float: left; margin-right: 10px; font-size: 11px; }

.ui-multiselect-filter input { width: 100px; font-size: 10px; margin-left: 5px; height: 15px; padding: 2px; border: 1px solid rgb(41, 41, 41); -webkit-appearance: textfield; box-sizing: content-box; }

.str { color: rgb(0, 136, 0); }

.kwd { color: rgb(0, 0, 136); }

.com { color: rgb(136, 0, 0); }

.typ { color: rgb(102, 0, 102); }

.lit { color: rgb(0, 102, 102); }

.pun { color: rgb(102, 102, 0); }

.pln { color: rgb(0, 0, 0); }

.tag { color: rgb(0, 0, 136); }

.atn { color: rgb(102, 0, 102); }

.atv { color: rgb(0, 136, 0); }

.dec { color: rgb(102, 0, 102); }

pre.prettyprint { padding: 5px; border: 1px solid rgb(210, 210, 210); background: rgb(245, 245, 245); }

@media print { 
  .str { color: rgb(0, 102, 0); }
  .kwd { color: rgb(0, 0, 102); font-weight: bold; }
  .com { color: rgb(102, 0, 0); font-style: italic; }
  .typ { color: rgb(68, 0, 68); font-weight: bold; }
  .lit { color: rgb(0, 68, 68); }
  .pun { color: rgb(68, 68, 0); }
  .pln { color: rgb(0, 0, 0); }
  .tag { color: rgb(0, 0, 102); font-weight: bold; }
  .atn { color: rgb(68, 0, 68); }
  .atv { color: rgb(0, 102, 0); }
}
