@charset "utf-8";

body { color: rgb(255, 255, 255); font-family: "Source Sans Pro", sans-serif; background: linear-gradient(rgb(73, 52, 57) 0%, rgb(56, 52, 58) 22%, rgb(56, 52, 58) 96%, rgb(44, 40, 45) 100%); }

hr { clear: both; }

header { min-height: 120px; background-color: rgb(250, 54, 49); }

header .inner { max-width: 930px; padding: 30px 15px 15px; margin-left: auto; margin-right: auto; }

header .search_form { float: right; }

header #logo { opacity: 0.95; width: 276px; height: 54px; float: left; }

.search_form { padding-top: 5px; }

.search_form input { border: none; color: rgb(163, 50, 50); padding: 8px 12px; font-size: 180%; border-radius: 5px 0px 0px 5px; transition: 0.3s; background-color: rgb(220, 53, 49); }

.search_form input:hover { color: rgb(124, 53, 55); }

.search_form input:focus { outline: none; }

.search_form input::-webkit-input-placeholder { color: rgb(163, 50, 50); }

.search_form button { opacity: 0.8; border: none; padding: 8px 12px; font-size: 180%; border-radius: 0px 5px 5px 0px; width: 56px; overflow: hidden; white-space: nowrap; transition: 0.3s; background-image: url("sprite.png"); background-color: rgb(163, 50, 50); background-position: 12px 9px; background-repeat: no-repeat; }

.search_form button span { visibility: hidden; }

.search_form button:hover { opacity: 1; }

#content .search_form label { margin-right: 1em; }

#content .search_form input { background-color: rgb(255, 255, 255); }

#content .search_form button { }

#content { max-width: 930px; min-height: 600px; padding: 30px 15px 15px; margin-left: auto; margin-right: auto; }

article.account { font-size: 110%; clear: both; overflow: auto; width: 100%; padding: 0.5em 1em; margin-bottom: 1em; border-radius: 10px; background-color: rgb(60, 56, 62); }

article.account dl { float: left; width: 75%; margin: 0px; padding: 0px; }

article.account form { float: left; width: 20%; }

article.account dt { color: rgb(130, 125, 135); float: left; clear: left; text-align: right; width: 10%; min-width: 80px; padding: 1% 2%; }

article.account dd { float: left; width: 65%; padding: 1%; margin-left: 0px; }

#share-it { color: rgb(130, 125, 135); font-size: 110%; clear: both; overflow: auto; width: 100%; padding: 0.5em 1em; margin-bottom: 1em; border-radius: 10px; text-align: center; background: rgba(0, 0, 0, 0.298039); }

#share-it a { color: rgb(0, 198, 0); text-decoration: underline; }

kbd { color: rgb(224, 222, 225); font-family: "Ubuntu Mono", monospace; border-radius: 4px; padding: 0.25em 0.5em; transition: 0.3s; text-shadow: rgba(0, 0, 0, 0.8) 1px 1px; background: rgba(0, 0, 0, 0.298039); }

kbd:hover, kbd.selected { color: rgb(224, 222, 225); background: rgba(0, 0, 0, 0.498039); }

kbd::selection { color: rgb(255, 255, 255); text-shadow: none; background: rgb(0, 191, 221); }

dt.stats { visibility: hidden; }

dd.stats { color: rgb(111, 107, 116); font-weight: 300; font-size: 90%; }

dd.stats ul { list-style-type: none; margin: 0px; padding: 0px; }

dd.stats ul li { float: left; margin-right: 1em; padding: 0.1em 0.4em 0.2em; }

dd.stats ul li:last-child { padding-left: 0px; }

li.success_rate { border-radius: 4px; }

.success_100 { color: rgb(0, 198, 0); background-color: rgba(0, 198, 0, 0.0980392); }

.success_90 { color: rgb(50, 180, 0); background-color: rgba(50, 180, 0, 0.0980392); }

.success_80 { color: rgb(99, 164, 0); background-color: rgba(99, 164, 0, 0.0980392); }

.success_70 { color: rgb(149, 146, 0); background-color: rgba(149, 146, 0, 0.0980392); }

.success_60 { color: rgb(199, 129, 0); background-color: rgba(199, 129, 0, 0.0980392); }

.success_50 { color: rgb(247, 112, 0); background-color: rgba(247, 112, 0, 0.0980392); }

.success_40 { color: rgb(247, 90, 0); background-color: rgba(247, 90, 0, 0.0980392); }

.success_30 { color: rgb(247, 67, 0); background-color: rgba(247, 67, 0, 0.0980392); }

.success_20 { color: rgb(247, 45, 0); background-color: rgba(247, 45, 0, 0.0980392); }

.success_10 { color: rgb(247, 22, 0); background-color: rgba(247, 22, 0, 0.0980392); }

article.account fieldset { color: rgb(130, 125, 135); font-weight: 300; font-size: 90%; border: none; margin-top: 0.5em; text-align: center; }

article.account form button { opacity: 0.4; border: none; padding: 0px; width: 50px; height: 50px; overflow: hidden; transition: 0.3s; margin: 0.5em 0.5em 0px 0px; box-shadow: none; outline: none; background: url("sprite.png") -58px 0px no-repeat; }

article.account form button.vote_no { margin-right: 0px; background-position: -112px 0px; }

article.account form button span { visibility: hidden; }

article.account form button:hover { opacity: 0.6; }

article.account form button:active { opacity: 0.7; }

h1 { font-weight: 300; font-size: 2.75em; }

h2 { font-weight: 300; font-size: 2em; }

a:link { color: rgba(255, 255, 255, 0.8); }

a:visited { color: rgba(255, 255, 255, 0.6); }

a:hover { color: rgb(255, 255, 255); }

a:active { color: rgb(255, 255, 255); text-decoration: none; }

ul.related { list-style: none; margin: 0px; padding: 0px; }

ul.related li { display: inline; font-size: 110%; padding: 0px 1em 0px 0px; }

form .row { margin: 1em 0px; clear: both; }

form .row label { display: block; float: left; clear: left; width: 15%; padding-right: 1em; text-align: right; }

footer { max-width: 930px; padding: 15px 15px 30px; margin-left: auto; margin-right: auto; }

footer ul { list-style-type: none; margin: 0px; padding: 0px; }

footer ul li { float: left; margin-right: 1em; padding: 0.1em 0.4em 0.2em; }

footer ul li:last-child { padding-left: 0px; }

footer a { font-size: 90%; color: rgb(111, 107, 116); }
