@charset "utf-8";

.preference-tag-selected { border: 0px; color: rgb(255, 255, 255); font-weight: 400; margin: 7px 7px 0px 0px !important; background-color: rgb(0, 166, 153); }

.preference-tag-selected:hover { border: 0px; color: rgb(255, 255, 255); font-weight: 400; margin: 7px 7px 0px 0px !important; background-color: rgb(1, 156, 144); }

.preference-tag-selected:focus { border: 0px; color: rgb(255, 255, 255); font-weight: 400; margin: 7px 7px 0px 0px !important; background-color: rgb(0, 166, 153); }

.preference-tag-unselected { border: 0px; color: rgb(0, 122, 135); font-weight: 400; margin: 7px 7px 0px 0px !important; background-color: rgb(220, 237, 236); }

.preference-tag-unselected:hover { border: 0px; color: rgb(0, 122, 135); font-weight: 400; margin: 7px 7px 0px 0px !important; background-color: rgb(178, 229, 225); }

.listing-tag-row { margin-top: 1px; float: left; overflow: hidden; max-height: 24px; min-height: 24px; height: 24px; }

.listing-tag-row .listing-tag { color: rgb(0, 122, 135); height: 100%; display: inline-block; border-radius: 2px; font-size: 12px; margin-right: 7px; padding-left: 7px; padding-right: 7px; padding-top: 3px; background-color: rgb(220, 237, 236); }

.listing-tag-row .listing-tag-applied { color: rgb(255, 255, 255); height: 100%; display: inline-block; border-radius: 2px; font-size: 12px; margin-right: 7px; padding-left: 7px; padding-right: 7px; padding-top: 3px; background-color: rgb(0, 166, 153); }

#preference-btn { display: inline-block; position: relative; }

.listing-preference-menu-exit { border: 0px; position: absolute; top: 25px; right: 25px; font-size: 17px; background: none; }

.tooltip--preferences-btn { position: absolute; top: 120%; width: 280px; left: -50px; z-index: 2000; }

.btn--preferences-wrapper { display: inline-block; }

.listing-img { overflow: hidden; padding-bottom: 67%; }

.target-control { position: absolute; height: 100%; cursor: pointer; }

.target-control .icon { position: absolute; top: 50%; margin-top: -22px; }

.target-prev { left: 0px; width: 25%; }

.target-prev .icon { left: 10px; }

.target-prev.target-control--gradient { background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.14902)); }

.target-next { right: 0px; width: 25%; }

.target-next .icon { right: 10px; }

.target-next.target-control--gradient { background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.14902)); }

@media (min-width: 744px) { 
  .listing-img .target-control { display: none; }
  .listing-img:hover .target-control { display: block; opacity: 0.8; }
  .listing-img:hover .target-control:hover { opacity: 1; }
}

.listing-card-slideshow-enter { opacity: 0; transform: translate3d(20px, 0px, 0px); }

.listing-card-slideshow-enter.listing-card-slideshow-enter-active { opacity: 1; transform: translate3d(0px, 0px, 0px); transition: opacity 200ms cubic-bezier(0, 0, 0.2, 1), transform 200ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1), -moz-transform 200ms cubic-bezier(0, 0, 0.2, 1), -o-transform 200ms cubic-bezier(0, 0, 0.2, 1); }

.listing-card-slideshow-leave { opacity: 1; transform: translate3d(0px, 0px, 0px); }

.listing-card-slideshow-leave.listing-card-slideshow-leave-active { opacity: 0; transform: translate3d(-20px, 0px, 0px); transition: opacity 200ms cubic-bezier(0, 0, 0.2, 1), transform 200ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1), -moz-transform 200ms cubic-bezier(0, 0, 0.2, 1), -o-transform 200ms cubic-bezier(0, 0, 0.2, 1); }

.listing-card-slideshow-reverse-enter { opacity: 0; transform: translate3d(-20px, 0px, 0px); }

.listing-card-slideshow-reverse-enter.listing-card-slideshow-reverse-enter-active { opacity: 1; transform: translate3d(0px, 0px, 0px); transition: opacity 200ms cubic-bezier(0, 0, 0.2, 1), transform 200ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1), -moz-transform 200ms cubic-bezier(0, 0, 0.2, 1), -o-transform 200ms cubic-bezier(0, 0, 0.2, 1); }

.listing-card-slideshow-reverse-leave { opacity: 1; transform: translate3d(0px, 0px, 0px); }

.listing-card-slideshow-reverse-leave.listing-card-slideshow-reverse-leave-active { opacity: 0; transform: translate3d(20px, 0px, 0px); transition: opacity 200ms cubic-bezier(0, 0, 0.2, 1), transform 200ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1), -moz-transform 200ms cubic-bezier(0, 0, 0.2, 1), -o-transform 200ms cubic-bezier(0, 0, 0.2, 1); }

.listing-card-slideshow-controls-appear .target-control { display: block; opacity: 1; }

.listing-card-slideshow-controls-appear.listing-card-slideshow-controls-appear-active .target-control { opacity: 0; transition: opacity 650ms linear 2s; }

.debug-string { overflow-x: scroll; }

.infoBox { padding: 10px; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 4px; background: rgb(255, 255, 255); }

.infoBox::before { border-color: rgba(0, 0, 0, 0.298039) transparent transparent; border-width: 16px; border-style: solid; content: ""; display: inline-block; position: absolute; bottom: -32px; margin: 0px 0px 0px 114px; }

.infoBox::after { border-color: rgb(255, 255, 255) transparent transparent; border-width: 15px; border-style: solid; content: ""; display: inline-block; position: absolute; bottom: -30px; margin: 0px 0px 0px 115px; }

.loading .listing-name, .loading .listing-review-count, .loading .wish_list_button, .loading .instant-book-button { display: none; }

.loading .listing-img .img-border, .loading .listing-img .target-next, .loading .listing-img .target-prev { display: none; }

.listing-link { display: block; }

.star-rating .foreground { position: absolute; }

.listing-description { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; }

.icon-position-shifted { padding-right: 0.23em; }

.icon-position-shifted::before { position: relative; left: 0.1em; }

.icon-speaks-zh.icon-position-shifted { font-size: 17px; }

.icon-speaks-zh.icon-position-shifted::before { top: 0.05em; }

.panel-overlay-listing-label .price-label { font-size: 24px; font-weight: normal; display: inline-block; }

.panel-overlay-listing-label .price-label sup, .panel-overlay-listing-label .price-label .price-label--unit-label { font-size: 0.58333em; }

.panel-overlay-listing-label .price-label sup { font-weight: bold; }

@media (max-width: 1127px) and (min-width: 744px) { 
  .panel-overlay-listing-label .price-label { display: block; font-size: 20px; }
}

.panel-overlay-listing-label .price-label__icon--no-price { margin-left: 10px; }

.panel-overlay-listing-label .price-amount-container { display: inline-block; }

.panel-overlay-listing-label .price-amount-container--good-price { margin-left: 3px; }

@media (max-width: 1127px) and (min-width: 744px) { 
  .panel-overlay-listing-label { padding-top: 3px; padding-bottom: 3px; }
  .panel-overlay-listing-label .price-amount-container { display: block; }
  .panel-overlay-listing-label .price-amount-container--good-price { margin-left: 0px; }
}

.panel-overlay-listing-label .price-amount-discounted { text-decoration: line-through; }

.dateless-price-map-tooltip { margin-bottom: 15px; }

.price-label__from-price-wrapper { display: inline-block; }

.price-label__from-price-wrapper > span span:nth-child(2) .price-label__from { display: inline-block; vertical-align: 3px; margin-top: 0px; }

.price-label__from { line-height: 1; font-size: 14px; }

@media (max-width: 1127px) and (min-width: 744px) { 
  .price-label__from { line-height: 0.8; margin-top: 4px; font-size: 12px; }
}

.dateless-price-tooltip { max-width: 300px; width: 100%; }

.dateless-price-tooltip__calendar { margin-left: 9px; }

.card-profile-picture.is-superhost { position: relative; }

.card-profile-picture.is-superhost::after { position: absolute; width: 16px; height: 28px; bottom: -10px; right: 2px; content: " "; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAABICAMAAACz1EcFAAABAlBMVEUAAADxXl37sxT7shPvjyOzmQDyZlbyaFX7sxTyckz6shT0fkH6shT4shT5sRHtkyXmmRz1gj%2FxalT7sxX7sxTyc0v6sxTzdEr6sxXzdkr6shT6shX6shT7shX7sxX7shX0fEP6shT0fUP0fUL5sxT7sRT7sxT6sRP6sxT0gj75shT2gTrygTz4shXxgDz4sRLzgTv7sRX3sxHrhTPwXGH7sxX%2F2YD%2B13nybGTwX2HxYlv7shX%2B0378wnr5pnP1hWv9yVTzckz1hjv8wDr4myn7uST5qB37vXj4n3H%2B0Wv%2B0GfyblD9x078vjX3lyz7tyH6qhz%2B0H39z33%2B0m31i2z0gGrHW5gTAAAANHRSTlMA%2Fvx3EwP59%2FLfjothTSUOCv316uPZ2dXS0M3HwLmuraSinZaCc3JpaFpZU01JSEVBPh4Z%2Fp12rgAAAapJREFUeAGMzVcOwjAQBmFfIXf5F0ihkxB6v%2F9VEA%2BWxUhOdp4%2FacK7mTiaboNm83H3ai1I5WLMrcx%2BUFo2w1uLcHB%2FaC1B7LFNEHtsAbmPW0Lu4xYw7h9%2F24sRpv0%2BuePN8lBlH93ZbAhKnye3hGmPbQ5KPbZZqPXdCVXtnFDa1D7IPSH3hI49IPcdoGMPmNs7oE6dE6q6OqFU1IT5fYSOfShdUkX4Fk8fu6vDQBSHTxwbQkJIRO%2B994Lf%2F9WukNAfGM8Ydvdb%2F6Qzm9kUfukKG%2BBW%2Bt6VbngYB%2F4sGONpV%2FDO7vBHlzyzGu%2BmwnwwBbEvcl1xD4duuF1DgzMj88EMguPHfPEIUdZ6da0MPknwnE3wxbn66KpnfJV37vdOjl8kCf4Hc4pHvd4oPhn4ZPPIPkXzDKK0Zt%2FUUghCZT%2BoEKyVdazAuCg3VBc4TNsy2gZU2bLKoPp82AehFR8qTcKDFRz8J8pHhlIYknAthWsSplKYkvAqhVcQXb7rglrw4QJUXue6eg7Hlgu3YMRuF4NjJrSbGPkXpE8gKsNXN6zAp7IcNKOoOVjS7B84NJcH0SEq5gAAAABJRU5ErkJggg%3D%3D"); background-size: cover; background-position: center center; background-repeat: no-repeat; }

.panel-card-section .star-rating-wrapper { display: inline-block; }

.star-histogram-tooltip-trigger { display: inline-block; }

.large-icon-in-footer.listing-location { height: 22px; }

.large-icon-in-footer.listing-location .icon-suitcase { font-size: 17px; vertical-align: top; position: relative; line-height: 17px; padding-right: 0.23em; top: 1px; }

.large-icon-in-footer.listing-location .icon-suitcase::before { line-height: 0.5; }

.row .listing-card-wrapper:nth-child(2n+1) { clear: both; }

.listing-name { padding-bottom: 4px; }

.listing-location { padding-bottom: 5px; }

.hero { position: relative; height: 400px; }

.hero__background { bottom: 0px; left: 0px; overflow: hidden; position: absolute; right: 0px; top: 0px; }

.hero__background video { top: 0px; height: 100%; position: absolute; width: auto; }

.hero__content { height: 400px; position: relative; z-index: 2; }

.hero__content-footer { bottom: 0px; left: 0px; padding-bottom: 30px; padding-top: 30px; position: absolute; right: 0px; background-color: rgba(0, 0, 0, 0.6); }

.hero__content-footer-white-bg { bottom: 0px; left: 0px; padding-bottom: 30px; padding-top: 24px; position: absolute; right: 0px; background-color: white; }

.hero__content-footer-white-bg .hero-search-intro { font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 28px; font-weight: bold; color: rgb(74, 74, 74); }

.hero__content-footer-black-bg { bottom: 0px; left: 0px; padding-bottom: 30px; padding-top: 24px; position: absolute; right: 0px; background-color: rgba(0, 0, 0, 0.6); }

.hero__content-footer-black-bg .hero-search-intro { font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 28px; font-weight: bold; color: white; }

.hero__background_experiment { width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; z-index: 2; opacity: 0; transition: opacity 0.25s ease-out; background-size: 744px; background-position: center center; }

.hero__background_experiment.active { opacity: 1; }

@media (min-width: 744px) { 
  .hero { height: 600px; }
  .hero__content { height: 550px; padding-bottom: 104px; top: 50px; }
  .hero__background_experiment { background-size: 100%; }
}

@media (min-width: 1128px) { 
  .hero__background video { height: auto; width: 100%; }
}

@media (max-width: 743px) { 
  html[lang="de"] .hero__heading { font-size: 28px; }
}

.hero-slideshow { height: 100%; width: 100%; }

.hero-slideshow .air-slide { background-color: rgb(0, 0, 0); }

.hero-slideshow img { top: 0px; position: absolute; }

@media (max-width: 743px) { 
  .hero-slideshow img { height: 100%; min-width: 100%; width: auto; }
}

@media (max-width: 1127px) and (min-width: 744px) { 
  .hero-slideshow img { height: 100%; width: auto; }
}

@media (min-width: 1128px) { 
  .hero-slideshow img { width: 100%; height: auto; }
}

.community__container { max-width: 1400px; }

.community-card { transition-duration: 0.8s; transition-property: opacity, transform, -webkit-transform, -moz-transform, -o-transform; transition-timing-function: ease; }

.community-card .panel { border: 0px; }

.community-card .media-cover-dark::after { transition: opacity 0.2s ease; opacity: 0; }

.community-card:hover .media-cover-dark::after { opacity: 0.15; }

.community-card u { text-decoration: none; }

.community-card:hover u { text-decoration: underline; }

.community-card--hidden { opacity: 0; transform: translateY(20px); }

.community-card__link { height: 492px; }

.community-card--create { transition-delay: 0.4s; }

.community-card--create .media-cover { background-color: rgb(0, 166, 153); }

.community-card--traveling { transition-delay: 0.1s; }

.community-card--traveling .community-card__header-label { background-color: rgb(0, 122, 135); }

.community-card--traveling.community-card--show-images .media-cover { background-image: url("traveling-edebfe1eafd15383d4872876d41bd50e.jpg"); }

.community-card--business { transition-delay: 0.1s; }

.community-card--business .community-card__header-label { background-color: rgb(57, 60, 61); }

.community-card--business.community-card--show-images .media-cover { background-image: url("business-56c80d9222a2e084253f33e893f8bd32.jpg"); }

.community-card--hosting { transition-delay: 0.7s; }

.community-card--hosting .community-card__header-label { background-color: rgb(123, 0, 81); }

.community-card--hosting.community-card--show-images .media-cover { background-image: url("hosting-74e04c88d4df9607cc3025401a43c665.jpg"); }

.community-card__header { left: 0px; position: absolute; right: 0px; top: 0px; }

.community-card__header-label { display: inline-block; margin: 0px auto; padding: 10px; }

.belong-anywhere { height: 600px; }

.belong-anywhere__slides { margin: 0px; }

.belong-anywhere__icon { color: rgb(255, 255, 255); font-size: 100px; opacity: 0.7; }

.belong-anywhere__icon:hover { color: rgb(255, 255, 255); opacity: 1; }

@media (max-width: 743px) { 
  .belong-anywhere__icon { font-size: 60px; }
}

.belong-anywhere__belong { background-color: rgb(255, 180, 0); }

.belong-anywhere__rentals { background-color: rgb(85, 222, 211); background-size: cover; background-position: center center; }

.belong-anywhere__rentals-title { line-height: 1; }

.belong-anywhere__rentals-subtitle { line-height: 1.2; }

.belong-anywhere__create { padding-top: 94px; background-color: rgb(255, 180, 0); }

.belong-anywhere__create-subtitle { opacity: 0.7; }

.belong-anywhere--loaded .belong-anywhere__belo { background-image: url("belo-vid-078cd6a63626517f9294598ceda49ee5.jpg"); }

.belong-anywhere--loaded .belong-anywhere__belong { background-image: url("belong-vid-b5b9b5ff3b53a7a4229d4acde53fb161.jpg"); }

.belong-anywhere--loaded .belong-anywhere__rentals { background-image: url("vacation-rentals-banner-f9a857d36e05fa6dff10893587085326.png"); }

.air-slideshow { overflow: hidden; position: relative; }

.air-slideshow__prev, .air-slideshow__next { margin-top: -30px; opacity: 0.7; position: absolute; top: 50%; z-index: 2; }

.air-slideshow__prev:hover, .air-slideshow__next:hover { opacity: 1; }

.air-slideshow__prev .icon, .air-slideshow__next .icon { font-weight: bold; }

.air-slideshow__prev { left: 20px; }

.air-slideshow__next { right: 20px; }

.air-slide { bottom: 0px; display: none; left: 0px; position: absolute; right: 0px; top: 0px; z-index: -1; }

.air-slide--next { z-index: 1; }

.air-slide--active { display: block; z-index: 2; }

.how-it-works { background-color: rgb(121, 204, 205); }

.how-it-works--overlay { height: 662px; left: 0px; position: absolute; right: 0px; top: -662px; z-index: 1000; }

.how-it-works--overlay .how-it-works__image { display: none; }

.how-it-works--overlay:focus { outline: none; }

.how-it-works--with-images .how-it-works__image { display: block; }

.how-it-works__image { height: 310px; margin: 0px auto; max-width: 283px; background: url("how_it_works-6f1c02e84d49e801d12a5ff57565098a.png") center 0px / cover no-repeat; }

.how-it-works__step-two .how-it-works__image { background-position: center -310px; }

.how-it-works__step-three .how-it-works__image { background-position: center -620px; }

.how-it-works__close { color: rgb(0, 122, 135); position: absolute; right: 24px; top: 24px; opacity: 0.6; }

.how-it-works__close:hover { color: rgb(0, 122, 135); opacity: 1; }

@media (max-width: 743px) { 
  .how-it-works__image { min-width: 283px; }
}

@media (max-width: 1127px) and (min-width: 744px) { 
  .how-it-works__image { height: 200px; }
  .how-it-works__step-two .how-it-works__image { background-position-y: -200px; }
  .how-it-works__step-three .how-it-works__image { background-position-y: -400px; }
}

.increment-btn { border: 1px solid rgb(220, 224, 224); border-radius: 2px; width: 100%; position: relative; }

.increment-btn .btn { width: 50%; padding: 8px 0px; display: inline-block; margin: 0px; border: 0px; cursor: pointer; }

.increment-btn .btn .icon { font-size: 20px; }

.increment-btn .btn.disabled { cursor: default; color: rgb(117, 117, 117); }

.increment-btn::after { content: ""; border-left: 1px solid rgb(220, 224, 224); margin: 8px 0px; position: absolute; top: 0px; bottom: 0px; left: 50%; }

.GuestPicker { position: absolute; left: 0px; box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 6px, rgba(0, 0, 0, 0.0666667) 0px 0px 0px 1px; border-radius: 3px; width: 320px; font-size: 16px; padding: 0px 15px; text-align: left; z-index: 1; background: rgb(255, 255, 255); }

@media (max-width: 1127px) and (min-width: 744px) { 
  .GuestPicker { left: auto; right: 0px; }
}

.GuestPicker.pointer { margin-top: 20px; }

.GuestPicker.pointer::after, .GuestPicker.pointer::before { content: ""; display: inline-block; position: absolute; }

@media (max-width: 1127px) and (min-width: 744px) { 
  .GuestPicker.pointer::after, .GuestPicker.pointer::before { left: auto; right: 20px; }
}

.GuestPicker.pointer::after { bottom: auto; top: -9px; border-width: 0px 10px 10px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: transparent; border-left-color: transparent; border-bottom-color: rgb(255, 255, 255); }

.GuestPicker.pointer::before { top: -10px; border-width: 0px 10px 10px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: transparent; border-left-color: transparent; border-bottom-color: rgba(0, 0, 0, 0.0980392); }

.GuestPicker .increment-btn-container { padding-right: 0px; }

.GuestPicker .text-small { font-size: 14px; }

.GuestPickerRow { padding: 18px 0px; margin: 0px; border-bottom: 1px solid rgb(220, 224, 224); }

.GuestPickerRow:last-child { border-bottom: 0px; }

.GuestPickerRow .GuestPickerRow__label { line-height: 43px; padding-left: 0px; }

.GuestPickerFooter { margin: 10px 0px; }

.GuestPickerFooter .GuestPickerFooter__note { margin-bottom: 10px; }

.GuestPickerFooter .GuestPickerFooter__close { color: rgb(45, 45, 45); text-decoration: underline; cursor: pointer; }

.guest-label { white-space: nowrap; }

.guest-label .guest-label__text { display: inline-block; }

.guest-label .guest-label__text.highlight, .guest-label .guest-label__text .highlight { border-color: rgb(153, 237, 230); border-radius: 3px; color: rgb(0, 122, 135); cursor: pointer; background-color: rgb(153, 237, 230); }

.guest-label.highlightLabel .guest-label__comma { display: none; }

.guest-label::before { z-index: 10; }

.searchbar, .SearchForm { display: inline-block; vertical-align: middle; }

.searchbar input, .searchbar select, .searchbar button[type="submit"], .searchbar .select, .SearchForm input, .SearchForm select, .SearchForm button[type="submit"], .SearchForm .select { display: block; }

.searchbar input:focus, .SearchForm input:focus { z-index: 1; }

.searchbar .SearchForm__guests, .SearchForm .SearchForm__guests { position: relative; }

.searchbar.infants-v2 .guest-input-trigger input, .SearchForm.infants-v2 .guest-input-trigger input { pointer-events: none; outline: none; height: 42px; }

.searchbar__input-wrapper { float: left; }

.searchbar__location, .searchbar__checkin, .searchbar__checkout, .searchbar__dates, .searchbar__guests, .searchbar__submit, .SearchForm__location, .SearchForm__dates, .SearchForm__guests, .SearchForm__submit, .LocationInput__label { float: left; margin-left: -1px; vertical-align: middle; width: auto; }

.searchbar__location, .searchbar__checkin, .searchbar__checkout, .searchbar__dates, .searchbar__guests, .SearchForm__location, .SearchForm__dates, .SearchForm__guests, .LocationInput__label { padding-top: 0px; padding-bottom: 0px; }

.searchbar__guests select, .SearchForm__guests select { height: 42px; }

.searchbar__location, .SearchForm__location { width: 220px; }

.searchbar__location input, .SearchForm__location input { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }

.LocationInput__label, .LocationInput { width: 100%; }

[lang^="zh"] .searchbar__location input, [lang^="zh"] .searchbar__checkin input, [lang^="zh"] .searchbar__checkout input, [lang^="zh"] .LocationInput { padding-top: 8px; padding-bottom: 8px; }

.searchbar__location-error, .LocationInput__error { border-radius: 0px 0px 3px 3px; left: 0px; margin-top: -1px; position: absolute; top: 100%; width: 220px; background: rgba(255, 255, 255, 0.8); }

.searchbar__checkin, .searchbar__checkout { width: 130px; }

.searchbar__checkin input, .searchbar__checkout input { border-radius: 0px; }

.searchbar__guests select, .SearchForm__guests select { border-radius: 0px; border-right: 0px; }

.searchbar__guests .SearchForm__guests-label, .SearchForm__guests .SearchForm__guests-label { position: absolute; left: 0px; top: 0px; margin: 6px 8px; z-index: 10; }

.searchbar__guests .SearchForm__guests-label .guest-label__text, .SearchForm__guests .SearchForm__guests-label .guest-label__text { padding: 4px 0px; }

.searchbar__guests .SearchForm__guests-label .guest-label__text.highlight, .searchbar__guests .SearchForm__guests-label .guest-label__text .highlight, .SearchForm__guests .SearchForm__guests-label .guest-label__text.highlight, .SearchForm__guests .SearchForm__guests-label .guest-label__text .highlight { padding: 4px 6px; }

.searchbar__submit, .SearchForm__submit { border-bottom-left-radius: 0px; border-top-left-radius: 0px; display: inline-block; }

@media (max-width: 1127px) and (min-width: 744px) { 
  .searchbar__submit .btn, .SearchForm__submit .btn { padding: 9px 16px; }
}

@media (max-width: 1127px) and (min-width: 744px) { 
  .searchbar__submit .btn .icon, .SearchForm__submit .btn .icon { font-size: 20px; margin: 0px; }
}

@media (min-width: 1128px) { 
  .searchbar__location, .searchbar__location-error, .SearchForm__location, .LocationInput__error { width: 370px; }
}

body.is-fullscreen { overflow: hidden; height: 100%; }

.fullscreen-video-player { height: 100%; left: 0px; position: fixed; top: 0px; transition: opacity 800ms ease; width: 100%; z-index: -1001; background-color: rgb(0, 0, 0); }

.fullscreen-video-player video { max-width: 100%; }

.fullscreen-video-player--hidden { opacity: 0; }

.fullscreen-video-player__icon { bottom: 0px; cursor: pointer; display: inline-block; font-size: 100px; height: 100px; left: 0px; margin: auto; position: absolute; right: 0px; top: 0px; width: 100px; }

.fullscreen-video-player__close { color: rgb(117, 117, 117); cursor: pointer; font-size: 20px; position: absolute; right: 50px; text-decoration: none; top: 50px; }

.cf-card { text-align: left; }

.cf-card__text { padding: 10px 0px; }

.cf-card__title { font-size: 15px; font-weight: bold; }

.cf-card--old-p1__text { height: 82px; padding-left: 10px; padding-right: 10px; }

.panel-contrast p a { color: rgb(255, 255, 255); text-decoration: underline; }

.panel-contrast p a:hover { color: rgb(228, 245, 245); }

.panel-hackberry { background-color: rgb(123, 0, 81); }

body.p1 .flash-container { position: absolute; right: 50px; left: 50px; top: 75px; z-index: 999; }

.fake-search-field { background-color: rgb(255, 255, 255); }

.btn-semi-transparent { border-style: none; color: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.498039); }

.btn-semi-transparent:hover { color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.34902); }

.btn-semi-transparent[disabled] { opacity: 0.7; }

.underline-when-hover:hover { text-decoration: underline; }

.line-height-1-3 { line-height: 1.3; }

@media (max-width: 743px) { 
  .china-p1-hero-text { font-size: 24px; }
}

.discovery-card-wrapper, .discovery-card { height: 344px; }

.discovery-card-blank { border-color: rgb(255, 255, 255); }

.discovery-loading-icon { color: rgb(220, 224, 224); }

.discovery-card { position: relative; background-color: rgb(245, 245, 245); background-size: cover; background-position: center center; }

.no-border-top { border-top: 0px; }

.discovery-listing::before { content: ""; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; background-image: radial-gradient(circle farthest-side, rgba(0, 0, 0, 0.2), transparent); }

@media (max-width: 1127px) and (min-width: 744px) { 
  .col-switch { margin-top: -739px; }
}

.icon-alipay-text { width: 120px; height: 55px; display: inline-block; background-image: url("https://a0.muscache.com/airbnb/static/homepages/alipay-d207ac89b891754c035e2844b84b2e92.png"); background-size: 100%; }

@media (max-width: 743px) { 
  .panel-dark { border: 0px; }
  .rm-padding-sm { padding-bottom: 0px; padding-top: 0px; margin-bottom: 0px; margin-top: 0px; }
  .discovery-section { overflow: hidden; }
  .page-container-no-padding { padding-left: 0px; padding-right: 0px; }
}

.no-js-alert { top: 80px; left: 0px; right: 0px; position: absolute; }

@media (max-width: 743px) { 
  .sm-search { position: absolute; bottom: 20px; width: 100%; z-index: 2; }
  .raise-30 { position: relative; bottom: 30px; }
}

.DestinationGroup { color: rgb(72, 72, 72); border-bottom: 1px solid rgb(196, 196, 196); margin: 0px; }

.DestinationGroup__name { text-align: center; }

.Destination { padding-left: 1px; padding-right: 5px; cursor: pointer; text-align: left; color: inherit; }

.Destination + .Destination { margin-left: 0px; }

.Destination:hover, .Destination:active, .Destination:focus { color: rgb(255, 255, 255); text-decoration: none; background: rgb(255, 90, 95); }

.GroupedDestinations__tips { padding-left: 15px; }

.CalendarDay { position: relative; display: table; height: 100%; width: 100%; }

.CalendarDay__day { display: table-cell; vertical-align: middle; -webkit-user-select: none; }

.CalendarMonth { text-align: center; padding: 0px 13px; vertical-align: top; }

.CalendarMonth:first-of-type { position: absolute; z-index: -1; opacity: 0; }

.CalendarMonth table { border-collapse: collapse; border-spacing: 0px; }

.CalendarMonth--horizontal { display: inline-block; min-height: 100%; }

.CalendarMonth--vertical { display: block; }

.CalendarMonth__caption { color: rgb(60, 63, 64); margin-top: 7px; font-size: 18px; padding: 15px 0px 35px; margin-bottom: 2px; }

.CalendarMonth__day { border: 1px solid rgb(228, 231, 231); padding: 0px; box-sizing: border-box; color: rgb(86, 90, 92); cursor: pointer; width: 39px; height: 38px; }

.CalendarMonth__day:active { background: rgb(242, 242, 242); }

.CalendarMonth__day--outside { border: 0px; cursor: default; }

.CalendarMonth__day--outside:active { background: rgb(255, 255, 255); }

.CalendarMonth__day--hovered { border: 1px double rgb(212, 217, 217); color: inherit; background: rgb(228, 231, 231); }

.CalendarMonth__day--blocked-minimum-nights { color: rgb(202, 204, 205); border: 1px solid rgb(228, 231, 231); cursor: default; background: rgb(255, 255, 255); }

.CalendarMonth__day--blocked-minimum-nights:active { background: rgb(255, 255, 255); }

.CalendarMonth__day--selected-span { border: 1px double rgb(51, 218, 205); color: rgb(255, 255, 255); background: rgb(102, 226, 218); }

.CalendarMonth__day--selected-span.CalendarMonth__day--hovered, .CalendarMonth__day--selected-span:active { border: 1px double rgb(0, 166, 153); background: rgb(51, 218, 205); }

.CalendarMonth__day--selected-span.CalendarMonth__day--last-in-range { border-right: rgb(0, 166, 153); }

.DateRangePicker__picker--valid-date-hovered .CalendarMonth__day--hovered-span, .DateRangePicker__picker--valid-date-hovered .CalendarMonth__day--after-hovered-start { border: 1px double rgb(128, 232, 224); color: rgb(0, 122, 135); background: rgb(178, 241, 236); }

.DateRangePicker__picker--valid-date-hovered .CalendarMonth__day--selected-start, .DateRangePicker__picker--valid-date-hovered .CalendarMonth__day--selected-end, .CalendarMonth__day--selected-start, .CalendarMonth__day--selected-end, .CalendarMonth__day--selected { border: 1px double rgb(0, 166, 153); color: rgb(255, 255, 255); background: rgb(0, 166, 153); }

.DateRangePicker__picker--valid-date-hovered .CalendarMonth__day--selected-start:active, .DateRangePicker__picker--valid-date-hovered .CalendarMonth__day--selected-end:active, .CalendarMonth__day--selected-start:active, .CalendarMonth__day--selected-end:active, .CalendarMonth__day--selected:active { background: rgb(0, 166, 153); }

.CalendarMonth__day--blocked-calendar { color: rgb(130, 136, 138); cursor: default; background: rgb(202, 204, 205); }

.CalendarMonth__day--blocked-calendar:active { background: rgb(202, 204, 205); }

.CalendarMonth__day--blocked-past-date { color: rgb(202, 204, 205); border: 1px solid rgb(228, 231, 231); cursor: default; background: rgb(255, 255, 255); }

.CalendarMonth__day--blocked-past-date:active { background: rgb(255, 255, 255); }

.CalendarMonthGrid { z-index: 0; background: rgb(255, 255, 255); }

.CalendarMonthGrid--animating { transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -moz-transform 0.2s ease-in-out, -o-transform 0.2s ease-in-out; z-index: 1; }

.CalendarMonthGrid--horizontal { position: absolute; left: 9px; width: 1200px; }

.CalendarMonthGrid--vertical { width: 300px; margin: 0px auto; }

.DayPicker { background: rgb(255, 255, 255); }

.DayPicker--horizontal { box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 6px, rgba(0, 0, 0, 0.0666667) 0px 0px 0px 1px; border-radius: 3px; background: rgb(255, 255, 255); }

.DayPicker--horizontal.DayPicker--portal { box-shadow: none; position: absolute; left: 50%; top: 50%; }

.DayPicker__nav--prev, .DayPicker__nav--next { border: 1px solid rgb(220, 224, 224); color: rgb(117, 117, 117); cursor: pointer; line-height: 0.78; background-color: rgb(255, 255, 255); }

.DayPicker__nav--prev:focus, .DayPicker__nav--prev:hover, .DayPicker__nav--next:focus, .DayPicker__nav--next:hover { border: 1px solid rgb(196, 196, 196); }

.DayPicker__nav--prev:active, .DayPicker__nav--next:active { background: rgb(242, 242, 242); }

.DayPicker--horizontal .DayPicker__nav { position: relative; }

.DayPicker--horizontal .DayPicker__nav--prev, .DayPicker--horizontal .DayPicker__nav--next { border-radius: 3px; padding: 6px 9px; top: 18px; z-index: 2; position: absolute; }

.DayPicker--horizontal .DayPicker__nav--prev { left: 22px; }

.DayPicker--horizontal .DayPicker__nav--next { right: 22px; }

.DayPicker--horizontal svg { height: 19px; width: 19px; fill: rgb(130, 136, 138); }

.DayPicker--vertical .DayPicker__nav { box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 5px 2px; position: absolute; bottom: 0px; left: 0px; height: 52px; width: 100%; z-index: 2; background: rgb(255, 255, 255); }

.DayPicker--vertical .DayPicker__nav--prev, .DayPicker--vertical .DayPicker__nav--next { text-align: center; font-size: 2.5em; padding: 5px; display: inline-block; position: relative; height: 100%; width: 50%; }

.DayPicker--vertical .DayPicker__nav--next { border-left: 0px; }

.DayPicker--vertical svg { height: 42px; width: 42px; fill: rgb(72, 72, 72); }

.DayPicker__week-headers { position: relative; }

.DayPicker__week-header { color: rgb(117, 117, 117); position: absolute; top: 62px; z-index: 2; text-align: left; }

.DayPicker__week-header ul { list-style: none; margin: 1px 0px; padding-left: 0px; }

.DayPicker__week-header li { display: inline-block; width: 39px; text-align: center; }

.DayPicker--horizontal .DayPicker__week-header { padding: 0px 22px 0px 13px; }

.DayPicker--horizontal .DayPicker__week-header:first-of-type { padding: 0px 13px 0px 22px; }

.DayPicker--vertical .DayPicker__week-header { margin-left: -150px; padding: 0px 13px; width: 300px; left: 50%; }

.transition-container { position: relative; overflow: hidden; border-radius: 3px; }

.transition-container--horizontal { transition: height 0.2s ease-in-out; }

.transition-container--vertical { width: 100%; }

.DateInput { font-weight: 200; font-size: 18px; line-height: 24px; color: rgb(117, 117, 117); margin: 0px; padding: 8px; position: relative; display: inline-block; width: 130px; vertical-align: middle; background: rgb(255, 255, 255); }

.DateInput__label { border: 0px; clip: rect(0px 0px 0px 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; }

.DateInput__input { opacity: 0; position: absolute; top: 0px; left: 0px; border: 0px; height: 100%; width: 100%; }

.DateInput__display-text { padding: 4px 8px; white-space: nowrap; overflow: hidden; }

.DateInput__display-text--has-input { color: rgb(72, 72, 72); }

.DateInput__display-text--focused { border-color: rgb(153, 237, 230); border-radius: 3px; color: rgb(0, 122, 135); background: rgb(153, 237, 230); }

.screen-reader-only { border: 0px; clip: rect(0px 0px 0px 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; }

.DateRangePicker { position: relative; display: inline-block; }

.DateRangePicker__picker { z-index: 1; position: absolute; top: 145%; left: 0px; background-color: rgb(255, 255, 255); }

.DateRangePicker__picker::before, .DateRangePicker__picker::after { content: ""; display: inline-block; position: absolute; bottom: auto; }

.DateRangePicker__picker--show { visibility: visible; }

.DateRangePicker__picker--invisible { visibility: hidden; }

.DateRangePicker__picker--portal { position: fixed; top: 0px; left: 0px; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.298039); }

.DateRangePicker__picker--full-screen-portal { background-color: rgb(255, 255, 255); }

.DateRangePicker__picker--start::before, .DateRangePicker__picker--end::before { top: -10px; border-width: 0px 10px 10px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: transparent; border-left-color: transparent; border-bottom-color: rgba(0, 0, 0, 0.0980392); }

.DateRangePicker__picker--start::before { left: 22px; }

.DateRangePicker__picker--end::before { left: 162px; }

.DateRangePicker__picker--start::after, .DateRangePicker__picker--end::after { top: -9px; border-width: 0px 9px 9px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: transparent; border-left-color: transparent; border-bottom-color: rgb(255, 255, 255); }

.DateRangePicker__picker--start::after { left: 23px; }

.DateRangePicker__picker--end::after { left: 163px; }

.DateRangePicker__close { border: 0px; color: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; font-family: inherit; line-height: normal; overflow: visible; cursor: pointer; position: absolute; top: 0px; right: 0px; padding: 15px; z-index: 2; background: none; }

.DateRangePicker__close svg { height: 15px; width: 15px; fill: rgb(202, 204, 205); }

.DateRangePicker__close:hover, .DateRangePicker__close:focus { color: rgb(176, 179, 180); text-decoration: none; }

.DateRangePickerInput { border: 1px solid rgb(202, 204, 205); display: inline-block; background-color: rgb(255, 255, 255); }

.DateRangePickerInput__arrow { display: inline-block; vertical-align: middle; }

.DateRangePickerInput__arrow svg { vertical-align: middle; fill: rgb(72, 72, 72); height: 24px; width: 24px; }

.DateRangePickerInput__clear-dates { border: 0px; color: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; font-family: inherit; line-height: normal; overflow: visible; cursor: pointer; display: inline-block; vertical-align: middle; padding: 10px; margin: 0px 10px 0px 5px; background: none; }

.DateRangePickerInput__clear-dates svg { fill: rgb(130, 136, 138); height: 12px; width: 15px; vertical-align: middle; }

.DateRangePickerInput__clear-dates--hide { visibility: hidden; }

.DateRangePickerInput__clear-dates:focus, .DateRangePickerInput__clear-dates--hover { border-radius: 50%; background: rgb(219, 219, 219); }

.SingleDatePicker { position: relative; display: inline-block; }

.SingleDatePicker__picker { z-index: 1; position: absolute; top: 145%; left: 0px; background-color: rgb(255, 255, 255); }

.SingleDatePicker__picker::before, .SingleDatePicker__picker::after { content: ""; display: inline-block; position: absolute; bottom: auto; }

.SingleDatePicker__picker::before { top: -10px; border-width: 0px 10px 10px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: transparent; border-left-color: transparent; border-bottom-color: rgba(0, 0, 0, 0.0980392); left: 22px; }

.SingleDatePicker__picker::after { top: -9px; border-width: 0px 9px 9px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: transparent; border-left-color: transparent; border-bottom-color: rgb(255, 255, 255); left: 23px; }

.SingleDatePicker__picker--show { visibility: visible; }

.SingleDatePicker__picker--invisible { visibility: hidden; }

.SingleDatePicker__picker--portal { position: fixed; top: 0px; left: 0px; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.298039); }

.SingleDatePicker__picker--full-screen-portal { background-color: rgb(255, 255, 255); }

.SingleDatePicker__close { border: 0px; color: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; font-family: inherit; line-height: normal; overflow: visible; cursor: pointer; position: absolute; top: 0px; right: 0px; padding: 15px; z-index: 2; background: none; }

.SingleDatePicker__close svg { height: 15px; width: 15px; fill: rgb(202, 204, 205); }

.SingleDatePicker__close:hover, .SingleDatePicker__close:focus { color: rgb(176, 179, 180); text-decoration: none; }

.SingleDatePickerInput { border: 1px solid rgb(219, 219, 219); }

.DateRangePickerInput__clear-dates { height: 36px; }

.DateRangePickerInput__clear-dates svg { margin-bottom: 4px; }

.DateInput { font-size: 16px; font-weight: normal; line-height: normal; padding: 6px; width: 115px; }

[lang^="zh"] .DateInput { padding: 4px 6px; }

[lang^="zh"] .DateInput__display-text { padding-left: 3px; padding-right: 3px; }

.SearchForm__input-wrapper .DateRangePicker { text-align: left; }

.SearchForm__input-wrapper .DateRangePickerInput { border-left: 0px; }

@media (max-width: 1127px) { 
  .DateRangePickerInput__clear-dates { margin: 0px 2px 0px 0px; }
}

@media (max-width: 1127px) and (min-width: 744px) { 
  .DateInput { padding: 6px 2px; width: 112px; }
  .DateRangePicker__picker--horizontal { left: -102px; }
  .DateRangePicker__picker--start::before { left: 124px; }
  .DateRangePicker__picker--start::after { left: 125px; }
  .DateRangePicker-picker--end::before { left: 264px; }
  .DateRangePicker-picker--end::after { left: 265px; }
}

@media (max-width: 743px) { 
  .DateRangePicker { margin-top: 9px; margin-bottom: 8px; }
  .DateRangePicker, .DateRangePickerInput { width: 100%; }
  .DateInput { width: 40%; }
  .DateRangePickerInput__clear-dates { float: right; position: absolute; right: 0px; top: 3px; }
  .DateRangePicker__picker { z-index: 2001; }
}

.SearchForm__input-wrapper { position: relative; }

.SearchForm__input-wrapper .icon { margin-left: 0.15em; margin-right: 0.45em; font-size: 24px; vertical-align: -3px; }

.LocationInputDropDown, .GroupedDestinations { border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; border-width: 0px 1px 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgb(196, 196, 196); border-bottom-color: rgb(196, 196, 196); border-left-color: rgb(196, 196, 196); box-shadow: rgba(50, 50, 50, 0.2) 0px 1px 5px; overflow: auto; text-align: left; position: absolute; z-index: 99; top: 100%; width: 100%; background: rgb(255, 255, 255); }

.LocationInputDropDown__section--suggestions { border-top: 1px solid rgb(230, 230, 230); background: rgb(245, 245, 245); }

.SearchLocation__locale { color: rgb(72, 72, 72); font-weight: bold; }

.DropDownOption { display: block; padding: 0px 0.6em; cursor: pointer; font-size: 14px; line-height: 44px; height: 44px; overflow: hidden; text-overflow: ellipsis; color: rgb(195, 192, 192); }

.DropDownOption:focus *, .DropDownOption.focused * { color: rgb(255, 255, 255); }

.DropDownOption + .DropDownOption { border-top: 1px solid rgb(230, 230, 230); }

.DropDownOption--focused { outline: 0px; background: rgb(255, 90, 95); }

.DropDownOption--focused * { color: rgb(255, 255, 255); }

.SavedSearch { display: table; width: 100%; table-layout: fixed; }

.SavedSearch .SearchLocation, .SavedSearch .SavedSearch__dates, .SavedSearch .SavedSearch__guests { display: table-cell; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.SavedSearch .SearchLocation { width: 370px; max-width: 370px; }

@media (max-width: 1127px) and (min-width: 744px) { 
  .SavedSearch .SearchLocation { width: 210px; max-width: 210px; }
}

.SavedSearch .SavedSearch__dates { width: 300px; max-width: 300px; }

.SavedSearch .SavedSearch__guests { max-width: 30%; padding-left: 10px; }

.SavedSearch .dates__start, .SavedSearch .dates__end, .SavedSearch .dates__separator { display: inline-block; padding-left: 10px; }

.SavedSearch .dates__start { width: 36%; }

.SavedSearch .dates__separator { width: 14%; text-align: center; }

.input-placeholder-group { position: relative; display: inline-block; }

.input-placeholder-label { position: absolute; top: 0px; left: 0px; padding-top: 11px; padding-left: 11px; padding-right: 11px; font-size: 16px; max-width: 100%; overflow: hidden; text-overflow: ellipsis; cursor: text; color: rgb(117, 117, 117); }

.featured-listings .tabs > li { margin-right: 0px; }

.host-banner__media-container { height: 344px; overflow: hidden; position: relative; cursor: pointer; }

.host-banner__slide { height: 100%; }

.host-banner__welcome-guest { background-image: url("https://a1.muscache.com/airbnb/static/homepages/host_banner/welcome-guest-5871637891339a7308a838003ab942bd.jpg"); }

.host-banner__green-doors { background-image: url("https://a0.muscache.com/airbnb/static/homepages/host_banner/green-doors-da92547ad2e02558af61a61405d4a414.jpg"); }

.host-banner__having-dinner { background-image: url("https://a2.muscache.com/airbnb/static/homepages/host_banner/having-dinner-42ce249609ed4a0c755bd98f4625c828.jpg"); }

.host-banner--panel-no-border { border: 0px; }

.host-banner__body { height: 344px; }

.host-banner__title { font-size: 26px; line-height: 1.1; }

.host-banner__subtitle { font-size: 16px; }

.host-banner { opacity: 0; position: relative; z-index: 1; transition: opacity 1.5s ease-out; }

.host-banner--fade-in { opacity: 1; }

.host-banner__play-icon { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; cursor: pointer; display: inline-block; font-size: 80px; height: 80px; width: 80px; margin: auto; opacity: 0.7; }

.host-banner__play-icon::before { line-height: 0.5; }

.host-banner__play-icon:hover { opacity: 1; }

.host-banner__video-preview { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background-image: url("https://a0.muscache.com/airbnb/static/homepages/host_banner/host-banner-video-preview-d9b00b07a1910df41848b910459a81d3.jpg"); }

.host-banner__video-container { height: 100%; }

@media (max-width: 743px) { 
  .host-banner__content--cta-right { color: rgb(255, 255, 255); text-align: center; }
}

@media (max-width: 1127px) and (min-width: 744px) { 
  .host-banner__body { height: 270px; }
  .host-banner__body .host-banner__cta { font-size: 12px; padding: 7px 21px; }
  .host-banner__media-container { height: 270px; }
  .host-banner__video { height: 100%; width: auto; }
  .host-banner__play-icon { font-size: 60px; height: 60px; width: 60px; }
}

@media (min-width: 1128px) { 
  .host-banner__video { width: 100%; height: auto; }
}

@media (max-width: 1127px) { 
  .host-banner__title { font-size: 19px; }
}

@media (min-width: 1128px) { 
  .host-banner__content--cta-right { padding-left: 10px; padding-right: 40px; }
}

@media (max-width: 1127px) and (min-width: 744px) { 
  .host-banner__content--cta-right { padding-right: 20px; }
}

.hero-banner--panel-no-border { border: 0px; }

@media (min-width: 1128px) { 
  .hero-banner-right-pane { padding-left: 10px; padding-right: 40px; }
}

@media (max-width: 1127px) and (min-width: 744px) { 
  .hero-banner-right-pane { padding-left: 40px; padding-right: 20px; }
}

@media (max-width: 743px) { 
  .hero-banner-right-pane { padding: 40px 30px; }
}

.hero-banner__media-container .background-cover { height: 344px; }

.hero-banner-title { font-size: 24px; line-height: 1.1; }

.hero-banner-caption { font-size: 16px; }

@media (min-width: 1128px) { 
  .hero-banner--panel-no-border { height: 344px; }
  .hero-banner__right-pane-container { height: 344px; }
}

@media (max-width: 1127px) and (min-width: 744px) { 
  .hero-banner__right-pane-container { height: 344px; padding-left: 0px; }
  .hero-banner__media-container { padding-right: 0px; }
}

.hero-banner-video-play-icon { opacity: 0.8; }

.hero-banner-video-play-icon:hover { opacity: 1; }

.close-fullscreen-hero-banner .icon-remove { font-weight: bold; }

.react-hero-promo-container { opacity: 0; transition: opacity 1.5s ease-out; }

.react-hero-promo-fade_in { opacity: 1; }

.reset-password-modal .modal-content { height: 550px; }

.reset-password-modal .panel-header { height: 110px; background-color: rgb(0, 166, 153); }

.reset-password-modal .icon-tns { width: 22px; height: 40px; background: url("https://a2.muscache.com/airbnb/static/reset_password/tns_confirmation-74c0a0ecfdd028d72a7863af72caa40a.png") center 10px / contain no-repeat; }

.password-strength--weak { color: rgb(178, 63, 66); }

.password-strength--good { color: rgb(255, 180, 0); }

.password-strength--strong { color: rgb(63, 179, 79); }

.password-strength { text-align: left; padding-top: 5px; }

.asia-card { transition-duration: 0.8s; transition-property: opacity; transition-timing-function: ease; height: 344px; width: 100%; }

.asia-card-background-jp { background-image: url("https://a1.muscache.com/airbnb/static/landing_pages/pretzel/stills/japanese-a0b2fb48c6c4435dff10a795be4aecd3.jpg"); }

.asia-card-background-kr { background-image: url("https://a0.muscache.com/airbnb/static/landing_pages/pretzel/stills/korean-aecfb587e0ebaa8682b142e7714ce3dd.jpg"); }

.asia-card-background-cn { background-image: url("https://a2.muscache.com/airbnb/static/landing_pages/pretzel/stills/chinese-4ee564c668ca229d82bdff5333db2685.jpg"); }

.asia-play-icon-small { font-size: 60.75px; }
