@charset  "utf-8";

@-webkit-keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

._4lb1 {
    vertical-align: middle;
}

._4lb2 {
    vertical-align: sub;
}

.pluginFacepileConnectLast,.pluginFacepileConnectConnected .pluginFacepileConnectFirst {
    animation: show .4s;
    display: inline-block !important;
}

.pluginFacepileConnectFirst,.pluginFacepileConnectConnected .pluginFacepileConnectLast {
    display: none !important;
}

._2lqg {
    border-width: 0 1px 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #e9ebee;
    border-bottom-color: #e9ebee;
    border-left-color: #e9ebee;
    overflow-y: auto;
    background: #f6f7f9;
}

._2lqg > div {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    width: 100%;
}

._h7n {
    border-color: #e9ebee #dfe0e4 #d0d1d5;
    border-radius: 2px;
    box-shadow: rgba(0,0,0,0.117647) 0 1px 2px;
    position: relative;
    background: #fff;
}

._h7n ._h7o {
    margin: 2px 0;
    position: absolute;
    right: 8px;
}

._2lqh {
    width: 100%;
}

._2p3a ._3x-2 {
    overflow: hidden;
}

._3o6i {
    margin-bottom: 10px;
}

._57i_ {
    color: #4b4f56;
    line-height: 1.358;
    margin-bottom: 2px;
}

._57i_ a {
    color: #1d2129;
    font-weight: 700;
}

._57j2 ._57j3 li {
    margin-right: 2px;
    margin-top: 2px;
}

._1drm {
    overflow: hidden;
    position: relative;
    background: #fff;
}

._1drm ._1drn {
    border: 1px solid #000;
}

._1drm ._1dro {
    bottom: 40px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

._1b90 ._1dro {
    bottom: 0;
}

._2zfs {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    background: linear-gradient(rgba(0,0,0,0.701961) 0%,rgba(0,0,0,0) 100%);
}

._1dro ._1drp {
    color: #365899;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.358;
    margin-bottom: -5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._1dro ._1drq {
    color: #1d2129;
    font-size: 12px;
    line-height: 1.358;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._1drm ._1z7u {
    bottom: 0;
    height: 24px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
}

._4o5p .pluginConnectButtonConnected,._4o5p .pluginConnectButtonDisconnected,._4o5q button {
    border: 1px solid rgba(0,0,0,0.117647);
    background-clip: padding-box;
}

._1drm._1b90,._1drm._1ds4 {
    border: 1px solid #e9ebee;
}

._1drm._1ds3 ._1drn {
    border: 2px solid #fff;
    box-shadow: rgba(0,0,0,0.498039) 0 1px 6px;
}

._1drm._1ds3 ._1drp,._1drm._1ds3 ._1drq,._1drm._1ds3 ._1drq ._2tnv {
    color: #fff;
    text-shadow: rgba(0,0,0,0.901961) 0 2px 4px;
}

._1drm._1ds3 ._1drq ._4o5p {
    text-shadow: none;
}

._1drm._1ds4 ._1z7u {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e9ebee;
    padding-top: 7px;
    background: #f6f7f9;
}

.pluginConnectButton a._opc,form.async_saving a._opc {
    margin: 0;
    opacity: 1;
}

.pluginConnectButton a._opd {
    color: #90949c;
}

._29bd,._29bd:hover {
    text-decoration: none;
}

.sp_g363wR49-T- {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url(4cMtbdOQ6Yy.png);
    background-size: auto;
    background-repeat: no-repeat;
}

.sp_g363wR49-T-.sx_512998 {
    width: 24px;
    height: 24px;
    background-position: 0 0;
}

.sp_g363wR49-T-.sx_3fbd18 {
    width: 24px;
    height: 24px;
    background-position: 0 -25px;
}

.sp_g363wR49-T-.sx_a516c3 {
    background-position: 0 -50px;
}

.sp_g363wR49-T-.sx_603e1f {
    background-position: 0 -67px;
}

.sp_g363wR49-T-.sx_4b40ef {
    background-position: 0 -84px;
}

.sp_g363wR49-T-.sx_71c87a {
    background-position: 0 -101px;
}

.sp_g363wR49-T-.sx_ace988 {
    background-position: 0 -118px;
}

.sp_g363wR49-T-.sx_ad3d21 {
    background-position: 0 -135px;
}

.sp_g363wR49-T-.sx_14d897 {
    width: 12px;
    height: 12px;
    background-position: 0 -152px;
}

.sp_g363wR49-T-.sx_043707 {
    width: 12px;
    height: 12px;
    background-position: 0 -165px;
}

.sp_g363wR49-T-.sx_4b8f47 {
    width: 12px;
    height: 12px;
    background-position: 0 -178px;
}

#bootloader_tOoQw {
    height: 42px;
}

.bootloader_tOoQw {
    display: block !important;
}
