@charset "utf-8";

a.shortcode.button { color: rgb(51, 51, 51); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 100%; line-height: normal; font-family: Arial, Helvetica, sans-serif; padding: 5px 13px; margin: 0px 3px 5px 0px; border: 1px solid rgb(170, 170, 170); vertical-align: middle; display: inline-block; zoom: 1; text-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px, rgba(255, 255, 255, 0.498039) 0px 1px 0px inset, rgba(255, 255, 255, 0.298039) 0px -1px 0px inset; text-decoration: none !important; background-image: linear-gradient(rgba(255, 255, 255, 0.34902) 0%, rgba(170, 170, 170, 0.14902) 66%, rgba(0, 0, 0, 0.0470588) 100%); background-color: rgb(245, 245, 245); }

a.shortcode.button:hover { text-decoration: none; background-color: rgb(255, 255, 255); }

a.shortcode.button.flat { box-shadow: none; border-radius: 0px; background: rgb(245, 245, 245); }

a.shortcode.button.yellow { border-color: rgb(237, 173, 20); background-color: rgb(255, 226, 11); }

a.shortcode.button.yellow:hover { background-color: rgb(255, 242, 30); }

a.shortcode.button.yellow.flat { background: rgb(255, 226, 11); }

a.shortcode.button.orange { border-color: rgb(163, 98, 10); text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0px; color: rgb(255, 255, 255) !important; background-color: rgb(249, 128, 15); }

a.shortcode.button.orange:hover { background-color: rgb(255, 154, 34); }

a.shortcode.button.orange.flat { background: rgb(249, 128, 15); }

a.shortcode.button.blue { border-color: rgb(0, 118, 163); text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0px; color: rgb(255, 255, 255) !important; background-color: rgb(73, 179, 252); }

a.shortcode.button.blue:hover { background-color: rgb(118, 199, 255); }

a.shortcode.button.blue.flat { background: rgb(73, 179, 252); }

a.shortcode.button.green { border-color: rgb(78, 117, 33); text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0px; color: rgb(255, 255, 255) !important; background-color: rgb(118, 171, 59); }

a.shortcode.button.green:hover { background-color: rgb(144, 195, 86); }

a.shortcode.button.green.flat { background: rgb(118, 171, 59); }

a.shortcode.button.red { border-color: rgb(158, 11, 15); text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0px; color: rgb(255, 255, 255) !important; background-color: rgb(228, 29, 36); }

a.shortcode.button.red:hover { background-color: rgb(251, 78, 85); }

a.shortcode.button.red.flat { background: rgb(228, 29, 36); }

a.shortcode.button.black { border-color: rgb(0, 0, 0); text-shadow: rgba(0, 0, 0, 0.8) 0px -1px 0px; color: rgb(238, 238, 238) !important; background-color: rgb(17, 17, 17); }

a.shortcode.button.black:hover { background-color: rgb(79, 79, 79); }

a.shortcode.button.black.flat { background: rgb(17, 17, 17); }

a.shortcode.button.purple { border-color: rgb(53, 13, 76); text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px; color: rgb(255, 255, 255) !important; background-color: rgb(121, 51, 172); }

a.shortcode.button.purple:hover { background-color: rgb(150, 85, 198); }

a.shortcode.button.purple.flat { background: rgb(121, 51, 172); }

a.shortcode.button.gray { border-color: rgb(101, 101, 101); text-shadow: rgba(0, 0, 0, 0.298039) 0px -1px 0px; color: rgb(255, 255, 255) !important; background-color: rgb(136, 136, 136); }

a.shortcode.button.gray:hover { background-color: rgb(173, 173, 173); }

a.shortcode.button.gray.flat { background: rgb(136, 136, 136); }

a.shortcode.button.light-yellow { border-color: rgb(203, 198, 125); background-color: rgb(254, 248, 165); }

a.shortcode.button.light-yellow:hover { background-color: rgb(254, 252, 223); }

a.shortcode.button.light-yellow.flat { background: rgb(254, 248, 165); }

a.shortcode.button.light-blue { border-color: rgb(149, 190, 207); background-color: rgb(197, 239, 255); }

a.shortcode.button.light-blue:hover { background-color: rgb(233, 249, 255); }

a.shortcode.button.light-blue.flat { background: rgb(197, 239, 255); }

a.shortcode.button.light-green { border-color: rgb(176, 201, 139); background-color: rgb(235, 248, 214); }

a.shortcode.button.light-green:hover { background-color: rgb(249, 255, 240); }

a.shortcode.button.light-green.flat { background: rgb(235, 248, 214); }

a.shortcode.button.pink { border-color: rgb(222, 157, 185); background-color: rgb(250, 205, 225); }

a.shortcode.button.pink:hover { background-color: rgb(253, 236, 243); }

a.shortcode.button.pink.flat { background: rgb(250, 205, 225); }

a.shortcode.button.lavender { border-color: rgb(192, 168, 217); background-color: rgb(236, 217, 255); }

a.shortcode.button.lavender:hover { background-color: rgb(247, 240, 254); }

a.shortcode.button.lavender.flat { background: rgb(236, 217, 255); }

a.shortcode.button.small { font-size: 85%; font-weight: normal; padding: 3px 8px; }

a.shortcode.button.large { font-size: 120%; font-weight: bold; padding: 8px 20px; }

a.shortcode.button.xlarge { font-size: 150%; font-weight: bold; padding: 12px 26px; }

a.shortcode.button.rect { border-radius: 0px; }

a.shortcode.button.rounded { border-radius: 20em; }

a.shortcode.button.embossed { box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px inset, rgba(0, 0, 0, 0.2) 0px -2px 0px inset, rgba(255, 255, 255, 0.2) 0px -3px 0px inset; padding-top: 4px; padding-bottom: 6px; }

a.shortcode.button.embossed.small, a.shortcode.button.small.embossed { box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px inset, rgba(255, 255, 255, 0.2) 0px -2px 0px inset; padding-top: 1px; padding-bottom: 2px; }

a.shortcode.button.embossed.large, a.shortcode.button.large.embossed { box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px inset, rgba(0, 0, 0, 0.2) 0px -3px 0px inset, rgba(255, 255, 255, 0.2) 0px -4px 0px inset; padding-top: 6px; padding-bottom: 10px; }

a.shortcode.button.embossed.xlarge, a.shortcode.button.xlarge.embossed { box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px inset, rgba(0, 0, 0, 0.2) 0px -3px 0px inset, rgba(255, 255, 255, 0.2) 0px -5px 0px inset; padding-top: 10px; padding-bottom: 14px; }

.shortcode.button:active { position: relative; top: 1px; }

hr { height: 1px; border-style: solid none none; border-top-width: 1px; border-top-color: rgb(204, 204, 204); clear: both; }

hr.red { border-color: rgb(255, 51, 0); }

hr.blue { border-color: rgb(102, 153, 255); }

hr.pink { border-color: rgb(255, 153, 204); }

hr.light-gray { border-color: rgb(221, 221, 221); }

hr.dark-gray { border-color: rgb(153, 153, 153); }

hr.black { border-color: rgb(0, 0, 0); }

hr.yellow { border-color: rgb(255, 255, 0); }

hr.orange { border-color: rgb(255, 153, 0); }

hr.white { border-color: rgb(255, 255, 255); }

.shortcode.col4-1, .shortcode.col4-2, .shortcode.col4-3, .shortcode.col3-1, .shortcode.col3-2, .shortcode.col2-1 { margin-left: 3.2%; float: left; }

.shortcode.col4-1 { width: 22.6%; }

.shortcode.col4-2, .shortcode.col2-1 { width: 48.4%; }

.shortcode.col4-3 { width: 74.2%; }

.shortcode.col3-1 { width: 31.2%; }

.shortcode.col3-2 { width: 65.6%; }

.shortcode.col.first, .shortcode.col4-1.first, .shortcode.col4-2.first, .shortcode.col4-3.first, .shortcode.col3-1.first, .shortcode.col3-2.first, .shortcode.col2-1.first { margin-left: 0px; clear: left; }

.shortcode.quote { padding: 0px 5px 0px 26px; margin: 0px 0px 30px; background: url("../img/shortcodes/quote.png") 1px 2px no-repeat; }

.shortcode.box { border: 1px solid rgb(221, 221, 221); padding: 7px 15px; margin: 0px 0px 15px; box-shadow: rgba(255, 255, 255, 0.4) 0px 1px 0px inset; background: rgb(246, 246, 246); }

.shortcode.box.blue { border-color: rgb(39, 134, 207); color: rgb(255, 255, 255) !important; background: rgb(60, 175, 255); }

.shortcode.box.green { border-color: rgb(94, 129, 39); color: rgb(255, 255, 255) !important; background: rgb(120, 172, 62); }

.shortcode.box.red { border-color: rgb(184, 30, 20); color: rgb(255, 255, 255) !important; background: rgb(237, 28, 36); }

.shortcode.box.purple { border-color: rgb(71, 30, 114); color: rgb(255, 255, 255) !important; background: rgb(114, 46, 164); }

.shortcode.box.yellow { border-color: rgb(255, 210, 0); background: rgb(255, 242, 0); }

.shortcode.box.orange { border-color: rgb(197, 97, 2); color: rgb(255, 255, 255) !important; background: rgb(247, 148, 29); }

.shortcode.box.light-yellow { border-color: rgb(222, 219, 163); background: rgb(255, 252, 211); }

.shortcode.box.light-blue { border-color: rgb(164, 207, 224); background: rgb(217, 244, 254); }

.shortcode.box.lavender { border-color: rgb(209, 186, 233); background: rgb(242, 230, 254); }

.shortcode.box.pink { border-color: rgb(240, 182, 207); background: rgb(255, 230, 241); }

.shortcode.box.light-green { border-color: rgb(184, 205, 151); background: rgb(237, 246, 223); }

.shortcode.box.gray { border-color: rgb(133, 133, 133); color: rgb(255, 255, 255) !important; background: rgb(158, 158, 158); }

.shortcode.box.black { border-color: rgb(0, 0, 0); color: rgb(255, 255, 255) !important; background: rgb(17, 17, 17); }

.shortcode.box.purple a, .shortcode.box.orange a, .shortcode.box.green a, .shortcode.box.blue a, .shortcode.box.black a, .shortcode.box.gray a, .shortcode.box.red a { color: rgb(255, 250, 187) !important; }

.shortcode.box.rounded { border-radius: 8px; }

.shortcode.box.shadow { box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px; }

.shortcode.box.announcement { padding-left: 70px; min-height: 55px; background-image: url("../img/shortcodes/annoucement.png"); background-position: 8px 5px; background-repeat: no-repeat; }

.shortcode.box.comment { padding-left: 70px; min-height: 55px; background-image: url("../img/shortcodes/comment.png"); background-position: 8px 5px; background-repeat: no-repeat; }

.shortcode.box.question { padding-left: 70px; min-height: 55px; background-image: url("../img/shortcodes/question.png"); background-position: 8px 5px; background-repeat: no-repeat; }

.shortcode.box.upload { padding-left: 70px; min-height: 55px; background-image: url("../img/shortcodes/upload.png"); background-position: 8px 5px; background-repeat: no-repeat; }

.shortcode.box.download { padding-left: 70px; min-height: 55px; background-image: url("../img/shortcodes/download.png"); background-position: 8px 5px; background-repeat: no-repeat; }

.shortcode.box.highlight { padding-left: 70px; min-height: 55px; background-image: url("../img/shortcodes/highlight.png"); background-position: 8px 5px; background-repeat: no-repeat; }

.shortcode.box.map { padding-left: 70px; min-height: 55px; background-image: url("../img/shortcodes/map.png"); background-position: 8px 5px; background-repeat: no-repeat; }

.shortcode.box.warning { padding-left: 70px; min-height: 55px; background-image: url("../img/shortcodes/warning.png"); background-position: 8px 5px; background-repeat: no-repeat; }

.shortcode.box.info { padding-left: 70px; min-height: 55px; background-image: url("../img/shortcodes/info.png"); background-position: 8px 5px; background-repeat: no-repeat; }

.shortcode.box.note { padding-left: 70px; min-height: 55px; background-image: url("../img/shortcodes/note.png"); background-position: 8px 5px; background-repeat: no-repeat; }

.shortcode.box.contact { padding-left: 70px; min-height: 55px; background-image: url("../img/shortcodes/contact.png"); background-position: 8px 5px; background-repeat: no-repeat; }

.shortcode.box h1, .shortcode.box h2, .shortcode.box h3, .shortcode.box h4, .shortcode.box h5, .shortcode.box h6 { margin: 2px 0px 3px; }

.shortcode.author-box { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221); margin: 15px 0px; box-shadow: rgba(255, 255, 255, 0.4) 0px 1px 0px inset; }

.shortcode.author-box .author-avatar { float: left; margin: 0px 15px 5px 0px; }

.shortcode.author-box .author-avatar img { padding: 4px; box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px; border-radius: 4px; background: rgb(255, 255, 255); }

.shortcode.author-box .author-name { margin: 2px 0px 5px; }

.shortcode.author-box .author-bio { overflow: hidden; margin: 0px; }

.shortcode.author-box.blue { border-color: rgb(39, 134, 207); padding: 8px; color: rgb(255, 255, 255) !important; background: rgb(60, 175, 255); }

.shortcode.author-box.green { border-color: rgb(94, 129, 39); padding: 8px; color: rgb(255, 255, 255) !important; background: rgb(120, 172, 62); }

.shortcode.author-box.red { border-color: rgb(184, 30, 20); padding: 8px; color: rgb(255, 255, 255) !important; background: rgb(237, 28, 36); }

.shortcode.author-box.purple { border-color: rgb(71, 30, 114); padding: 8px; color: rgb(255, 255, 255) !important; background: rgb(114, 46, 164); }

.shortcode.author-box.yellow { border-color: rgb(255, 210, 0); padding: 8px; color: rgb(51, 51, 51) !important; background: rgb(255, 242, 0); }

.shortcode.author-box.orange { border-color: rgb(197, 97, 2); padding: 8px; color: rgb(255, 255, 255) !important; background: rgb(247, 148, 29); }

.shortcode.author-box.light-yellow { border-color: rgb(222, 219, 163); padding: 8px; color: rgb(51, 51, 51) !important; background: rgb(255, 252, 211); }

.shortcode.author-box.light-blue { border-color: rgb(164, 207, 224); padding: 8px; color: rgb(51, 51, 51) !important; background: rgb(217, 244, 254); }

.shortcode.author-box.lavender { border-color: rgb(209, 186, 233); padding: 8px; color: rgb(51, 51, 51) !important; background: rgb(242, 230, 254); }

.shortcode.author-box.pink { border-color: rgb(240, 182, 207); padding: 8px; color: rgb(51, 51, 51) !important; background: rgb(255, 230, 241); }

.shortcode.author-box.light-green { border-color: rgb(184, 205, 151); padding: 8px; color: rgb(51, 51, 51) !important; background: rgb(237, 246, 223); }

.shortcode.author-box.gray { border-color: rgb(133, 133, 133); padding: 8px; color: rgb(255, 255, 255) !important; background: rgb(158, 158, 158); }

.shortcode.author-box.black { border-color: rgb(0, 0, 0); padding: 8px; color: rgb(255, 255, 255) !important; background: rgb(17, 17, 17); }

.shortcode.author-box.purple a, .shortcode.author-box.orange a, .shortcode.author-box.green a, .shortcode.author-box.blue a, .shortcode.author-box.black a, .shortcode.author-box.gray a, .shortcode.author-box.red a { color: rgb(255, 250, 187) !important; }

.shortcode.author-box.yellow a, .shortcode.author-box.light-yellow a, .shortcode.author-box.light-blue a, .shortcode.author-box.lavender a, .shortcode.author-box.pink a, .shortcode.author-box.light-green a { color: rgb(0, 0, 0) !important; }

.shortcode.author-box.rounded { border-radius: 8px; }

.shortcode.author-box.shadow { box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px; }

.shortcode .flickr_badge_image { margin: 10px 0px; }

.shortcode .flickr_badge_image img { margin-right: 12px; margin-bottom: 12px; float: left; }

.shortcode.map .map-container { margin: 0px 0px 15px; border: 1px solid rgb(204, 204, 204); }

.map img { max-width: none !important; }

.gmnoprint { word-wrap: normal; }

.shortcode.grid4 .post { width: 22.6%; float: left; margin-left: 3.2%; }

.shortcode.grid3 .post { width: 31.2%; float: left; margin-left: 3.2%; }

.shortcode.grid2 .post { width: 48.4%; float: left; margin-left: 3.2%; }

.shortcode.grid2-thumb .post { width: 48.4%; float: left; margin-left: 3.2%; }

.shortcode.grid2-thumb .post-image { float: left; margin: 0px 20px 15px 0px; }

.shortcode.grid2-thumb .post-content { overflow: hidden; }

.shortcode.grid4 .post:nth-of-type(4n+1), .shortcode.grid3 .post:nth-of-type(3n+1), .shortcode.grid2 .post:nth-of-type(2n+1), .shortcode.grid2-thumb .post:nth-of-type(2n+1) { margin-left: 0px; clear: left; }

.shortcode.list-thumb-image .post-image { float: left; margin: 0px 20px 15px 0px; }

.shortcode.list-thumb-image .post-content { overflow: hidden; }

.shortcode.list-large-image .post-image { float: left; margin: 0px 20px 15px 0px; }

.shortcode.list-large-image .post-content { overflow: hidden; }

.shortcode.slider, .shortcode.post-slider { height: 0px; visibility: hidden; overflow: hidden; margin: 0px; padding: 0px; }

.shortcode.slider .post, .shortcode.post-slider .post { margin: 0px; padding: 0px; text-align: center; }

.shortcode.post-slider h1, .shortcode.slider h1, .shortcode.post-slider h2, .shortcode.slider h2, .shortcode.post-slider h3, .shortcode.slider h3, .shortcode.post-slider h4, .shortcode.slider h4, .shortcode.post-slider h5, .shortcode.slider h5, .shortcode.post-slider h6, .shortcode.slider h6 { margin: 0px 0px 5px; }

.shortcode.post-slider .post-image { margin: 0px 0px 10px; padding: 0px; float: none; text-align: center; max-width: 100%; width: auto; }

.shortcode.post-slider .post-title { margin: 0px 0px 5px; padding: 0px; font-size: 115%; }

.shortcode.post-slider .post-content { font-size: 95%; width: auto; max-width: 100%; }

.shortcode.post-slider .carousel-wrap, .shortcode.slider .carousel-wrap { position: relative; margin-bottom: 10px; padding: 0px !important; }

.shortcode.post-slider .slides, .shortcode.slider .slides { margin: 0px !important; padding: 0px !important; height: auto !important; }

.shortcode.post-slider .slides li, .shortcode.slider .slides li { list-style: none; width: auto; float: left; text-align: center; margin: 0px 10px 0px 0px !important; padding: 0px !important; height: auto !important; }

.shortcode.post-slider .slides .post, .shortcode.slider .slides .post { width: 100% !important; }

.shortcode.post-slider .post-video, .shortcode.slider .post-video { padding-top: 0px; }

.shortcode.post-slider .carousel-nav-wrap, .shortcode.slider .carousel-nav-wrap { text-align: center; margin: 15px auto 10px; border: none; }

.shortcode.post-slider .carousel-prev, .shortcode.slider .carousel-prev, .shortcode.post-slider .carousel-next, .shortcode.slider .carousel-next { text-indent: 0px; text-decoration: none; text-align: center; margin: 0px 3px; padding: 4px 0px 0px; color: rgb(102, 102, 102); text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px; border-radius: 10em; border: 1px solid rgb(204, 204, 204); box-shadow: rgba(255, 255, 255, 0.4) 0px -1px 1px inset; position: static !important; display: inline-block !important; font-style: normal !important; font-variant: normal !important; font-weight: normal !important; font-stretch: normal !important; font-size: 12px !important; line-height: 100% !important; font-family: Arial, Helvetica, sans-serif !important; width: 24px !important; height: 20px !important; background-image: linear-gradient(rgba(255, 255, 255, 0.0980392) 0%, rgba(0, 0, 0, 0.0980392) 100%); background-color: rgb(245, 245, 245); }

.shortcode.post-slider .carousel-prev:hover, .shortcode.slider .carousel-prev:hover, .shortcode.post-slider .carousel-next:hover, .shortcode.slider .carousel-next:hover { background-color: rgb(255, 255, 255); }

.shortcode.post-slider .carousel-nav-wrap .disabled, .shortcode.slider .carousel-nav-wrap .disabled, .shortcode.post-slider .carousel-nav-wrap .disabled, .shortcode.slider .carousel-nav-wrap .disabled { opacity: 6; cursor: default; }

.shortcode.post-slider .carousel-pager, .shortcode.slider .carousel-pager { clear: both; text-align: center; display: inline-block; zoom: 1; vertical-align: middle; width: auto; }

.shortcode.post-slider .carousel-pager a, .shortcode.slider .carousel-pager a { text-indent: -900em; width: 8px; height: 8px; display: inline-block; zoom: 1; margin: 8px 3px 0px; border: 2px solid rgb(102, 102, 102); border-radius: 10em; cursor: pointer; background: rgba(0, 0, 0, 0.2); }

.shortcode.post-slider .carousel-pager a.selected, .shortcode.slider .carousel-pager a.selected { border-color: rgb(204, 204, 204); background: rgba(255, 255, 255, 0.6); }

.shortcode.slider.effect-fade .caroufredsel_wrapper, .shortcode.post-slider.effect-fade .caroufredsel_wrapper { transition: height 0.5s ease-in-out; }

.shortcode.twitter-list { margin: 0px 0px 20px; }

.shortcode.twitter-list ul { margin: 0px; padding: 0px; }

.shortcode.twitter-list li { margin: 0px 0px 15px; padding: 0px; list-style: none; }

.shortcode.twitter-list .twitter-timestamp a { font-size: 85%; color: inherit; text-decoration: none; }

.shortcode.twitter-list .follow-user { margin: 0px; padding: 5px 0px; }
