@charset "utf-8";

html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset, figure { margin: 0px; padding: 0px; }

img, fieldset { border: 0px; }

img { max-width: 100%; height: auto; box-sizing: border-box; }

@media �screen { 
  img { width: auto; }
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 80%; line-height: 150%; font-family: Georgia, "Times New Roman", Times, serif; color: rgb(102, 102, 102); padding: 110px 0px 40px; -webkit-font-smoothing: antialiased; word-wrap: break-word; background: url("images/body-bg.png") rgb(255, 254, 241); }

a { text-decoration: none; outline: none; color: rgb(193, 107, 5); }

a:hover { text-decoration: underline; }

p { margin: 0px 0px 1.2em; padding: 0px; }

small { font-size: 87%; }

blockquote { font-style: italic; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 110%; line-height: 130%; font-family: "Times New Roman", Times, serif; padding: 8px 30px 15px; }

ins { text-decoration: none; }

ul, ol { margin: 1em 0px 1.4em 24px; padding: 0px; line-height: 140%; }

li { margin: 0px 0px 0.5em; padding: 0px; }

h1, h2, h3, h4, h5, h6 { line-height: 1.4em; margin: 20px 0px 0.4em; color: rgb(0, 0, 0); font-family: Radley, Georgia, "Times New Roman", Times, serif; }

h1 { font-size: 2em; }

h2 { font-size: 1.8em; }

h3 { font-size: 1.6em; }

h4 { font-size: 1.4em; }

h5 { font-size: 1.2em; }

h6 { font-size: 1em; }

input, textarea, select, input[type="search"], button { font-size: 100%; font-family: inherit; }

textarea, input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="url"] { border: 1px solid rgb(202, 202, 202); padding: 6px 10px; border-radius: 5px; -webkit-appearance: none; background: url("noise-bg.png") rgb(245, 245, 238); }

input[type="text"], input[type="search"], input[type="email"], input[type="url"] { width: 240px; max-width: 90%; }

textarea { line-height: 150%; width: 94%; }

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="email"]:focus, input[type="url"]:focus { outline: none; background: rgb(251, 251, 245); }

input[type="reset"], input[type="submit"], button { color: rgb(255, 255, 255); padding: 7px 20px; cursor: pointer; text-shadow: rgba(0, 0, 0, 0.498039) 0px -1px 0px; border: 1px solid rgb(63, 63, 63); box-shadow: rgba(255, 255, 255, 0.298039) 0px 1px 0px inset, rgba(0, 0, 0, 0.298039) 0px 1px 1px; border-radius: 5px; background-image: linear-gradient(rgba(255, 255, 255, 0.498039) 0%, rgba(255, 255, 255, 0.0980392) 100%); background-color: rgb(51, 51, 51); }

input[type="reset"]:hover, input[type="submit"]:hover, button:hover { color: rgb(255, 255, 255); background: rgb(102, 102, 102); }

.pagewidth { width: 978px; margin: 0px auto; }

#content { width: 694px; float: left; padding: 0px 0px 60px; }

.sidebar-none #content { width: 100%; float: none; }

#sidebar { width: 254px; float: right; padding: 0px 0px 60px; }

.sidebar-left #content { float: right; }

.sidebar-left #sidebar { float: left; }

.col4-1, .col4-2, .col4-3, .col3-1, .col3-2, .col2-1 { margin-left: 3.2%; float: left; }

.col4-1 { width: 22.6%; }

.col4-2, .col2-1 { width: 48.4%; }

.col4-3 { width: 74.2%; }

.col3-1 { width: 31.2%; }

.col3-2 { width: 65.6%; }

.col.first, .col4-1.first, .col4-2.first, .col4-3.first, .col3-1.first, .col3-2.first, .col2-1.first { margin-left: 0px; clear: left; }

#headerwrap { z-index: 1000; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(51, 51, 51); position: fixed; top: 0px; left: 0px; min-height: 55px; width: 100%; box-shadow: rgba(255, 255, 255, 0.298039) 0px -1px 0px inset, rgba(0, 0, 0, 0.2) 0px 2px 1px; background: url("images/header-bg.png") left bottom repeat-x rgb(190, 37, 42); }

.admin-bar #headerwrap { top: 28px; }

#header { position: relative; color: rgb(236, 190, 192); padding-bottom: 10px; }

#header a { color: rgb(252, 250, 221); }

#header .widget { padding: 0px; box-shadow: none; border-radius: 0px; background: none; }

#site-logo { margin: 0px; padding: 12px 0px 5px; text-align: center; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 30px; line-height: 110%; font-family: Damion, Georgia, "Times New Roman", Times, serif; text-shadow: rgba(0, 0, 0, 0.298039) 0px -1px 1px; }

#site-logo a { text-decoration: none; color: rgb(255, 255, 255); }

#site-logo a:hover { text-decoration: none; }

#site-description { text-align: center; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1.4em; line-height: 1em; font-family: Damion, Georgia, "Times New Roman", Times, serif; color: rgba(255, 255, 255, 0.8); margin: 0px; padding: 0px 0px 6px; }

.fixed-header #site-description { display: none; }

#social-wrap { position: absolute; top: 18px; right: 0px; }

.social-widget { float: left; margin-left: 10px; }

.social-widget a { text-decoration: none; }

.social-widget a:hover { text-decoration: none; }

.social-widget .widget { display: inline-block; zoom: 1; margin: 0px; }

.social-widget .widget div { display: inline; }

.social-widget .widgettitle { width: auto; font-weight: bold; font-size: 100%; text-transform: none; border: none; letter-spacing: 0px; position: static; display: inline-block; zoom: 1; margin: 5px 8px 2px 0px; padding: 0px; box-shadow: none; background: transparent; }

.social-widget ul { padding: 0px; display: inline; margin: 6px 0px 0px !important; }

.social-widget ul li { padding: 0px 2px 0px 0px; margin: 0px; display: inline-block; zoom: 1; clear: none; line-height: 100%; border: none !important; }

.social-widget li img { vertical-align: middle; margin-top: 1px; }

.social-widget .rss { display: inline-block; position: relative; text-indent: -999em; }

.social-widget .rss a::before { content: ""; margin-right: 5px; position: absolute; font-size: 16px; top: -1px; left: 0px; width: 16px; height: 16px; display: block; padding: 5px 4px 3px; text-align: center; border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px, rgba(255, 255, 255, 0.498039) 0px 1px 1px inset, rgba(255, 255, 255, 0.2) 0px -1px 0px inset; text-indent: 0px !important; background-image: linear-gradient(rgba(255, 255, 255, 0.34902) 0%, rgba(170, 170, 170, 0.14902) 66%, rgba(0, 0, 0, 0.0470588) 100%); background-color: rgb(242, 101, 34); }

.social-widget .rss:hover a::before { background-color: rgb(255, 137, 86); }

#searchform-wrap { float: left; }

#header #searchform { width: 160px; position: relative; }

#header #searchform #s { width: 60px; color: rgb(165, 160, 153); padding-right: 28px; margin-top: -2px; float: right; border: none; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px inset, rgba(255, 255, 255, 0.0980392) 0px 1px 0px; border-radius: 12px; transition: width 0.7s; background-color: rgb(255, 255, 255); }

#header #searchform .icon-search { font-size: 16px; position: absolute; top: 3px; right: 10px; cursor: pointer; color: rgb(165, 160, 153); }

#header #searchform .icon-search::before { content: ""; }

#header #searchform #s:focus { width: 140px; color: rgb(51, 51, 51); }

#main-nav { margin: 0px; padding: 0px; position: absolute; left: 0px; top: 18px; width: 45%; z-index: 100; }

#main-nav li { margin: 0px; padding: 0px; list-style: none; float: left; position: relative; }

#main-nav a { color: rgb(252, 250, 221); display: block; padding: 5px 12px; margin: 0px; text-decoration: none; }

#main-nav a:hover { color: rgb(255, 255, 255); }

#main-nav .current_page_item a, #main-nav .current-menu-item a { color: rgb(255, 255, 255); border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px inset, rgba(255, 255, 255, 0.298039) 0px 1px 0px; background: rgb(91, 36, 22); }

#main-nav .current_page_item a:hover, #main-nav .current-menu-item a:hover { color: rgb(255, 255, 255); }

#main-nav ul a, #main-nav .current_page_item ul a, #main-nav ul .current_page_item a, #main-nav .current-menu-item ul a, #main-nav ul .current-menu-item a { color: rgb(102, 102, 102); font-size: 100%; line-height: 140%; font-weight: normal; text-transform: none; padding: 6px 6px 6px 15px; margin: 0px; display: block; width: 180px; border: none; text-shadow: none; border-radius: 0px; box-shadow: none; background: none; }

#main-nav ul a:hover, #main-nav .current_page_item ul a:hover, #main-nav ul .current_page_item a:hover, #main-nav .current-menu-item ul a:hover, #main-nav ul .current-menu-item a:hover { color: black; background: rgb(243, 243, 243); }

#main-nav ul { margin: 0px; padding: 5px 0px; list-style: none; position: absolute; border: 1px solid rgb(204, 204, 204); z-index: 100; display: none; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px; border-radius: 5px; background: rgb(255, 255, 255); }

#main-nav ul li { padding: 0px; margin: 0px; float: none; background: none; }

#main-nav ul ul { left: 190px; top: -2px; }

#main-nav li:hover > ul { display: block; }

.welcome-message { padding: 15px 4% 5px; width: 90%; max-width: 760px; margin: 0px auto 20px; color: rgb(127, 123, 75); border-width: 1px; border-style: solid; border-color: rgb(210, 203, 109) rgb(210, 203, 109) rgb(188, 181, 90); text-align: center; box-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px inset, rgba(0, 0, 0, 0.0980392) 0px 1px 1px; background: url("images/staple.png") center 8px no-repeat rgb(255, 247, 150); }

.welcome-message h1, .welcome-message h2, .welcome-message h3, .welcome-message h4, .welcome-message h5, .welcome-message h6 { margin: 0px 0px 0.2em; color: rgb(137, 90, 37); font-family: Radley, Georgia, "Times New Roman", Times, serif; font-style: italic; }

.welcome-message p { margin: 0px; padding: 0px 0px 0.7em; }

.page-title { margin: 0px 0px 15px; padding: 0px; font-size: 360%; line-height: 110%; }

.page-content { padding: 14px; margin-bottom: 30px; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px; background: rgb(255, 255, 255); }

.author-bio { margin: 0px 0px 30px; }

.author-bio .author-avatar { float: left; margin: 0px 15px 0px 0px; }

.author-bio .author-avatar img { padding: 4px; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255); }

.author-bio .author-name { margin: 0px 0px 5px; padding: 0px; font-size: 160%; }

.author-posts-by { margin: 0px 0px 20px; padding: 10px 0px 0px; font-size: 140%; text-transform: uppercase; border-top-width: 4px; border-top-style: double; border-color: rgba(118, 118, 118, 0.298039); }

.category-section { clear: both; margin-bottom: 30px; }

.category-section-title { font-size: 120%; text-transform: uppercase; margin: 0px 0px 20px; padding: 10px 0px 0px; border-top-width: 4px; border-top-style: double; border-top-color: rgb(204, 204, 204); }

.loops-wrapper { margin-left: -20px; overflow: visible !important; }

.post { margin-bottom: 20px; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px; background: rgb(255, 255, 255); }

.post-inner { padding: 14px; }

.post .author-pic { float: left; margin: 0px 10px 5px 0px; }

.page .author-pic img, .archive .author-pic img, .search .author-pic img, .home .post .author-pic img { width: 34px; height: 34px; }

.post-content { min-width: 120px; }

.post-title { margin: 0px; padding: 0px; }

.post-title a { color: rgb(0, 0, 0); }

.post-date { font-style: italic; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 85%; line-height: 110%; font-family: "Times New Roman", Times, serif; color: rgb(153, 153, 153); display: block; margin: 0px 0px 4px; }

.post-image { max-width: 100%; margin: 0px 0px 8px; }

.post-image.left { float: left; margin-right: 15px; }

.post-image.right { float: right; margin-left: 15px; }

.post-image .lightbox { position: relative; display: inline-block; zoom: 1; max-width: 100%; }

.post-image .lightbox .zoom::after { color: rgb(255, 255, 255); width: 25px; height: 25px; text-align: center; padding: 11px 10px 9px; margin: -20px 0px 0px -20px; position: absolute; top: 50%; left: 50%; border-radius: 10em; content: ""; font-size: 20px; text-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 2px; background-color: rgba(0, 0, 0, 0.498039); }

.post-image .lightbox:hover .zoom::after { background-color: rgb(0, 0, 0); }

.post-meta { font-size: 85%; line-height: 110%; clear: both; margin: 0px 0px 10px; color: rgb(153, 153, 153); }

.more-link a { font-size: 75%; line-height: 100%; text-transform: uppercase; padding: 3px 8px 4px; margin-left: 4px; text-decoration: none; color: rgb(255, 255, 255); display: inline-block; zoom: 1; border-radius: 5px; background: rgb(190, 37, 42); }

.list-post .loops-wrapper { margin-left: 0px; }

.list-post { position: relative; }

.list-post .post-title { font-size: 200%; margin-bottom: 5px; }

.list-post .post-content { position: relative; margin-left: 130px; min-height: 140px; }

.list-post .shortcode .post-content { margin-left: 0px; }

.list-post .post-meta { width: 110px; position: absolute; top: 50px; left: -130px; }

.list-post .post-meta em { display: none; }

.list-post .post-meta .post-author, .list-post .post-meta .post-category, .list-post .post-meta .post-tag, .list-post .post-meta .post-author, .list-post .post-meta .post-comment a { display: block; text-align: right; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221); padding: 5px 0px; }

.list-post .author-pic { position: absolute; top: 0px; left: -60px; }

.grid4 .post { width: 222px; margin-left: 20px; float: left; font-size: 95%; line-height: 140%; }

.grid4 .post-title { font-size: 120%; }

.grid3 .post { width: 306px; margin-left: 20px; float: left; }

.grid3 .post-title { font-size: 150%; }

.grid2 .post { width: 474px; float: left; margin-left: 20px; }

.grid2 .post-title { font-size: 170%; }

.post-video, .embed-youtube { position: relative; padding-bottom: 56.25%; height: 0px; overflow: hidden; margin-bottom: 15px; }

.post-video iframe, .post-video object, .post-video embed, .embed-youtube iframe, .embed-youtube object, .embed-youtube embed { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }

.pagenav { clear: both; padding-bottom: 20px; text-align: center; margin-top: 20px; }

.pagenav a, .pagenav span { min-width: 24px; min-height: 20px; line-height: 100%; text-decoration: none; text-align: center; margin: 0px 3px; padding: 4px 0px 0px; vertical-align: middle; display: inline-block; zoom: 1; border-radius: 10em; }

.pagenav a { color: rgb(51, 51, 51); text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px; border: 1px solid rgb(204, 204, 204); background-image: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%); background-color: rgb(219, 219, 219); }

.pagenav a:hover { background: rgb(255, 255, 255); }

.pagenav .current { color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 0px inset; text-decoration: none; background: rgb(102, 102, 102); }

.author-box { margin: 15px 0px; }

.author-box .author-avatar { float: left; margin: 0px 15px 5px 0px; }

.author-box .author-name { margin: 0px 0px 5px; }

.post-nav { margin: 0px 0px 30px; padding: 15px 0px; clear: both; }

.post-nav span { width: 47%; position: relative; }

.post-nav a { text-decoration: none; display: block; }

.post-nav a:hover { text-decoration: none; }

.post-nav .prev { float: left; }

.post-nav .next { float: right; text-align: right; }

.post-nav span span { font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 24px; line-height: 100%; font-family: "Times New Roman", Times, serif; display: block; float: left; width: 20px; height: 28px; padding: 4px 0px 0px; text-align: center; margin: -8px 10px 17px 0px; }

.post-nav .next span { float: right; margin-left: 10px; margin-right: 0px; }

.commentwrap { margin: 10px 0px 20px; position: relative; clear: both; }

.comment-title, #reply-title { font-size: 160%; margin: 0px 0px 10px; padding: 0px; }

.commentwrap .pagenav { margin: 10px 0px; border: none; box-shadow: none; }

.commentwrap .pagenav.top { margin: 0px; position: absolute; top: 0px; right: 0px; }

.commentlist { margin: 0px 0px 30px; padding: 5px 0px 0px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221); }

.commentlist li { margin: 0px; padding: 15px 0px 0px; list-style: none; position: relative; min-height: 30px; }

.commentlist .comment-author { margin: 0px 0px 5px; padding: 0px; }

.commentlist .avatar { float: left; margin: 0px 15px 0px 0px; }

.commentlist cite { font-style: italic; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 130%; line-height: normal; font-family: Radley, Georgia, "Times New Roman", Times, serif; }

.commentlist cite a { text-decoration: none; }

.commentlist .bypostauthor > .comment-author cite::before { content: ""; font-style: normal; margin-right: 5px; color: rgb(182, 2, 13); text-shadow: rgba(0, 0, 0, 0.701961) 0px 1px 0px; }

.commentlist .comment-time { font-size: 75%; text-transform: uppercase; }

.commentlist .commententry { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221); position: relative; min-height: 40px; overflow: hidden; padding-bottom: 5px; word-wrap: break-word; }

.commentlist ul, .commentlist ol { margin: 0px 0px 0px 7%; padding: 0px; }

.page .commentlist, .archive .commentlist, .search .commentlist, .home .commentlist { font-size: 90%; margin: 15px 0px 0px; padding: 0px; border: none; }

.page .commentlist ul, .archive .commentlist ul, .search .commentlist ul, .home .commentlist ul { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; }

.page .commentlist p, .archive .commentlist p, .search .commentlist p, .home .commentlist p { margin: 0px 0px 5px; }

.page .commentlist li, .archive .commentlist li, .search .commentlist li, .home .commentlist li { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(238, 238, 238); padding: 10px 0px; }

.page .commentlist li:last-child, .archive .commentlist li:last-child, .search .commentlist li:last-child, .home .commentlist li:last-child { padding-bottom: 0px; }

.page .commentlist .comment-author, .archive .commentlist .comment-author, .search .commentlist .comment-author, .home .commentlist .comment-author { margin: 0px; float: left; }

.page .commentlist .avatar, .archive .commentlist .avatar, .search .commentlist .avatar, .home .commentlist .avatar { margin-right: 10px; }

.page .commentlist cite, .archive .commentlist cite, .search .commentlist cite, .home .commentlist cite { font-size: 110%; font-weight: bold; }

.page .commentlist .commententry, .archive .commentlist .commententry, .search .commentlist .commententry, .home .commentlist .commententry { min-height: 30px; padding-bottom: 0px; border: none; clear: none; }

.page .more-comments, .archive .more-comments, .search .more-comments, .home .more-comments { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221); padding: 10px 0px 0px; margin: 15px 0px 0px; text-align: center; }

.commentlist .reply { position: absolute; right: 0px; top: 8px; }

.commentlist .comment-reply-link { font-size: 11px; text-transform: uppercase; text-decoration: none; }

.commentlist .comment-reply-link:hover { text-decoration: none; }

#respond { margin: 0px; padding: 10px 0px 0px; position: relative; clear: both; }

#respond #cancel-comment-reply-link { position: absolute; top: 20px; right: 0px; font-size: 85%; line-height: 100%; text-decoration: none; padding: 5px 10px; display: block; color: rgb(255, 255, 255); border: 1px solid rgb(158, 11, 15); text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0px; box-shadow: rgba(255, 255, 255, 0.298039) 0px 1px 0px inset, rgba(0, 0, 0, 0.2) 0px 1px 1px; border-radius: 5px; background-image: linear-gradient(rgba(255, 255, 255, 0.34902) 0%, rgba(170, 170, 170, 0.14902) 66%, rgba(0, 0, 0, 0.0470588) 100%); background-color: rgb(228, 29, 36); }

#respond #cancel-comment-reply-link:hover { background: rgb(251, 78, 85); }

#commentform { margin: 15px 0px 0px; }

#commentform input[type="text"] { width: 206px; margin-right: 5px; }

#commentform label { font-weight: bold; }

#commentform label small { font-weight: normal; }

#commentform textarea { height: 140px; }

#commentform input#submit { padding: 7px 20px; }

.widget { word-wrap: break-word; margin-bottom: 30px; padding: 10px 14px; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px; background: rgb(255, 255, 255); }

.widgettitle { margin: 0px 0px 10px; padding: 0px; font-style: normal; font-weight: normal; font-stretch: normal; font-size: 150%; line-height: 110%; font-family: Radley, Georgia, "Times New Roman", Times, serif; font-variant: small-caps; }

.widget ul { margin: 0px; padding: 0px; }

.widget li { margin: 0px; padding: 6px 0px; list-style: none; clear: both; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221); }

.widget ul ul { margin: 6px 0px -6px; padding: 0px; border-top-style: none; }

.widget ul ul li { margin: 0px; padding-left: 10px; }

.widget #wp-calendar caption { font-weight: bold; padding-bottom: 10px; }

.widget #wp-calendar td { width: 31px; padding: 4px 2px; text-align: center; }

.widget .feature-posts-list br { display: none; }

.widget .feature-posts-list .post-img { margin: 4px 12px 10px 0px; float: left; }

.widget .feature-posts-list small { font-style: italic; font-size: 90%; display: block; margin: 0px 0px 3px; }

.widget .feature-posts-list .feature-posts-title { margin: 4px 0px 3px; }

.widget .feature-posts-list .post-excerpt { display: block; }

.widget .twitter-list .twitter-timestamp { font-style: italic; font-size: 85%; margin-top: 4px; }

.widget .twitter-list .twitter-timestamp a { color: inherit; }

.widget .follow-user { margin: 0px; padding: 5px 0px; }

.widget .links-list img, .widget_links img { vertical-align: middle; }

.recent-comments-list .avatar { margin-right: 12px; float: left; }

.widget .flickr_badge_image { margin-top: 10px; }

.widget .flickr_badge_image img { width: 50px; height: 50px; margin-right: 12px; margin-bottom: 12px; float: left; }

.shortcode .flickr_badge_image { width: 23.8%; margin: 0px 1.5% 1.5% 0px; float: left; }

.shortcode .flickr_badge_image:nth-of-type(4n) { margin-right: 0px; }

.shortcode .flickr_badge_image img { margin: 0px; }

#sidebar #searchform { position: static; }

#sidebar #searchform #s { width: 93%; }

#content .twitter-tweet-rendered { max-width: 100% !important; }

#content .twt-border { max-width: 100% !important; min-width: 180px !important; }

#load-more { clear: both; margin: 30px 0px 10px; right: 44%; text-align: center; }

#load-more a { position: relative; font-size: 120%; line-height: 100%; color: rgb(255, 255, 255); padding: 15px 20px 15px 45px; text-decoration: none; display: inline-block; zoom: 1; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.498039) 0px -1px 1px inset, rgba(0, 0, 0, 0.298039) 0px 1px 2px; background-color: rgb(190, 37, 42); }

#load-more a::before { content: ""; position: absolute; left: 14px; top: 13px; font-size: 22px; text-shadow: rgba(0, 0, 0, 0.901961) 0px -1px 0px; }

#load-more a:hover { background-color: rgb(51, 51, 51); }

.widget .social-links { margin: 0px 0px 20px; padding: 0px; line-height: 100%; }

.widget .social-links li { margin: 0px 5px 5px 0px; padding: 0px; list-style: none; border: none; display: inline-block; zoom: 1; }

.widget .social-links img { vertical-align: middle; }

#footer { clear: both; padding-bottom: 30px; }

.footer-text { clear: left; font-style: italic; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 100%; line-height: 120%; font-family: Radley, Georgia, "Times New Roman", Times, serif; text-align: center; }

.back-top { clear: both; margin: 30px 0px 5px; text-align: center; }

.back-top a { color: rgb(255, 255, 255); display: block; margin: 15px auto 10px; width: 40px; height: 40px; text-indent: -900em; border-radius: 10em; box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 3px inset; text-align: center; background: rgb(190, 37, 42); }

.back-top a::after { content: ""; font-size: 20px; text-indent: 0px; display: block; position: relative; margin-top: -9px; }

.back-top a:hover { text-decoration: none; background-color: rgb(51, 51, 51); }

.sticky { }

img.alignleft, img.aligncenter, img.alignright, img.alignnone { margin-bottom: 15px; }

.alignleft { float: left; margin-right: 30px; }

.alignright { float: right; margin-left: 30px; }

.aligncenter { text-align: center; display: block; margin-left: auto; margin-right: auto; }

.wp-caption { text-align: center; margin-bottom: 15px; max-width: 100%; }

.wp-caption-text { font-style: italic; font-size: 95%; line-height: 120%; margin: 6px 0px; }

.attachment.single-attachment, .single-attachment .attachment { float: none; margin: 0px; text-align: left; }

#body .gallery { margin: 0px 0px 5px; }

#body .gallery .gallery-item { margin: 0px 8px 8px 0px; vertical-align: top; width: auto; float: left; text-align: center; }

#body .gallery img { border: none; vertical-align: bottom; }

#body .gallery .gallery-caption { line-height: 120%; font-size: 90%; text-align: center; margin: 5px 0px 0px; }

.grid4 #body .loops-wrapper .gallery img, .grid3 #body .loops-wrapper .gallery img { max-width: 50px !important; }

#body .gallery-columns-1 .gallery-item { width: auto; }

#body .gallery-columns-1 br { display: none !important; }

#body .gallery-columns-2 .gallery-item { width: 49.2%; }

#body .gallery-columns-3 .gallery-item { width: 32.3%; }

#body .gallery-columns-4 .gallery-item { width: 23.8%; }

#body .gallery-columns-5 .gallery-item { width: 18.8%; }

#body .gallery-columns-6 .gallery-item { width: 15.4%; }

#body .gallery-columns-7 .gallery-item { width: 13%; }

#body .gallery-columns-8 .gallery-item { width: 11.18%; }

#body .gallery-columns-9 .gallery-item { width: 9.77%; }

#body .gallery-columns-1 .gallery-item, #body .gallery-columns-2 .gallery-item, #body .gallery-columns-3 .gallery-item, #body .gallery-columns-4 .gallery-item, #body .gallery-columns-5 .gallery-item, #body .gallery-columns-6 .gallery-item, #body .gallery-columns-7 .gallery-item, #body .gallery-columns-8 .gallery-item, #body .gallery-columns-9 .gallery-item { margin-right: 1.5%; margin-bottom: 1.5%; }

#body .gallery-columns-9 .gallery-item:nth-of-type(9n), #body .gallery-columns-8 .gallery-item:nth-of-type(8n), #body .gallery-columns-7 .gallery-item:nth-of-type(7n), #body .gallery-columns-6 .gallery-item:nth-of-type(6n), #body .gallery-columns-5 .gallery-item:nth-of-type(5n), #body .gallery-columns-4 .gallery-item:nth-of-type(4n), #body .gallery-columns-3 .gallery-item:nth-of-type(3n), #body .gallery-columns-2 .gallery-item:nth-of-type(2n) { margin-right: 0px; }

.module.loops-wrapper { margin: 0px; }

.module .post { border-radius: 0px; box-shadow: none; background: none; }

.module .post-inner { padding: 14px; }

.module.list-post .post-content { margin-left: 0px; }

.module.list-post .post-meta { width: auto; position: static; }

.module.list-post .post-meta .post-author, .module.list-post .post-meta .post-category, .module.list-post .post-meta .post-tag, .module.list-post .post-meta .post-author, .module.list-post .post-meta .post-comment a { display: inline; text-align: left; border-top-style: none; padding: 0px 5px 0px 0px; }

.module .author-pic { display: none; }

.clear { clear: both; }

.left { float: left; }

.right { float: right; }

.textleft { text-align: left; }

.textright { text-align: right; }

.textcenter { text-align: center; }

.clearfix::after, .widget li::after, #body::after, #footer::after, footer::after, .pagenav::after, #main-nav::after, .menu::after, .gallery::after, #content::after { visibility: hidden; display: block; font-size: 0px; content: " "; clear: both; height: 0px; }

.clearfix, .widget li, #body, #footer, footer, .pagenav, #main-nav, .menu, .gallery, #content { display: inline-block; }

.clearfix, .widget li, #body, #footer, footer, .pagenav, #main-nav, .menu, .gallery, #content { display: block; zoom: 1; }

html, body { height: 100%; }

.isotope-item { z-index: 2; }

.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }

.isotope, .isotope .isotope-item { transition-duration: 0.8s; }

.isotope { transition-property: height, width; }

.isotope .isotope-item { transition-property: transform, opacity; }

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition { transition-duration: 0s; }

.isotope.infinite-scrolling { transition: none; }

#infscr-loading { position: fixed; text-align: center; bottom: 30px; left: 50%; width: 50px; height: 41px; padding-top: 9px; margin-left: -25px; z-index: 100; overflow: hidden; border-radius: 10px; background: rgba(255, 255, 255, 0.901961); }

.social-share { margin: 10px 0px; overflow: hidden; clear: both; display: block; height: 42px; }

.sharrre { width: 39px; margin: 0px 3px 0px 0px; display: inline-block; zoom: 1; }

.sharrre a, .sharrre a:hover { text-decoration: none; }

.sharrre .share { padding: 3px 0px; color: rgb(255, 255, 255); font-size: 16px; line-height: 1em; text-align: center; border: 1px solid rgb(154, 154, 154); box-shadow: rgba(255, 255, 255, 0.298039) 0px 1px 0px inset; text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0px; border-radius: 3px 3px 0px 0px; background: rgb(182, 182, 182); }

.sharrre .count { font-size: 13px; line-height: 100%; text-align: center; color: rgb(68, 68, 68); min-height: 14px; position: relative; border: 1px solid rgb(207, 205, 205); box-shadow: rgba(255, 255, 255, 0.701961) 0px -1px 0px inset; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; background: rgb(234, 234, 234); }

.sharrre .share span { display: none; }

.twitter-share .share { border-color: rgb(93, 133, 179); background-color: rgb(102, 158, 222); }

.facebook-share .share { border-color: rgb(90, 106, 178); background-color: rgb(102, 124, 222); }

.googleplus-share .share { border-color: rgb(156, 67, 67); background-color: rgb(219, 64, 64); }

.pinterest-share .share { border-color: rgb(186, 67, 71); background-color: rgb(238, 74, 79); }

.twitter-share .share::after { content: ""; }

.facebook-share .share::after { content: ""; }

.googleplus-share .share::after { content: ""; }

.pinterest-share .share::after { content: ""; }

.likeit-wrap { margin: 20px 0px 5px; min-height: 15px; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 14px; line-height: 1em; font-family: Arial, Helvetica, sans-serif; color: rgb(54, 54, 54); }

.likeit-wrap .likeit { display: inline-block; margin-right: 5px; text-decoration: none; color: rgb(153, 153, 153); }

.likeit-wrap .likeit:hover { text-decoration: none; color: rgb(255, 91, 78); }

.likeit-wrap .like-text { width: 17px; height: 15px; position: relative; display: inline-block; text-indent: -999em; }

.likeit-wrap .like-text::after { content: ""; color: rgb(226, 111, 106); text-indent: 0px; position: absolute; top: 0px; left: 0px; }

.likeit-wrap .likeit:hover .like-text::after { content: ""; }

.likeit-wrap .like-count { margin-right: 2px; }

.likeit-wrap span { font-size: 90%; display: none; color: rgba(54, 54, 54, 0.298039); }

#header #search-icon::before, #search-icon::after, #menu-icon::after, .social-widget .rss a::before, .twitter-share .share::after, .facebook-share .share::after, .googleplus-share .share::after, .pinterest-share .share::after, .likeit-wrap .like-text::after, .post-image .lightbox .zoom::after, .comment-author cite::before, #load-more a::before, .back-top a::after { font-family: FontAwesome; line-height: 1em; }

html.post-lightbox-html { margin: 0px !important; }

* html.post-lightbox-html body { margin: 0px !important; }

body.post-lightbox-iframe { padding: 0px; }

.lightbox-post { width: 100%; padding: 0px; background: rgb(255, 255, 255); }

.lightbox-post #content { width: 100% !important; max-width: 100% !important; }

.lightbox-post .post { padding: 0px; margin: 0px; box-shadow: none; border-radius: 0px; width: 100% !important; max-width: 100% !important; }

.lightbox-post .post-inner { margin: 0px; }

.is-touch .pp_content, .is-touch #pp_full_res, .is-touch #pp_full_res iframe { overflow: scroll; }

.signup-box label { width: 140px; display: inline-block; }

.signup-box #blogname { width: 110px; }

.signup-box .prefix_address { font-size: 90%; }

.signup-box .submit-field { margin-left: 140px; }

.widget .signup-box .submit-field { margin-left: 0px; }

.login-box input[type="text"], .login-box input[type="search"], .login-box input[type="password"], .login-box input[type="email"] { display: block; width: 180px; max-width: 100%; margin-bottom: 7px; }
