@charset "utf-8";

* { margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6 { margin: 0px 0px 15px; padding: 0px; font-family: Montserrat, sans-serif; font-weight: 700; line-height: 1.1; color: rgb(34, 34, 34); }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: rgb(34, 34, 34); border: 0px; }

h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus { color: rgb(68, 114, 185); border: 0px; }

a { color: rgb(68, 114, 185); text-decoration: none; }

a:hover, a:focus { color: rgb(51, 51, 51); }

article a, footer a { border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: transparent; }

article a:hover, article a:focus, footer a:hover, footer a:focus { border-bottom-color: rgb(153, 153, 153); }

blockquote { margin: 15px 0px 10px 20px; padding-left: 10px; border-left-width: 8px; border-left-style: solid; border-left-color: rgb(204, 204, 204); font-style: italic; }

a img { border: none; }

main, article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

p, pre, figure { margin: 0px 0px 1rem; }

*, ::after, ::before { box-sizing: border-box; }

.clear::after, .group::after { display: table; content: ""; clear: both; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button, input { line-height: normal; }

button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }

input[type="text"], input[type="search"], input[type="url"], input[type="email"], input[type="text"], input[type="password"] { outline: 0px; border: 0px; -webkit-appearance: none; border-radius: 0px; font-family: "Source Sans Pro", sans-serif; }

input[type="search"] { -webkit-appearance: textfield; }

form { margin: 0px; }

svg:not(:root) { overflow: hidden; }

.right { float: right; }

.left { float: left; }

.text_center { text-align: center; }

.text_justify { text-align: justify; }

.hide { display: none; }

img.alignleft { float: left; display: inline; }

.lineheight { line-height: 13px; }

.noselect { -webkit-user-select: none; }

.video { height: 0px; padding-bottom: 56.25%; position: relative; width: 100%; }

.new-video { box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px; background: rgb(255, 255, 255); }

.video iframe { height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }

html { font-family: "Source Sans Pro", sans-serif; font-weight: 500; font-size: 17px; line-height: 1.45; }

body { overflow-x: hidden; background: rgb(238, 238, 238); }

.page-wrap { max-width: 1143px; overflow: hidden; margin: 0px auto; position: relative; }

.top { background: rgb(21, 21, 21); }

.top-bar { max-width: 1143px; padding: 12px 25px; font-size: 13px; overflow: hidden; margin: 0px auto; position: relative; }

.top-bar h1 { margin: 1px 0px 0px; line-height: 1; }

.top-bar h1 a { color: rgb(35, 160, 228); }

.top-bar h2 { margin: 0px; line-height: 1.1; }

.top-bar h2 a { color: rgb(35, 160, 228); }

.logo { float: left; font-size: 29px; font-weight: 700; text-transform: uppercase; letter-spacing: -2px; }

.word-logo { color: rgb(255, 255, 255) !important; }

.nav-block { float: right; }

.main-nav { float: left; font-family: Montserrat, sans-serif; margin-top: 2px; }

.main-nav > a { position: relative; display: inline-block; font-weight: 700; font-style: normal; text-transform: uppercase; opacity: 1; color: rgb(255, 255, 255); visibility: visible; -webkit-font-smoothing: antialiased; font-size: 16px; padding: 2px 10px; border-radius: 3px; margin-right: 5px; }

.main-nav > a:hover, .main-nav > a:focus { color: rgb(15, 15, 15); }

.browse { background: linear-gradient(140deg, rgb(28, 158, 220) 0%, rgb(28, 158, 220) 10%, rgb(27, 150, 209) 10%, rgb(27, 150, 209) 20%, rgb(25, 139, 194) 19%, rgb(25, 142, 198) 21%, rgb(25, 142, 198) 20%, rgb(25, 142, 198) 30%, rgb(23, 131, 183) 29%, rgb(24, 134, 187) 31%, rgb(24, 134, 187) 30%, rgb(24, 134, 187) 40%, rgb(22, 123, 172) 39%, rgb(23, 126, 176) 41%, rgb(23, 126, 176) 40%, rgb(23, 126, 176) 50%, rgb(21, 115, 161) 49%, rgb(21, 118, 165) 51%, rgb(21, 118, 165) 50%, rgb(21, 118, 165) 60%, rgb(19, 107, 150) 59%, rgb(20, 110, 154) 61%, rgb(20, 110, 154) 60%, rgb(20, 110, 154) 70%, rgb(18, 99, 139) 69%, rgb(18, 102, 143) 71%, rgb(18, 102, 143) 70%, rgb(18, 102, 143) 80%, rgb(16, 91, 128) 79%, rgb(17, 95, 132) 81%, rgb(17, 95, 132) 80%, rgb(17, 95, 132) 90%, rgb(15, 84, 117) 89%, rgb(16, 87, 121) 91%, rgb(16, 87, 121) 90%, rgb(16, 87, 121) 100%) rgb(28, 158, 220); }

.list { background: linear-gradient(140deg, rgb(67, 183, 77) 0%, rgb(67, 183, 77) 10%, rgb(63, 174, 73) 10%, rgb(63, 174, 73) 20%, rgb(59, 161, 68) 19%, rgb(60, 165, 70) 21%, rgb(60, 165, 70) 20%, rgb(60, 165, 70) 30%, rgb(55, 152, 64) 29%, rgb(57, 156, 66) 31%, rgb(57, 156, 66) 30%, rgb(57, 156, 66) 40%, rgb(52, 143, 60) 39%, rgb(53, 147, 62) 41%, rgb(53, 147, 62) 40%, rgb(53, 147, 62) 50%, rgb(49, 134, 56) 49%, rgb(50, 138, 58) 51%, rgb(50, 138, 58) 50%, rgb(50, 138, 58) 60%, rgb(45, 125, 53) 59%, rgb(47, 128, 54) 61%, rgb(47, 128, 54) 60%, rgb(47, 128, 54) 70%, rgb(42, 116, 49) 69%, rgb(43, 119, 50) 71%, rgb(43, 119, 50) 70%, rgb(43, 119, 50) 80%, rgb(39, 106, 45) 79%, rgb(40, 110, 46) 81%, rgb(40, 110, 46) 80%, rgb(40, 110, 46) 90%, rgb(35, 97, 41) 89%, rgb(37, 101, 43) 91%, rgb(37, 101, 43) 90%, rgb(37, 101, 43) 100%) rgb(67, 183, 77); }

.top-100 { background: linear-gradient(140deg, rgb(222, 162, 0) 0%, rgb(222, 162, 0) 10%, rgb(211, 154, 0) 10%, rgb(211, 154, 0) 20%, rgb(196, 143, 0) 19%, rgb(200, 146, 0) 21%, rgb(200, 146, 0) 20%, rgb(200, 146, 0) 30%, rgb(184, 135, 0) 29%, rgb(189, 138, 0) 31%, rgb(189, 138, 0) 30%, rgb(189, 138, 0) 40%, rgb(173, 127, 0) 39%, rgb(178, 130, 0) 41%, rgb(178, 130, 0) 40%, rgb(178, 130, 0) 50%, rgb(162, 119, 0) 49%, rgb(167, 122, 0) 51%, rgb(167, 122, 0) 50%, rgb(167, 122, 0) 60%, rgb(151, 110, 0) 59%, rgb(156, 114, 0) 61%, rgb(156, 114, 0) 60%, rgb(156, 114, 0) 70%, rgb(140, 102, 0) 69%, rgb(144, 106, 0) 71%, rgb(144, 106, 0) 70%, rgb(144, 106, 0) 80%, rgb(129, 94, 0) 79%, rgb(133, 97, 0) 81%, rgb(133, 97, 0) 80%, rgb(133, 97, 0) 90%, rgb(118, 86, 0) 89%, rgb(122, 89, 0) 91%, rgb(122, 89, 0) 90%, rgb(122, 89, 0) 100%) rgb(222, 162, 0); }

.search { width: 200px; float: left; margin-left: 2px; }

#search-form { border: 1px solid rgb(0, 0, 0); color: rgb(249, 249, 249); border-radius: 5px; background: rgb(255, 255, 255); }

#search-form button { border: 0px; float: right; display: inline-block; margin: 6px 10px 0px 6px; background: transparent; }

.button-search { width: 16px; height: 16px; fill: rgb(0, 0, 0); vertical-align: middle; }

button svg:hover { fill: rgb(139, 139, 139); }

.no-overflow { overflow: hidden; border-radius: 5px; }

.search-field { font-size: 15px; border: none; box-shadow: none; border-radius: 0px; color: rgb(0, 0, 0); width: 100%; padding: 5px 0px 5px 9px; background: rgb(255, 255, 255); }

.content-wrap { color: rgb(34, 34, 34); background: rgb(238, 238, 238); }

.grid { padding: 10px 0px 0px 25px; }

[class*="grid-"] { padding-right: 25px; margin: 0px 0px 10px; display: table-cell; vertical-align: top; }

.grid-1-3 { width: 366px; }

.grid-2-3 { max-width: 751px; padding-right: 10px; }

.module { padding: 30px 40px; clear: both; margin: 0px 0px 10px; position: relative; box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px; background: rgb(255, 255, 255); }

.middle-ad, .top-side-ad { text-align: center; margin: 0px 0px 10px; padding: 20px 40px; position: relative; box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px; clear: both; background: rgb(255, 255, 255); }

h1, .h1 { font-size: 34px; }

h2, .h2 { font-size: 28px; }

.preview-tag { font-size: 15px; color: rgb(153, 153, 153); margin-bottom: 10px; }

.preview-text { color: rgb(212, 116, 20); font-weight: 700; }

.archive-title { padding: 10px 40px !important; }

.archive-title h1 { margin: 0px; padding: 0px; font-size: 14px; line-height: 1.6; float: left; text-transform: uppercase; color: rgb(34, 34, 34); font-weight: 700; font-family: Montserrat; }

.single-page h1 { margin-bottom: 30px; }

.contentpic { margin-top: 15px; }

.junk-contentpic { margin-top: 15px; }

.contentpic img { margin: 7px 34px 18px 0px; }

.junk-contentpic img { margin: 7px 18px 18px -16px; }

.excerptpic img { margin: 7px 34px 0px 0px; }

.junk-excerptpic img { margin: 7px 18px 0px -16px; }

.slink { font-size: 11px; }

.galery { padding: 20px 0px 20px 31px !important; }

.galery img { margin: 0px 31px 0px 0px; }

.title { border: 1px solid rgb(34, 34, 34); color: rgb(255, 255, 255); padding: 4px 40px; font-family: Montserrat, sans-serif; font-size: 14px; margin-bottom: 0px; background: rgb(42, 42, 42); }

.docu-text { border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(148, 177, 223); padding-bottom: 15px; margin-bottom: 10px; }

.preview { color: rgb(212, 116, 20); }

.selection { float: right; font-size: 14px; }

.selection select { font-family: "Source Sans Pro", sans-serif; }

.selection label { display: inline-block; margin-right: 5px; }

.meta-bar { display: block; font-size: 14px; text-transform: uppercase; color: rgb(153, 153, 153); margin: 0px 0px 9px; }

.new-single .meta-bar { margin-bottom: 0px !important; }

.meta-bar a { color: rgb(153, 153, 153); margin-left: 4px; }

.meta-bar a:hover { color: rgb(0, 0, 0); }

.meta-bar .commentcount { float: right; }

.share-text { font-weight: 700; font-family: Montserrat, sans-serif; text-transform: uppercase; margin-bottom: 8px; font-size: 14px; color: rgb(34, 34, 34); }

.number_shares { font-size: 40px; line-height: 26px; margin-left: 5px; font-weight: 700; color: rgb(127, 192, 76); vertical-align: bottom; letter-spacing: -1px; }

.share-link { padding: 6px 21px; color: rgb(255, 255, 255); text-decoration: none; margin-right: 5px; font-size: 16px; }

.share-link:hover { color: rgb(255, 255, 255); }

.fb-share { background: rgb(59, 89, 151); }

.fb-share:hover { background: rgb(45, 67, 114); }

.tw-share { background: rgb(65, 183, 216); }

.tw-share:hover { background: rgb(39, 158, 191); }

.g-share { background: rgb(214, 73, 55); }

.g-share:hover { background: rgb(181, 53, 37); }

.email-field { padding: 6px 10px; margin-right: 2px; width: 62%; line-height: 1.2; }

.email-field-sidebar { width: 60%; border: 1px solid rgb(204, 204, 204) !important; }

.button { font-size: inherit; display: inline-block; font-weight: 500; outline: 0px; border-radius: 5px; color: rgb(255, 255, 255); white-space: nowrap; line-height: 1.4; border: 0px; position: relative; transition: 0.1s; font-family: "Source Sans Pro", sans-serif; padding: 5px 18px !important; background: rgb(68, 114, 185); }

.button-sidebar { background: rgb(76, 164, 84) !important; }

.button:hover, .button:focus { background: rgb(41, 68, 110); }

.button-sidebar:hover, .button-sidebar:focus { background: rgb(0, 153, 51) !important; }

.single-h2-title h2 { font-size: 17px; border-bottom-width: 2px; border-bottom-style: dotted; border-bottom-color: rgb(204, 204, 204); text-transform: uppercase; padding-bottom: 5px; margin-bottom: 10px; }

.related-list { font-size: 12px; font-family: Montserrat, sans-serif; text-transform: uppercase; margin-top: 20px; margin-left: -2.646%; }

.related_img1 { float: left; margin: 0px 2.496%; max-width: 95px; width: 13.982%; }

.related_img1 img { width: 100%; height: auto !important; }

.related_img2 { float: left; margin: 0px 0.454%; max-width: 128px; width: 19.086%; }

.related_img2 img { width: 100%; height: auto !important; }

.commentlist { list-style: none; margin: 20px 0px; }

.commentmetadata { float: right; color: rgb(223, 223, 223); padding: 0px 5px 5px 0px; font-size: 13px; }

.commentmetadata a { color: rgb(34, 34, 34); }

.comment-author { margin-bottom: 3px; font-weight: 600; color: rgb(34, 34, 34); }

.comment-author cite { font-style: normal; }

.comment h2 { padding-bottom: 20px !important; }

.comment h3 { font-weight: 700; text-decoration: none; color: rgb(0, 0, 0); padding: 0px 10px; }

.comment ul li { list-style: none; }

[id*="li-comment-"] { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(222, 225, 227); margin-bottom: 20px; padding-bottom: 7px; font-size: 16px; color: rgb(63, 69, 73); }

.avatar { position: absolute; border-radius: 3px; margin-top: 4px; }

.comment-body { margin-left: 60px; }

.leave-comment { font-size: 18px; font-family: Montserrat, sans-serif; letter-spacing: -1px; }

.commenter-inputs { margin-bottom: 10px; }

.commenter-inputs input { float: left; position: relative; margin-bottom: 10px; margin-right: 1%; width: 49%; font-family: "Source Sans Pro", sans-serif; outline: 0px; border: 1px solid rgb(169, 169, 169); -webkit-appearance: none; padding: 0.5rem; border-radius: 5px; }

.comment-form textarea { width: 100%; font-family: "Source Sans Pro", sans-serif; outline: 0px; border: 1px solid rgb(169, 169, 169); -webkit-appearance: none; padding: 0.5rem; border-radius: 5px; margin-bottom: 7px; }

.moderate { font-weight: 700; background: rgb(204, 204, 204); }

aside .module { padding: 20px; font-size: 16px; }

aside .module h3 { font-size: 15px; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(204, 204, 204); font-family: Montserrat, sans-serif; text-transform: uppercase; padding-bottom: 5px; margin-bottom: 10px; }

.social-wrap a { border-bottom-width: 0px; margin-right: 20px; }

[class*="shape-"] { width: 22px; height: 22px; vertical-align: middle; fill: rgb(255, 255, 255); }

.shape-fb:hover { fill: rgb(59, 89, 152); }

.shape-tw:hover { fill: rgb(0, 172, 237); }

.shape-gl:hover { fill: rgb(221, 75, 57); }

.shape-rss:hover { fill: rgb(255, 102, 0); }

aside li { list-style: none; }

section li { list-style: none; }

.cat-list { float: left; width: 50%; margin-top: 4px; }

.cat-list a { color: rgb(34, 34, 34); font-weight: 400; font-size: 14px; display: block; width: 94%; margin-bottom: 10px; border: 1px solid rgb(204, 204, 204); margin-right: 10px; padding: 2px 10px; font-family: Montserrat, sans-serif; background: rgb(239, 239, 239); }

.cat-list a:hover, .cat-list a:hover { color: rgb(255, 255, 255); border-color: rgb(68, 114, 185); background: rgb(68, 114, 185); }

.ad { height: 250px; text-align: center; }

.ad4 { text-align: center; margin: 0px 35px 10px 0px; height: 90px; }

.side-wrap li { float: left; margin-bottom: 10px; padding-bottom: 15px; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgba(0, 0, 0, 0.298039); width: 100%; }

.side-wrap li:last-child { margin-bottom: 0px; padding-bottom: 0px; border-bottom-width: 0px; }

.side-wrap a { color: rgb(34, 34, 34); font-size: 13px; font-family: Montserrat, sans-serif; font-weight: 600; }

.side-wrap a:hover { color: rgb(68, 114, 185); }

.side-wrap img { margin: 5px 15px 0px 0px; }

.side-desc { display: block; font-size: 14px; margin-top: 4px; line-height: 1.4; }

.pagination { color: rgb(102, 102, 102); clear: both; font-size: 14px; font-family: Montserrat, sans-serif; text-transform: uppercase; margin: 0px auto 10px; text-align: center; padding: 20px !important; }

.pagination span, .pagination a { color: rgb(102, 102, 102); margin-right: 5px; padding: 3px 10px; text-decoration: none; border: 1px solid rgb(204, 204, 204); background: rgb(221, 221, 221); }

.pagination a:hover { color: rgb(255, 255, 255); border: 1px solid rgb(137, 173, 207); background: rgb(95, 135, 174); }

.pagination .current { margin-right: 5px; padding: 3px 10px; color: rgb(255, 255, 255); border: 1px solid rgb(137, 173, 207); background: rgb(95, 135, 174); }

.search-page h1 { font-size: 18px; }

input.gsc-input { padding: 5px 10px !important; font-size: 15px !important; }

input.gsc-search-button { padding: 0px 10px !important; font-size: 14px !important; height: 29px !important; }

table.gsc-search-box td.gsc-input { padding-right: 0px !important; }

.gsc-above-wrapper-area { margin-bottom: 10px !important; }

.gsc-control-cse { padding: 1em 0px !important; }

.gs-web-image-box { margin-right: 20px !important; }

.gs-web-image-box img.gs-image { max-width: 65px !important; border: none !important; }

.gs-title { border-bottom-style: none; }

.post-ratings { opacity: 1; color: rgb(102, 102, 102); margin-top: 30px; padding-top: 25px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 204, 204); }

.star { float: left; font-size: 48px; font-weight: 700; margin-right: 15px; color: rgb(0, 0, 0); vertical-align: middle; font-family: tahoma; display: inline-block; border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 204, 204); padding-right: 15px; line-height: 1; }

.post-ratings-loading { display: none; height: 16px; text-align: left; }

.post-ratings-image { border: 0px; }

.post-ratings img, .post-ratings-loading img, .post-ratings-image img { border: 0px; padding: 0px; margin: 0px; vertical-align: middle; }

.post-ratings-comment-author { font-weight: 400; font-style: italic; }

.post-ratings-hover { cursor: pointer; border: 0px; }

.archive_rating { float: right; font-size: 16px; color: rgb(51, 51, 51); font-weight: 700; margin: -26px 10px 0px 0px; }

.star_color { color: rgb(255, 168, 34); }

.sitemap-wraper { margin: 20px 0px; padding-bottom: 30px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); text-transform: uppercase; position: relative; }

.sitemap-wraper h2 { font-family: Montserrat, sans-serif; font-size: 18px; }

.sitemap-wraper a { color: rgb(68, 114, 185); }

.sitemap-wraper a:hover, .sitemap-wraper a:focus { color: rgb(51, 51, 51); }

.sitemap-wraper img { max-width: 150px; width: 22.686%; margin-right: 2.314%; height: auto !important; }

.top-100-wraper { margin: 20px 0px; position: relative; }

.top-100-wraper img { max-width: 150px; width: 22.686%; margin: 0px 2.314% 3% 0px; height: auto !important; }

.footer-wrap { padding: 0px 25px; }

.footer-action { display: flex; flex-wrap: wrap; -webkit-box-pack: justify; justify-content: space-between; }

.footer-action > .site-footer { width: 49.54%; margin-bottom: 10px; float: left; }

.site-footer { position: relative; color: rgb(153, 153, 153); font-size: 16px; padding: 25px 35px; margin: 0px 0px 10px; background: rgb(21, 21, 21); }

.site-footer h4 { color: rgb(255, 255, 255); font-size: 23px; margin: 0px 0px 17px; }

.site-footer p > a { color: rgb(255, 255, 255); font-weight: 700; }

.site-footer-social { margin-right: 0.92%; }

.site-footer-links p > a { margin-right: 4%; }

.copy { float: right; font-size: 13px; }

.recent_comments_wrap { margin: 0px 10px; font-size: 13px; }

.bullets li { font-size: 16px; margin: 0px 10px 20px 20px; }

.subsc { font-size: 13px; margin: 0px 10px 0px 15px; }

.subsc li { list-style: none; margin: 0px 0px 3px 15px; }

.recentwrap { border: 1px solid rgb(204, 204, 204); border-radius: 5px; margin: 15px 0px; padding: 5px 7px 0px; }

.recenthead { border: 1px solid rgb(204, 204, 204); margin-bottom: 5px; font-weight: 700; color: rgb(255, 255, 255); font-size: 15px; border-radius: 5px; padding: 3px 0px 3px 10px; background-color: rgb(117, 159, 188); }

.recentline { margin-left: 4px; }

.headsentences { font-weight: bolder; font-size: 16px; }

@media (max-width: 81em) { 
  .top-bar { font-size: 12px; }
  .module { padding: 30px; }
  .middle-ad { padding: 20px 30px; }
  .archive-title { padding-left: 30px !important; padding-right: 30px !important; }
  .title { padding-left: 30px; padding-right: 30px; }
  .excerptpic img { margin-right: 30px; }
  .junk-excerptpic img { margin-right: 14px; }
  .contentpic img { margin-right: 30px; }
  .junk-contentpic img { margin-right: 14px; }
  .site-footer { padding: 20px 30px; }
}

@media (max-width: 74em) { 
  .top-bar { padding-right: 20px; padding-left: 20px; }
  .grid { padding: 10px 0px 0px 20px; }
  [class*="grid-"] { padding-right: 20px; }
  .grid-2-3 { padding-right: 10px; }
  .ad4 { margin: 0px 20px 10px 0px; }
  .footer-wrap { padding: 0px 20px; }
  .site-footer { padding: 15px 20px; }
}

@media (max-width: 72em) { 
  .galery { padding: 20px 3% !important; }
  .galery img { margin: 0px 1.953%; width: 29.416%; max-width: 205px; height: auto !important; }
}

@media (max-width: 59em) { 
  .top-bar { width: 766px; }
  .logo { float: none; }
  .page-wrap { width: 766px; }
  [class*="grid-"] { width: 100%; display: block; padding-right: 20px; }
  .nav-block { margin-top: 10px; float: none; }
  .search { width: 35%; }
  .galery { padding: 4% 3% !important; }
  .site-footer { font-size: 15px; }
  .site-footer h4 { font-size: 20px; }
}

@media (max-width: 49em) { 
  html { font-size: 16px; }
  h1, .h1 { font-size: 33px; }
  h2, .h2 { font-size: 27px; }
  .single-h2-title h2 { font-size: 16px; }
  .top-bar { width: 100%; }
  .page-wrap { width: 100%; }
}

@media (max-width: 47em) { 
  .footer-action > .site-footer { width: 100%; float: none; }
  .site-footer-social { margin-right: 0px; }
  .site-footer-links p > a { line-height: 30px; }
  .copy { float: none; }
}

@media (max-width: 43em) { 
  .top-bar { padding: 10px; }
  .search { width: 30%; }
  .grid { padding: 10px 10px 0px; }
  [class*="grid-"] { padding: 0px !important; }
  .module { padding: 20px; }
  .middle-ad { padding: 20px; }
  .sitemap-wraper h2 { font-size: 16px; }
  .footer-wrap { padding: 0px 10px; }
  .ad4 { margin: 0px 10px 10px 0px; }
}

@media (max-width: 37em) { 
  .top-bar { padding: 10px 0px 0px; text-align: center; }
  .logo { text-align: center; }
  .main-nav { float: none; }
  .main-nav > a { width: 33.333%; margin: 0px -2px; border-radius: 0px; }
  .search { width: 100%; float: none; margin: 0px auto; padding: 10px 10px 0px; text-align: center; background: rgb(238, 238, 238); }
  #search-form { border: 1px solid rgba(0, 0, 0, 0.498039); }
  h1, .h1 { font-size: 26px; }
  .single-h2-title h2 { font-size: 15px; }
  .selection label { display: none; }
  .middle-ad { box-shadow: none; padding: 0px; background: transparent; }
  .number_shares { font-size: 34px; line-height: 21px; }
  .share-link { padding: 5px 12px; font-size: 15px; }
  .post-ratings { font-size: 14px; margin-top: 20px; padding-top: 15px; }
  .star { font-size: 40px; margin-right: 10px; padding-right: 10px; }
  .copy { font-size: 12px; }
}

@media (max-width: 32em) { 
  .logo { font-size: 26px; }
  #search-form button { margin-right: 12px; }
  .title { padding-left: 20px; padding-right: 20px; }
  .archive-title { padding-left: 20px !important; padding-right: 20px !important; }
  .archive-title h1 { font-size: 13px; line-height: 1.9; }
  .selection { font-size: 13px; }
  .excerptpic img { margin-right: 20px; margin-bottom: 10px; }
  .junk-excerptpic img { margin-right: 4px; margin-bottom: 10px; }
  .contentpic img { margin-right: 20px; margin-bottom: 5px; }
  .junk-contentpic img { margin-right: 4px; margin-bottom: 5px; }
  .meta-bar { font-size: 12px; }
  .preview-tag { font-size: 13px; }
  .meta-single .commentcount { float: none; display: block; margin-top: 7px; }
  .cat-list a { font-size: 13px; }
  .footer-wrap { padding: 0px; }
  .site-footer { padding: 10px; margin: 0px 10px; font-size: 14px; }
  .site-footer h4 { font-size: 18px; }
}

@media (max-width: 24em) { 
  .number_shares { font-size: 22px; line-height: 20px; margin-left: 0px; }
  .share-link { padding: 4px 8px; font-size: 14px; }
  .post-ratings { font-size: 13px; }
  .star { font-size: 26px; margin-right: 10px; padding-right: 10px; line-height: 1.4; }
  .email-field-sidebar { font-size: 14px; width: 58%; }
  .button-sidebar { font-size: 14px; }
}

@media (max-width: 22.4em) { 
  .archive-title h1 { font-size: 11px; line-height: 1.9; }
  .selection { font-size: 12px; }
  .logo { font-size: 22px; }
  .main-nav > a { font-size: 14px; padding: 4px 10px; }
  .email-field-sidebar { width: 52%; }
}

@media (max-width: 790px) { 
  .pagination { margin-bottom: 0px; }
  .ad4 { display: none; }
}

@media (max-width: 376px) { 
  .mobile { box-shadow: none; padding: 0px !important; background: none; }
}

.atf_ad { display: inline-block; width: 300px; height: 250px; }

.mid_ad { display: inline-block; width: 300px; height: 600px; }

@media (max-width: 944px) { 
  .atf_ad { display: none; }
  .mid_ad { display: none; }
  aside .module-ad { padding: 0px; margin: 0px; box-shadow: none; background: none; }
}
