/* Effective stylesheet produced by snapshot save */
html.fsrInvitePresent:not(.fsrM) { overflow: hidden; }
.fsrB a:active, .fsrDoHover a, html:not(.fsrM) .fsrB a:hover { background: transparent -moz-linear-gradient(center top , rgb(227, 227, 227) 0px, rgb(198, 198, 198) 100%) repeat scroll 0% 0%; }
:-moz-placeholder { color: rgb(118, 118, 118); }
*::-moz-placeholder { color: rgb(118, 118, 118); }
