@charset "utf-8";

.btn-facebook { border-color: rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.247059); color: rgb(255, 255, 255); background-color: rgb(88, 126, 191); }

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook { border-color: rgb(57, 92, 151) rgb(57, 92, 151) rgb(52, 84, 139); color: rgb(255, 255, 255); background-color: rgb(80, 110, 161); }

.btn-twitter { border-color: rgb(43, 159, 194); color: rgb(255, 255, 255); background-color: rgb(49, 176, 213); }

.btn-twitter.active, .btn-twitter.focus, .btn-twitter:active, .btn-twitter:focus, .btn-twitter:hover { border-color: rgb(38, 154, 188); color: rgb(255, 255, 255); background-color: rgb(42, 169, 206); }

.auth-wrapper .auth-header { margin-bottom: 0px; }

.auth-wrapper .auth-inner { padding: 70px; min-height: 400px; background: url("/static/img/account/robot-illustration.jpg") 0px 200px no-repeat; }

.auth-welcome { text-align: center; width: 450px; font-size: 14px; line-height: normal; }

.auth-welcome .welcome-message { font-family: CompleteInHimPro; font-size: 30px; font-weight: normal; color: rgb(85, 85, 85); }

.auth-welcome .support-message { font-size: 18px; margin-bottom: 0px; }

.auth-welcome .gopro-message { color: rgb(117, 117, 117); }

.upgrade-image { width: 280px; height: 140px; }

.auth-form input { box-sizing: border-box; width: 100%; height: 28px; margin-bottom: 20px; }

.auth-form.login-form { margin-bottom: 0px; }

.auth-form input.ie-password-input { width: 100%; vertical-align: baseline; }

.auth-form .ie-password-label { margin-right: 6px; }

.auth-form input + label.error { color: red; font-size: 12px; position: relative; top: -16px; }

.auth-form select { width: 100%; }

.auth-modal { left: 58%; }

.auth-modal, .auth-container { width: 320px; line-height: normal; }

.auth-container { border-top-width: 1px; border-top-style: solid; border-top-color: lightgray; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.34902) 0px 1px 3px; -webkit-background-clip: padding-box; outline: none; background-color: rgb(255, 255, 255); background-clip: padding-box; }

.auth-modal .modal-header { padding: 9px 20px; border-radius: 6px 6px 0px 0px; background-color: rgb(245, 245, 245); }

.auth-modal .modal-header h3 { font-family: CompleteInHimPro; font-weight: normal; font-size: 28px; margin: 3px 0px -3px; }

.auth-modal .modal-body, .auth-container .auth-container-body { padding: 20px; }

.auth-modal .modal-body { max-height: none; }

.auth-container .auth-container-body { position: relative; overflow-y: auto; }

.auth-modal .modal-footer, .auth-container .auth-container-footer { padding: 14px 20px; text-align: left; font-size: 12px; }

.auth-container .auth-container-footer { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221); border-radius: 0px 0px 6px 6px; box-shadow: rgb(255, 255, 255) 0px 1px 0px inset; background-color: rgb(245, 245, 245); }

.auth-modal .modal-footer a, .auth-container .auth-container-footer a { color: rgb(119, 119, 119); }

.auth-module .login-footer { margin-top: 10px; text-align: center; }

.auth-module .divider { text-align: center; color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221); margin: 20px 0px; }

.auth-module .divider span { display: inline-block; position: relative; top: -7px; padding: 0px 10px; background: rgb(255, 255, 255); }

.auth-module .btn-large { width: 100%; }

.auth-module .carousel { margin: 0px; height: 120px; }

.auth-module .social-login-options .btn-large { width: 135px; margin-bottom: 10px; }

.auth-module .robot-speech-bubble { width: auto; height: 135px; margin: 0px 0px 10px; background-size: 281px; }

.auth-module .robot-speech-bubble .bubble { padding: 10px; overflow: hidden; height: 80px; width: 180px; top: 0px; right: 0px; }

.auth-module .robot-speech-bubble .bubble span { font-size: 18px; position: relative; top: 0px; color: rgb(85, 85, 85); }

.auth-module .tooltip-inner { background-color: rgb(206, 65, 39); }

.auth-module .tooltip.top .tooltip-arrow { border-top-color: rgb(206, 65, 39); }

.auth-module .error-label { display: none; white-space: normal; margin-bottom: 20px; }

.auth-module .legal { font-size: 13px; }

.auth-login .btn-large { margin-bottom: 20px; }

.auth-gopro-prompt .btn-large { width: auto; display: block; }

.auth-gopro-prompt .btn-primary { margin-bottom: 20px; }

.auth-gopro-signup .btn-large { width: 100%; display: block; }

.auth-gopro-signup .robot-speech-bubble, .auth-gopro-prompt .robot-speech-bubble { width: 280px; height: 100px; margin-bottom: 10px; background-image: url("/static/img/gopro/robot-speechbubble-modal.png"); }

.auth-gopro-signup .robot-speech-bubble .bubble p, .auth-gopro-prompt .robot-speech-bubble .bubble p { margin-bottom: 0px; }

.auth-gopro-prompt .robot-speech-bubble .bubble span { top: 10px; }

.auth-forgot-password .robot-speech-bubble { width: 280px; height: 149px; background-image: url("/static/img/account/forgot-robot-speechbubble.png"); }

.auth-forgot-password .robot-speech-bubble .bubble { width: 128px; height: 142px; }

.auth-forgot-password .robot-speech-bubble .bubble span { display: inline-block; font-size: 22px; width: 130px; }

.auth-reset-password .robot-speech-bubble .bubble { width: 150px; height: 120px; }

.auth-reset-password .robot-speech-bubble .bubble span { display: inline-block; width: 147px; }

.wide-robot-messaging .robot-speech-bubble { width: 280px; height: 100px; margin-bottom: 10px; background-image: url("/static/img/gopro/robot-speechbubble-modal.png"); }

.wide-robot-messaging .robot-speech-bubble .bubble p { margin-bottom: 0px; }

.recaptcha-container { transform: scale(0.925); transform-origin: 0px 0px 0px; }
