@charset "utf-8";

.dl-menuwrapper li.featured-item .adspot-item a { padding: 0px; }

.dl-menuwrapper li.featured-item .adspot-item { padding: 15px 20px; }

.dl-menu li.featured-item .ad-image span { display: block; }

.dl-menu li.featured-item .ad-image { float: left; }

#promo-tabs a { line-height: 38px; margin: 0px; }

#promo-tabs .adspot-link > a { margin: 0px 12px; }

#promo-tabs .adspot-item { line-height: 38px; height: 38px; margin: 0px 12px; position: relative; color: rgb(153, 153, 153); font-size: 14px; }

#promo-tabs .adspot-item:hover { color: rgb(119, 119, 119); cursor: pointer; }

#promo-tabs .adspot-item > div, #promo-tabs .adspot-item > a { float: left; }

.sponsored-hubs { background-position: 0px center; }

#promo-tabs .promo { vertical-align: middle; display: inline-block; }

#promo-tabs .ad-image { display: block; margin: 0px; padding-right: 6px; }

#promo-tabs #fusion-promo { width: 12px; }

#fusion-promo { width: 12px; height: 20px; background: url("FWAQ00BIO4JHLY7.png") 0% 0% / 100% no-repeat; }

#promo-tabs #jewelry-promo { width: 19px; }

#jewelry-promo { width: 20px; height: 22px; background: url("http://www.instructables.com/files/orig/F8W/7XNU/IKRNIJJS/F8W7XNUIKRNIJJS.png") 50% / 100% no-repeat; }

#promo-tabs #comics-promo { width: 19px; }

#comics-promo { width: 24px; height: 20px; background: url("FICD5VLIK7BVCUN.png") 50% / 100% no-repeat; }

#promo-tabs #usb-promo { width: 19px; }

#usb-promo { width: 20px; height: 20px; background: url("F34PV8BIK7BVCUO.png") 50% / 100% no-repeat; }

#promo-tabs #weddings-promo { width: 19px; }

#weddings-promo { width: 16px; height: 21px; background: url("F6G67EJIK7BVDKR.png") 50% / 100% no-repeat; }

#promo-tabs #knitting-promo { width: 19px; }

#knitting-promo { width: 20px; height: 20px; background: url("FCHL8AOIK77I5YE.png") 50% / 100% no-repeat; }

#promo-tabs #survival-promo { width: 19px; }

#survival-promo { width: 18px; height: 24px; background: url("FECRHI0IK77I4O7.png") 50% / 100% no-repeat; }

#promo-tabs #parties-promo { width: 19px; }

#parties-promo { width: 12px; height: 20px; background: url("FR5QBNSIEVUTL02.png") 50% / 100% no-repeat; }

#promo-tabs #breakfast-channel-promo { width: 19px; }

#breakfast-channel-promo { width: 20px; height: 22px; background: url("F7TMYHLIC29YSGV.png") 50% / 100% no-repeat; }

#promo-tabs #minecraft-channel-promo { width: 19px; }

#minecraft-channel-promo { width: 20px; height: 22px; background: url("FE30DBSIC29YU3R.png") 50% / 100% no-repeat; }

#promo-tabs #valentines-promo { width: 19px; }

#valentines-promo { width: 20px; height: 20px; background: url("http://www.instructables.com/files/orig/FSU/Y9TZ/IK75D9A9/FSUY9TZIK75D9A9.png") 50% / 100% no-repeat; }

#promo-tabs #intel-promo { width: 30px; height: 20px; }

#intel-promo { width: 30px; height: 20px; background: url("FCJZWD6I8R6DWCO.png") 50% / 100% no-repeat; }

#promo-tabs #lifehacks-channel-promo { width: 25px; height: 24px; position: relative; background-size: 20px; }

#lifehacks-channel-promo { width: 30px; height: 25px; background: url("FLDEEXRIC29YQ7O.png") 0% 0% / 25px no-repeat; }

#promo-tabs #lasercutting-channel-promo { width: 24px; height: 24px; position: relative; background-size: 22px; }

#lasercutting-channel-promo { width: 30px; height: 25px; background: url("F3AMWBWI6WDPJZL.png") 0% 0% / 25px no-repeat; }

#promo-tabs #woodworking-channel-promo { width: 19px; }

#woodworking-channel-promo { width: 21px; height: 20px; background: url("FOPJNXTI6WDPJZW.png") 50% / 100% no-repeat; }

#home-explore .adspot-link { width: 100%; margin-bottom: 10px; }

.sponsored-hubs .featured-item.btn { text-align: center; }

.ad-image div { height: 30px; background-repeat: no-repeat; }

.sponsored-hubs .featured-item.btn .ad-image { display: inline-block; vertical-align: top; }

.sponsored-hubs .featured-item.btn .ad-image span { display: inline-block; margin-right: 5px; }

div#propricing label { vertical-align: top; }

body.home .featured-items li { margin: 0px 20px 20px 0px; }

#home-advertiser-adslot { line-height: 0; font-size: 0px; }

#contest-content .contest-prizes ul, #contest-content .contest-prizes ol, #contest-content .contest-description ul, #contest-content .contest-description ol { list-style: disc inside none; }

#community-menu .bg-icon.groups { margin-top: 0px; }
